{% extends 'base.html' %}

{% block content %}
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Site Settings</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item active">Site Settings</li>
            </ol>
        </div>
    </div>

<!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-md-12 col-lg-4 col-xlg-3">
            <div class="card">
                <div class="card-body">
                    <center class="mt-4"> <i class="fas fa-user-circle fa-4x"></i>
                        <h4 class="card-title mt-2">{{ request.user.get_full_name }}</h4>
                        <h6 class="card-subtitle">{% if editor %}Editor{% else %}User{% endif %}</h6>
<!--                        <div class="row text-center justify-content-md-center">-->
<!--                            <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-people"></i> <font class="font-medium">254</font></a></div>-->
<!--                            <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-picture"></i> <font class="font-medium">54</font></a></div>-->
<!--                        </div>-->
                    </center>
                </div>
                <div>
                    <hr> </div>
                <div class="card-body">
                    <small class="text-muted p-t-30 db">Service</small>
                    <h6>{{ service.service.service_name }}</h6>
                    <small class="text-muted p-t-30 db">Animal</small>
                    <h6>{{ service.animal_type|title }}</h6>
                    <small class="text-muted p-t-30 db">Site Mode</small>
                    <h6>{{ service.site_mode|title }}</h6>

                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-md-12 col-lg-8 col-xlg-9">
            <div class="card">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs profile-tab" role="tablist">
                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#overview" role="tab">Overview</a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#customFields" role="tab">Custom Fields</a> </li>
<!--                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Settings</a> </li>-->
<!--                    {% if request.user == service.user.user %}-->
<!--                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#billing" role="tab">Billing</a> </li>-->
<!--                    {% endif %}-->
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="overview" role="tabpanel">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 col-xs-6 border-right"> <strong>Full Name</strong>
                                    <br>
                                    <p class="text-muted">{{ request.user.get_full_name }}</p>
                                </div>
                                <div class="col-md-3 col-xs-6 border-right"> <strong>Username</strong>
                                    <br>
                                    <p class="text-muted">{{ request.user.username }}</p>
                                </div>
                                <div class="col-md-3 col-xs-6 border-right"> <strong>Email</strong>
                                    <br>
                                    <p class="text-muted">{{ request.user.email }}</p>
                                </div>
                                <div class="col-md-3 col-xs-6"> <strong>Account Type</strong>
                                    <br>
                                    {% if request.user == service.user.user %}
                                        <p class="text-muted">Service Owner</p>
                                    {% else %}
                                    <p class="text-muted"><strong>{% if editor %}Editor{% else %}Read only{% endif %}</strong>  member of <strong>{{ service.service }}</strong>, owned by <strong>{{ service.user.user.get_full_name }}</strong>(<a href="mailto:{{ service.user.user.email }}">{{ service.user.user.email }}</a>)</p>
                                    {% endif %}
                                </div>
                            </div>
                            <hr>
                            {% if editor %}
                                <p class="mt-4">As an editor you're able to add/delete {{ service.animal_type }}, breeders/owners, breeds and breed groups if it's a poultry service.</p>
                            {% else %}
                                <p class="mt-4">As a read only user you cannot add/delete any {{ service.animal_type }}, however you're free to browse all the data on this site.</p>
                            {% endif %}

                            {% if request.user == service.user.user and service.service.service_name != 'Organisation' %}
                                <h4 class="font-medium mt-4">Available Services</h4>
                                <div class="row pricing-plan pt-2">
                                    {% for plan in services.all %}
                                        {% if plan.service_name != service.service.service_name %}
                                            <div class="col-md-3 col-xs-12 col-sm-6 no-padding">
                                                <div class="pricing-box {% if plan.id == recommended.first.id %}featured-plan{% endif %}">
                                                    <div class="pricing-body">
                                                        <div class="pricing-header">
                                                            {% if plan.id == recommended.first.id %}
                                                                <h4 class="price-lable text-white bg-warning"> Suggested</h4>
                                                            {% endif %}
                                                            <h4 class="text-center">{{ plan.service_name }}</h4>
                                                            <h2 class="text-center"><span class="price-sign">£</span>{{ plan.price_per_month|add:"0" }}</h2>
                                                            <p class="uppercase">per month</p>
                                                        </div>
                                                        <div class="price-table-content">
                                                            <div class="price-row"><i class="fas fa-pencil-alt"></i> {{ plan.admin_users }} Editors</div>
                                                            <div class="price-row"><i class="fas fa-book-reader"></i> {{ plan.read_only_users }} Read only Users</div>
                                                            <div class="price-row"><i class="fas fa-paw"></i> {% if plan.number_of_animals == 99 %}
                                                                                                                    Unlimited
                                                                                                                {% else %}
                                                                                                                    {{ plan.number_of_animals }}
                                                                                                                {% endif %} Animals <i class="fas fa-feather-alt"></i></div>
                                                            <div class="price-row">{% if plan.multi_breed %}
                                                                                        <i class="fas fa-check"></i>
                                                                                    {% else %}
                                                                                        <i class="fas fa-times"></i>
                                                                                    {% endif %} Multibreed</div>
                                                            <div class="price-row">{% if plan.support %}
                                                                                        <td><i class="fas fa-check"></i></td>
                                                                                    {% else %}
                                                                                        <td><i class="fas fa-times"></i></td>
                                                                                    {% endif %} Support</div>
                                                            <div class="price-row">
                                                                {% if plan.active %}
                                                                    <a href="{% url 'order' %}?id={{ plan.id }}&upgrade={{ service.id }}"><button class="btn btn-lg {% if plan.id < recommended.first.id %}btn-warning{% else %}btn-info{% endif %} waves-effect waves-light mt-3">{% if plan.id < recommended.first.id %}Downgrade{% else %}Upgrade{% endif %}</button></a>
                                                                {% else %}
                                                                    <button class="btn btn-lg btn-secondary waves-effect waves-light mt-3">Coming Soon!</button>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <!--second tab-->
                    <div class="tab-pane" id="customFields" role="tabpanel">
                        <div class="card-body">

                            <div class="table-responsive">
                                <table id="footable-addrow" class="table" data-paging="true" data-filtering="true" data-sorting="true" data-editing="{% if editor %}true{% else %}false{% endif %}" data-state="true"></table>
                            </div>
                            <!-- Start Popup Model -->
                            <div class="modal fade" id="editor-modal" tabindex="-1" role="dialog" aria-labelledby="editor-title">
                                <div class="modal-dialog" role="document">
                                    {% if editor %}
                                    <form class="modal-content form-horizontal" id="editor">
                                        {% csrf_token %}
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <h4 class="modal-title" id="editor-title">Add Field</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="location" class="col-sm-3 control-label">Location</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" id="location" name="location" required>
                                                    <option value="pedigree">Pedigree</option>
                                                    <option value="breeder">Breeder</option>
                                                    <option value="breed">Breed</option>
                                                </select>
                                                </div>
                                            </div>
                                            <div class="form-group required">
                                                <label for="fieldName" class="col-sm-3 control-label">Field Name</label>
                                                <div class="col-sm-9">
                                                    <input type="text" class="form-control" id="fieldName" name="fieldName" placeholder="Field Name" required>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="fieldType" class="col-sm-3 control-label">Field Type</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control" id="fieldType" name="fieldType" required>
                                                    <option value="textField">Text Field</option>
                                                    <option value="textBox">Text Box</option>
                                                </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <input type="hidden" id="formType" name="formType">
                                            <input type="hidden" id="id" name="id">
                                            <button type="submit" id="userFormBtn" class="btn btn-primary">Save changes</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </form>
                                    {% endif %}
                                </div>
                            </div>
                            <!-- End Popup Model -->
                            <script>
                                $(window).on('load', function() {

                                    // Add & Remove Row
                                    // -----------------------------------------------------------------
                                    var $modal = $('#editor-modal'),
                                        $editor = $('#editor'),
                                        $editorTitle = $('#editor-title'),
                                        ft = FooTable.init('#footable-addrow', {
                                            columns: [
                                              {"name":"id","title":"ID"},
                                              {"name":"location","title":"Location"},
                                              {"name":"fieldName","title":"Field Name"},
                                              {"name":"fieldType","title":"Field Type"},
                                            ],
                                            rows: [{% for field_key, field_vals in custom_fields.items %}
                                                       {{ field_vals|safe }},
                                                   {% endfor %}],
                                            editing: {
                                                addRow: function(){
                                                    $modal.removeData('row');
                                                    $editor[0].reset();
                                                    $editorTitle.text('Add a new field');
                                                    $('#formType').val('new');
                                                    $modal.modal('show');
                                                },
                                                editRow: function(row){
                                                    var values = row.val();
                                                    $editor.find('#id').val(values.id);
                                                    $editor.find('#location').val(values.location);
                                                    $editor.find('#fieldName').val(values.fieldName);
                                                    $editor.find('#fieldType').val(values.fieldType);
                                                    $modal.data('row', row);
                                                    $editorTitle.text('Edit user #' + values.id);
                                                    $('#formType').val('edit');
                                                    $modal.modal('show');
                                                },
                                                deleteRow: function(row){
                                                    var values = row.val();
                                                    $editor.find('#id').val(values.id);
                                                    $editor.find('#fieldName').val(values.fieldName);
                                                    $('#formType').val('delete');
                                                    if (confirm('Are you sure you want to delete this field?')){

                                                        $('#userFormBtn').click();
                                                        //row.delete();
                                                        location.reload();
                                                    }
                                                }
                                            }
                                        }),
                                        uid = 01;

                                        $editor.on('submit', function(e){
                                            if (this.checkValidity && !this.checkValidity()) return;
                                            e.preventDefault();
                                            var row = $modal.data('row'),
                                                values = {
                                                    id: $editor.find('#id').val(),
                                                    location: $editor.find('#location').val(),
                                                    fieldName: $editor.find('#fieldName').val(),
                                                    fieldType: $editor.find('#fieldType').val(),
                                                };

                                            if (row instanceof FooTable.Row){
                                                row.val(values);
                                            } else {
                                                values.id = uid++;
                                                ft.rows.add(values);
                                            }

                                            $.ajax({
                                                url: '{% url 'custom_field_edit' %}',
                                                type: 'post',
                                                dataType: 'text',
                                                async: false,
                                                data: $('#editor').serialize(),
                                                success: function(data) {
                                                    console.log(data)
                                                 },
                                                error: function(jqXHR, textStatus, errorThrown){
                                                    console.log('jqXHR:');
                                                    console.log(jqXHR);
                                                    console.log('textStatus:');
                                                    console.log(textStatus);
                                                    console.log('errorThrown:');
                                                    console.log(errorThrown);
                                                }
                                            });

                                            $modal.modal('hide');
                                        });
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
    <!-- Row -->
{% endblock %}