{% extends 'base.html' %}

{% block content %}
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Site Settings</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item active">Site Settings</li>
            </ol>
        </div>
    </div>

<!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-md-12 col-lg-4 col-xlg-3">
            <div class="card">
                <div class="card-body">
                    <center class="mt-4"> <i class="fas fa-user-circle fa-4x"></i>
                        <h4 class="card-title mt-2">{{ request.user.get_full_name }}</h4>
                        <h6 class="card-subtitle">{% if editor %}Editor{% else %}User{% endif %}</h6>
<!--                        <div class="row text-center justify-content-md-center">-->
<!--                            <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-people"></i> <font class="font-medium">254</font></a></div>-->
<!--                            <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-picture"></i> <font class="font-medium">54</font></a></div>-->
<!--                        </div>-->
                    </center>
                </div>
                <div>
                    <hr> </div>
                <div class="card-body">
                    <small class="text-muted p-t-30 db">Service</small>
                    <h6>{{ service.service.service_name }}</h6>
                    <small class="text-muted p-t-30 db">Animal</small>
                    <h6>{{ service.animal_type|title }}</h6>
                    <small class="text-muted p-t-30 db">Site Mode</small>
                    <h6>{{ service.site_mode|title }}</h6>

                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-md-12 col-lg-8 col-xlg-9">
            <div class="card">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs profile-tab" role="tablist">
                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#overview" role="tab">Overview</a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#users" role="tab">Users</a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#customFields" role="tab">Custom Fields</a> </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="overview" role="tabpanel">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 col-xs-6 border-right"> <strong>Full Name</strong>
                                    <br>
                                    <p class="text-muted">{{ request.user.get_full_name }}</p>
                                </div>
                                <div class="col-md-3 col-xs-6 border-right"> <strong>Username</strong>
                                    <br>
                                    <p class="text-muted">{{ request.user.username }}</p>
                                </div>
                                <div class="col-md-3 col-xs-6 border-right"> <strong>Email</strong>
                                    <br>
                                    <p class="text-muted">{{ request.user.email }}</p>
                                </div>
                                <div class="col-md-3 col-xs-6"> <strong>Account Type</strong>
                                    <br>
                                    {% if request.user == service.user.user %}
                                        <p class="text-muted">Service Owner</p>
                                    {% else %}
                                    <p class="text-muted"><strong>{% if editor %}Editor{% else %}Read only{% endif %}</strong>  member of <strong>{{ service.service }}</strong>, owned by <strong>{{ service.user.user.get_full_name }}</strong>(<a href="mailto:{{ service.user.user.email }}">{{ service.user.user.email }}</a>)</p>
                                    {% endif %}
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <!--second tab-->
                    <div class="tab-pane" id="users" role="tabpanel">
                        <div class="card-body">
                            <table id="userTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>Stats</th>
                                        {% if editor %}<th scope="col" class="d-none d-sm-table-cell">Edit</th>{% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                {% for user in service.admin_users.all %}
                                    <tr>
                                        <td>{{ user.first_name }}</td>
                                        <td>{{ user.last_name }}</td>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.email }}</td>
                                        <td><span class="label label-light-info"> Editor</span></td>
                                        {% if editor %}<td><button class="btn btn-sm btn-outline-info" id="userEdit">Edit</button> <button class="btn btn-sm btn-danger" id="userDeleteBtn">Delete</button></td>{% endif %}
                                    </tr>
                                {% endfor %}
                                {% for user in service.contributors.all %}
                                    <tr>
                                        <td>{{ user.first_name }}</td>
                                        <td>{{ user.last_name }}</td>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.email }}</td>
                                        <td><span class="label label-light-success"> Contributor</span></td>
                                        {% if editor %}<td><button class="btn btn-sm btn-outline-info" id="userEdit">Edit</button> <button class="btn btn-sm btn-danger" id="userDeleteBtn">Delete</button></td>{% endif %}
                                    </tr>
                                {% endfor %}
                                {% for user in service.read_only_users.all %}
                                    <tr>
                                        <td>{{ user.first_name }}</td>
                                        <td>{{ user.last_name }}</td>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.email }}</td>
                                        <td><span class="label label-light-warning"> Read Only</span></td>
                                        {% if editor %}<td><button class="btn btn-sm btn-outline-info" id="userEdit">Edit</button> <button class="btn btn-sm btn-danger" id="userDeleteBtn">Delete</button></td>{% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% if editor %}
                                <a type="hidden" id="openUserModal" data-toggle="modal" data-target="#verticalcenter"></a>
                                <button class="btn btn-success" id="createNew">Create New User</button>

                                <div id="verticalcenter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="vcenter" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="vcenter">New/Edit User</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            </div>
                                            <div class="modal-body">
                                                <form class="form-horizontal" id="editor">
                                                    <div class="modal-body">
                                                        <div class="form-group required">
                                                            <label for="firstName" class="control-label">First Name</label>
                                                            <div class="col-sm-9">
                                                                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group required">
                                                            <label for="lastName" class="control-label">Last Name</label>
                                                            <div class="col-sm-9">
                                                                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group required">
                                                            <label for="register-form-username" class="control-label">Username</label>
                                                            <div class="col-sm-9">
                                                                <input type="text" class="form-control" id="register-form-username" name="register-form-username" placeholder="Username" required>
                                                                <span id='username_message'></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="register-form-email" class="control-label">Email</label>
                                                            <div class="col-sm-9">
                                                                <input type="text" class="form-control" id="register-form-email" name="register-form-email" placeholder="Email" required>
                                                                <span id='email_message'></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="status" class="control-label">Status</label>
                                                            <div class="col-sm-9">
                                                                <select class="form-control" id="status" name="status" required>
                                                                <option value="Read Only">Read Only</option>
                                                                <option value="Contributor">Contributor</option>
                                                                <option value="Editor">Editor</option>
                                                            </select>
                                                            </div>
                                                        </div>
                                                        <input type="hidden" id="formType" name="formType" value="new">
                                                    </div>
                                                </form>
                                                <div class="modal-footer">

                                                    <button id="userFormBtn" class="btn btn-success">Save changes</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- delete user modal content -->
                             <a type="hidden" id="deleteUserModal" data-toggle="modal" data-target="#delete"></a>
                                <div id="delete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="vcenter" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="vcenter">Deletion Confirmation</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure you want to delete this user?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Close</button>
                                                <button type="submit" id="userDelete" name="delete" value="delete" class="btn btn-danger float-right">Yes, delete it!</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endif %}

                            <script>
                                $('#createNew').click(function() {
                                    var currentRow=$(this).closest("tr");

                                    $('#firstName').val('');
                                    $('#lastName').val('');
                                    $('#register-form-username').val('');
                                    $("#register-form-username").prop("readonly", false);
                                    $('#register-form-email').val('');
                                    $("#register-form-email").prop("readonly", false);

                                    // edit form type
                                    $('#formType').val('new');
                                    // open modal
                                    $('#openUserModal').click();
                                });

                                $("#userTable").on('click','#userEdit',function(){
                                    var currentRow=$(this).closest("tr");

                                    $('#firstName').val(currentRow.find("td:eq(0)").text());
                                    $('#lastName').val(currentRow.find("td:eq(1)").text());
                                    $('#register-form-username').val(currentRow.find("td:eq(2)").text());
                                    $("#register-form-username").prop("readonly", true);
                                    $('#register-form-email').val(currentRow.find("td:eq(3)").text());
                                    $("#register-form-email").prop("readonly", true);
                                    // check if editor
                                    var status = currentRow.find("td:eq(4)").text();
                                    var editor = status.includes('Editor');
                                    if (editor) {
                                       $('#status').val('Editor');
                                    } else {
                                       $('#status').val('Read Only');
                                    }
                                    // edit form type
                                    $('#formType').val('edit');
                                    // open modal
                                    $('#openUserModal').click();

                                });

                                $("#userTable").on('click','#userDeleteBtn',function(){
                                    var currentRow=$(this).closest("tr");

                                    $('#firstName').val(currentRow.find("td:eq(0)").text());
                                    $('#lastName').val(currentRow.find("td:eq(1)").text());
                                    $('#register-form-username').val(currentRow.find("td:eq(2)").text());
                                    $("#register-form-username").prop("readonly", true);
                                    $('#register-form-email').val(currentRow.find("td:eq(3)").text());
                                    $("#register-form-email").prop("readonly", true);
                                    // check if editor
                                    var status = currentRow.find("td:eq(4)").text();
                                    var editor = status.includes('Editor');
                                    if (editor) {
                                       $('#status').val('Editor');
                                    } else {
                                       $('#status').val('Read Only');
                                    }
                                    // edit form type
                                    $('#formType').val('delete');
                                    // open modal
                                    $('#deleteUserModal').click();

                                });

                                $("#userDelete").click( function(){
                                    // auto click submit
                                    $('#userFormBtn').click();
                                });

                                $("#userFormBtn").click( function(){
                                    $.ajax({
                                        url: "{% url 'user_edit' %}",
                                        type: 'POST',
                                        headers: {'X-CSRFToken': '{{ csrf_token }}'},
                                        dataType: 'text',
                                        data: $('#editor').serialize(),
                                        success: function(data) {
                                            console.log(data);
                                            var result = JSON.parse(data);
                                            if (result.success){
                                                $('#verticalcenter').modal('toggle');
                                                location.reload();
                                            } else {
                                                console.log('something went wrong!');
                                            }
                                        }
                                    });
                                });


                                var fadeout = 100;
                                $('#register-form-username').keyup( function() {

                                    var username = document.getElementById("register-form-username").value;
                                    $.ajax({
                                        url: '{% url 'username_check' %}',
                                        type: 'post',
                                        dataType: 'text',
                                        data: $('#register-form-username').serialize(),
                                        success: function(data) {
                                            if (data == 'False') {
                                                $('#username_message').html('');
                                                } else {
                                                $('#userFormBtn[type="submit"]').prop('disabled', true);
                                                $('#username_message').html('<i class="icon-warning-sign"></i> <strong>Warning!</strong> Username is already in use!').css('color', 'red');
                                                }
                                            },
                                        error: function(jqXHR, textStatus, errorThrown){
                                            console.log('jqXHR:');
                                            console.log(jqXHR);
                                            console.log('textStatus:');
                                            console.log(textStatus);
                                            console.log('errorThrown:');
                                            console.log(errorThrown);
                                        }
                                    });
                                });

                                $('#register-form-email').keyup( function() {

                                    var username = document.getElementById("register-form-email").value;
                                    $.ajax({
                                        url: '{% url 'email_check' %}',
                                        type: 'post',
                                        dataType: 'text',
                                        data: $('#register-form-email').serialize(),
                                        success: function(data) {
                                        if (data == 'False') {
                                            $('#email_message').html('');
                                            $('#userFormBtn').prop('disabled', false);
                                            } else {
                                            $('#userFormBtn').prop('disabled', true);
                                            $('#email_message').html('<i class="icon-warning-sign"></i> <strong>Warning!</strong> Email address already in use!').css('color', 'red');
                                            }
                                         },
                                        error: function(jqXHR, textStatus, errorThrown){
                                            console.log('jqXHR:');
                                            console.log(jqXHR);
                                            console.log('textStatus:');
                                            console.log(textStatus);
                                            console.log('errorThrown:');
                                            console.log(errorThrown);
                                        }
                                    });
                                });
                            </script>
                        </div>
                    </div>
<!--                    thrid tab-->
                    <div class="tab-pane" id="customFields" role="tabpanel">
                        <div class="card-body">
                            <p class="text-left">You can add your own custom fields below! Start by clicking Edit rows, then click add new.</p>
                            <table id="cfTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Localtion</th>
                                        <th>Field Name</th>
                                        <th>Field Type</th>
                                        {% if editor %}<th scope="col" class="d-none d-sm-table-cell">Edit</th>{% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                {% for field_key, field_vals in custom_fields.items %}
                                    <tr>
                                        <td>{{ field_vals.id }}</td>
                                        <td>{{ field_vals.location }}</td>
                                        <td>{{ field_vals.fieldName }}</td>
                                        <td>{{ field_vals.fieldType }}</td>
                                        {% if editor %}<td><button class="btn btn-sm btn-outline-info" id="cfEdit">Edit</button> <button class="btn btn-sm btn-danger" id="cfDeleteBtn">Delete</button></td>{% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% if editor %}
                                <a type="hidden" id="openCfModal" data-toggle="modal" data-target="#cfverticalcenter"></a>
                                <button class="btn btn-success" id="createNewCf">Create New Custom Field</button>

                                <div id="cfverticalcenter" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="cfvcenter" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="cfvcenter">New/Edit Custom Field</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            </div>
                                            <div class="modal-body">
                                                <form class="form-horizontal" id="cfEditor">
                                                    <div class="form-group">
                                                        <label for="cfLocation" class="col-sm-3 control-label">Location</label>
                                                        <div class="col-sm-9">
                                                            <select class="form-control" id="cfLocation" name="location" required>
                                                            <option value="pedigree">Pedigree</option>
                                                            <option value="breeder">Breeder</option>
                                                            <option value="breed">Breed</option>
                                                        </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-group required">
                                                        <label for="cfFieldName" class="col-sm-4 control-label">Field Name</label>
                                                        <div class="col-sm-9">
                                                            <input type="text" class="form-control" id="cfFieldName" name="fieldName" placeholder="Field Name" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="cfFieldType" class="col-sm-3 control-label">Field Type</label>
                                                        <div class="col-sm-9">
                                                            <select class="form-control" id="cfFieldType" name="fieldType" required>
                                                            <option value="textField">Text Field</option>
                                                            <option value="textBox">Text Box</option>
                                                        </select>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" id="cfID" name="id">
                                                    <input type="hidden" id="cfFormType" name="formType">
                                                </form>
                                                <div class="modal-footer">

                                                    <button type="submit" id="cfFormBtn" class="btn btn-success">Save changes</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- delete user modal content -->
                             <a type="hidden" id="deleteCfModal" data-toggle="modal" data-target="#deleteCf"></a>
                                <div id="deleteCf" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="vcenter" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title" id="cfDelvcenter">Deletion Confirmation</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure you want to delete custom field?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Close</button>
                                                <button type="submit" id="cfDelete" name="delete" value="delete" class="btn btn-danger float-right">Yes, delete it!</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endif %}
                            <script>
                                $('#createNewCf').click(function() {
                                    var currentRow=$(this).closest("tr");

                                    $('#cfLocaltion').val('Pedigree');
                                    $('#cfFieldName').val('');
                                    $('#cfFieldType').val('textField');

                                    // edit form type
                                    $('#cfFormType').val('new');
                                    // open modal
                                    $('#openCfModal').click();
                                });

                                $("#cfTable").on('click','#cfEdit',function(){
                                    var currentRow=$(this).closest("tr");
                                    $('#cfID').val(currentRow.find("td:eq(0)").text());
                                    $('#cfLocation').val(currentRow.find("td:eq(1)").text());
                                    $('#cfFieldName').val(currentRow.find("td:eq(2)").text());
                                    $('#cfFieldType').val(currentRow.find("td:eq(3)").text());
                                    // edit form type
                                    $('#cfFormType').val('edit');
                                    // open modal
                                    $('#openCfModal').click();

                                });

                                $("#cfTable").on('click','#cfDeleteBtn',function(){
                                    var currentRow=$(this).closest("tr");
                                    $('#cfID').val(currentRow.find("td:eq(0)").text());
                                    $('#cfLocation').val(currentRow.find("td:eq(1)").text());
                                    $('#cfFieldName').val(currentRow.find("td:eq(2)").text());
                                    $('#cfFieldType').val(currentRow.find("td:eq(3)").text());
                                    // edit form type
                                    $('#cfFormType').val('delete');
                                    // open modal
                                    $('#deleteCfModal').click();

                                });

                                $("#cfDelete").click( function(){
                                    // auto click submit
                                    $('#cfFormBtn').click();
                                });

                                $("#cfFormBtn").click( function(){
                                    $.ajax({
                                        url: "{% url 'custom_field_edit' %}",
                                        type: 'POST',
                                        headers: {'X-CSRFToken': '{{ csrf_token }}'},
                                        dataType: 'text',
                                        data: $('#cfEditor').serialize(),
                                        success: function(data) {
                                            console.log(data);
                                            var result = JSON.parse(data);
                                            if (result.success){
                                                $('#cfverticalcenter').modal('toggle');
                                                location.reload();
                                            } else {
                                                console.log('something went wrong!');
                                            }
                                        }
                                    });
                                });
                            </script>

                            {% if editor %}
                                <!-- End Popup Model -->
                                <hr>
                                <h4>Parent Titles</h4>
                                <p>Parent titles can be changed from the default to anything you like. Use the free text boxes below to set custom Mother and Father titles.</p>

                                <div class="form-group">
                                    <label class="col-md-12">Mother</label>
                                    <div class="col-md-12">
                                        <input type="text" value="{{ service.mother_title }}" name="mother" id="mother" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Father</label>
                                    <div class="col-md-12">
                                        <input type="text" value="{{ service.father_title }}" name="father" id="father" class="form-control">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-10">
                                        <div class="alert " id="userSettingsAlert"> <div id="titleSettingsMessage"></div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <button id="selectTitleSettings" class="btn btn-success float-right">Update Titles</button>
                                    </div>

                                </div>
                                <script>
                                    $('#selectTitleSettings').click(function () {

                                        $.ajax({
                                            type: "POST",
                                            url: "{% url 'update_titles' %}",
                                            dataType: "text",
                                            headers: {'X-CSRFToken': '{{ csrf_token }}'},
                                            data: {
                                                "mother": $('#mother').val(),
                                                "father": $('#father').val(),
                                            },
                                            beforeSend: function() {
                                                $('#titleSettingsMessage').hide().html('<h5 class="text-right">Updating</h5>').fadeIn(1000);
                                            },
                                            success: function (data) {
                                                $('#titleSettingsMessage').hide().html('<h5 class="text-right">Titles updated!</h5>').fadeIn(1000);
                                                console.log(data);
                                            },
                                            error: function (xhr, textStatus, error) {
                                                $('#titleSettingsMessage').hide().html('<h5 class="text-right">Something went wrong, but we are working on it!</h5>').fadeIn(1000);
                                                console.log(error);
                                            },
                                        });
                                    });
                                </script>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
    <!-- Row -->
{% endblock %}