{% extends 'base.html' %}

{% block content %}

{% if service.site_mode == 'poultry' %}
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Breed Groups</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item active">Breed Groups</li>
            </ol>
        </div>
        <div class="col-md-6 col-4 align-self-center">

            {% if editor or contributor %}
                <a href="{% url 'new_breed_group_form' %}" class="btn float-right hidden-sm-down btn-success"><i class="fad fa-plus-square"></i> Create
                </a>
            {% else %}
                {% include 'login_modal.html' %}
                <!-- /.modal -->
                <button class="btn float-right hidden-sm-down btn-success" data-toggle="modal" data-target="#login"><i class="fad fa-plus-square"></i> Create</button>
            {% endif %}
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->

    <div class="row">
        <div class="col-12">
            <h2 class="featurette-heading">Groups</h2>
            <div class="card">
                <div class="card-body">
                    <table id="table" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col" class="d-none d-sm-table-cell">Breeder</th>
                            <th scope="col">Breed</th>
                            <th scope="col" class="d-none d-sm-table-cell">Male</th>
                            <th scope="col" class="d-none d-sm-table-cell">Female</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for group in groups.all %}
                                <tr>
                                    <td>{{ group.group_name }}</td>
                                    <td class="d-none d-sm-table-cell">{{ group.breeder }}</td>
                                    <td>{{ group.breed }}</td>
                                    <td class="d-none d-sm-table-cell">{% for member in group.group_members.all %}
                                            {% if member.sex == 'male' %}
                                                {% include 'relative.html' with pedigree=member %}
                                            {% endif %}
                                        {% endfor %}</td>
                                    <td class="d-none d-sm-table-cell">{% for member in group.group_members.all %}
                                            {% if member.sex == 'female' %}
                                                {% include 'relative.html' with pedigree=member %}
                                            {% endif %}
                                        {% endfor %}</td>
                                    <td>{% if editor or contributor %}
                                            {% if group.state != 'approved' %}
                                                <a href="{% url 'approvals' %}"><button class="btn btn-warning">Pending Approval</button></a>
                                            {% else %}
                                                <a href="{% url 'edit_breed_group_form' group.id %}" class="btn btn-outline-info"><i class="fad fa-pencil-alt"></i> Edit
                                                </a>
                                            {% endif %}
                                        {% else %}
                                            <button class="btn btn-outline-info" data-toggle="modal" data-target="#login"><i class="fad fa-pencil-alt"></i> Edit</button>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% else %}
<h1>Oops, you shouldn't be here!</h1>
{% endif %}

{% endblock %}