{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

{% if service.site_mode == 'poultry' %}

    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">New Breed Group Form</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{% url 'breed_groups' %}">Breed Groups</a></li>
                <li class="breadcrumb-item active">New Breed Group Form</li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->

    <div class="container pt-5">
        <div class="card ">
            <div class="card-header">
                <h4 class="mb-0 ">Add New Breed Group Form</h4>
            </div>
            {% if contributor %}
                <div class="alert alert-warning alert-rounded mt-2"> <i class="ti-alert"></i> New breed groups will need to be approved by an editor.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
            {% endif %}
            <div class="card-body">
                <form id="newBGForm" class="form-horizontal">
                    {% csrf_token %}
                    <div class="form-body">
                        <h3 class="box-title">Breed Info</h3>
                        <hr class="mt-0 mb-5">
                        {% if breed_group_form.errors %}
                            {% for field in breed_group_form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ field.label }}: {{ error }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in breed_group_form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="row">
                            {% for hidden in breed_group_form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}

                            {% for field in breed_group_form.visible_fields %}
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 text-right col-form-label">{{ field.label|title }}</label>
                                    <div class="col-md-9">
                                        {% if field.label == 'Breeder' %}
                                            <div id="breeders">
                                                <input class="typeahead form-control" name='{{ field.name }}' type="text" placeholder="{{ field.label|title }}">
                                            </div>
                                        {% elif field.label == 'Breed' %}
                                            <div id="breeds" class="form-group">
                                                <select id="breed" name='{{ field.name }}' class="form-control custom-select">
                                                    <option>--Select Breed--</option>
                                                    {% for breed in breeds %}
                                                            <option value="{{ breed }}">{{ breed }}</option>
                                                    {% endfor %}
                                                </select>
                                                <small>Changes to the above selection will refresh the available birds in the group members field below.</small>
                                            </div>
                                        {% elif field.label == 'Group members' %}
                                            <!-- <div class="mb-4" id="members">
                                                <select multiple id="public-methods" name='{{ field.name }}'>
                                                    {% for pedigree in pedigree.all %}
                                                        <option value="{% if pedigree.sex == 'female' %}F | {% else %}M | {% endif %}{{ pedigree.reg_no }}">{% if pedigree.sex == 'female' %}F | {% else %}M | {% endif %}{{ pedigree.reg_no }}</option>
                                                    {% endfor %}
                                                </select>
                                                <div class="button-box mt-3">
                                                    <a id="select-all" class="btn btn-outline-info" href="#">select all</a>
                                                    <a id="deselect-all" class="btn btn-outline-danger" href="#">deselect all</a>
                                                    <a id="refresh" class="btn btn-outline-warning" href="#">refresh</a>
                                                </div>
                                            </div>
                                             <script>
                                                 $(document).ready(function(){
                                                    $("#breeds").change(function(){
                                                        var breed = $( "#breeds option:selected" ).text();
                                                        var options = { {% for pedigree in pedigree.all %}'{% if pedigree.sex == 'female' %}F | {% else %}M | {% endif %}{{ pedigree.reg_no }}': '{{ pedigree.breed.breed_name }}', {% endfor %} };
                                                        $('#public-methods').empty();

                                                        $.each(options, function(key, value) {
                                                            if (value.includes(breed)) {
                                                                var option = document.createElement('option');
                                                                    option.setAttribute("value", key);
                                                                var val = document.createTextNode(key);
                                                                    option.appendChild(val);
                                                                document.getElementById("public-methods").appendChild(option);
                                                            }
                                                        });
                                                        $("#refresh").click();
                                                    });
                                                });
                                            </script> -->
                                            
                                            <!-- <div id="pedigrees_all" class="input-group">
                                                <input id="id_pedigree" class="typeahead form-control" name='{{ field.name }}' type="text" placeholder="{{ service.mother_title }}" value="{% if pedigree.parent_mother != None %}{{ pedigree.parent_mother }}{% endif %}">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" type="button">Button</button>
                                                </div>
                                            </div> -->
                                            <div id="pedigrees_all" class="input-group">
                                                <input id="id_pedigree" type="text" class="typeahead form-control" placeholder="Pedigree">
                                                <span class="input-group-btn"><button class="btn btn-outline-secondary" data-placement="right" type="button">Button</button></span>
                                            </div>
                                            
                                            <small>Enter a pedigree to include in the breed group</small>
                                            <!-- hidden note which will show name of mother if reg number has a match, or suggestions if partial match -->
                                            <ul class="list-icons d-none" id="pedigree-info"></ul>
                                            <div class="list-group">
                                                <button type="button" class="list-group-item">F | bertha</button>
                                                <button type="button" class="list-group-item">M | twanzy</button>
                                            </div>
                                        {% else %}
                                            {% render_field field class+="form-control" value=suggested_name %}
                                        {% endif %}
                                        {% for error in field.errors %}
                                          <span class="help-block">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <hr>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button id="submitNewBGForm" class="btn btn-success">{% if contributor %}Submit for approval{% else %}Submit{% endif %}</button>
                                            <a href="{% url 'breed_groups' %}"><button type="button" class="btn btn-inverse">Cancel</button></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"> </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    </div>

{% else %}
<h1>Oops, you shouldn't be here!</h1>
{% endif %}

{% endblock %}

{% block footer %}
<!-- typeahead for the members field -->
{% include 'ta_pedigrees.html' %}

<!-- ajax call to submit the new breed group form -->
<script>
    $('#submitNewBGForm').click( function(e) {
        e.preventDefault()
        $.ajax({
            url: "{% url 'new_breed_group_form' %}",
            type: 'post',
            dataType: 'text',
            data: $('#newBGForm').serialize(),
            success: function(result) {
                result = JSON.parse(result)
                if (result.result == 'success') {
                    window.location.replace("{% url 'breed_groups' %}")
                }
                else {
                    console.log('ERROR')
                    if (result.msg) {
                        errorMsg(result.msg)
                    }
                    else {
                        errorMsg('Your form had errors!')
                    }
                }
            },
            error: function(jqXHR, textStatus, errorThrown){
                console.log('jqXHR:');
                console.log(jqXHR);
                console.log('textStatus:');
                console.log(textStatus);
                console.log('errorThrown:');
                console.log(errorThrown);
            }
        });
    });
</script>

{% endblock %}