//*************
//The basics
//*************
var substringMatcher = function(strs) {
  return function findMatches(q, cb) {
    var matches, substringRegex;

    // an array that will be populated with substring matches
    matches = [];

    // regex used to determine if a string contains the substring `q`
    substrRegex = new RegExp(q, 'i');

    // iterate through the pool of strings and for any string that
    // contains the substring `q`, add it to the `matches` array
    $.each(strs, function(i, str) {
      if (substrRegex.test(str)) {
        matches.push(str);
      }
    });

    cb(matches);
  };
};

var reg_numbers = {{ reg_numbers }};;
var mothers = {{ mothers }};;
var fathers = {{ fathers }};;
var breeders = {{ breeders }};;
var breeds = {{ breeds }};;
var breeds = {{ breed_groups }};;


$('#reg_numbers .typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'reg_numbers',
  source: substringMatcher(reg_numbers)
});

$('#mothers .typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'mothers',
  source: substringMatcher(mothers)
});

$('#fathers .typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'fathers',
  source: substringMatcher(fathers)
});

$('#breeders .typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'breeders',
  source: substringMatcher(breeders)
});

$('#breeds .typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'breeds',
  source: substringMatcher(breeds)
});

$('#breed_groups .typeahead').typeahead({
  hint: true,
  highlight: true,
  minLength: 1
},
{
  name: 'breed_groups',
  source: substringMatcher(breed_groups)
});