{% load widget_tweaks %}
<h3 class="box-title">Breed Info</h3>
<hr class="mt-0 mb-5">
{% if breed_form.errors %}
    {% for field in breed_form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ field.label }}: {{ error }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in breed_form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<div class="row">
    {% for hidden in breed_form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in breed_form.visible_fields %}
    <div class="col-lg-6 col-md-12">
        <div class="form-group row">
            <label class="col-sm-3 text-right col-form-label">{% if 'Group' not in field.label %}{{ field.label|title }}{% endif %}</label>
            <div class="col-md-9">
                {% if field.label == 'Custom fields' %}
                    {% if custom_fields %}
                        {% for field_key, field_vals in custom_fields.items %}

                            {% if field_vals.location == 'breed' %}
                                {% if field_vals.fieldType == 'textField' %}
                                    <label class="col-sm-6 col-form-label">{{ field_vals.fieldName }}</label>
                                    <input id="{{ field_vals.id }}" class="form-control" name='{{ field_vals.fieldName }}' type="text">
                                {% elif field_vals.fieldType == 'textBox' %}
                                    <label class="col-sm-6 col-form-label">{{ field_vals.fieldName }}</label>
                                    <textarea id="{{ field_vals.id }}" name='{{ field_vals.fieldName }}' class="form-control"></textarea>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% if 'account/setup' not in request.path %}
                            <small>No custom fields added, <a href="{% url 'settings' %}">add some</a>?</small>
                        {% else %}
                            <small>Make sure you add some custom fields in the 'Site Settings' section after this!</small>
                        {% endif %}
                    {% endif %}
                {% elif "Mean Kinship" in field.label %}
                    {% if service.metrics %}
                        {{ field|attr:"class:form-control" }}
                        {{ field.help_text }}
                    {% else %}
                        <p class="text-danger mt-3">Metrics not enabled</p>
                        <p class="">This feature is available for Small Society, Large Society and Organisation accounts.
                            Metrics can be enabled in the <a href="{% url 'settings' %}">Site Settings</a> section.</p>
                    {% endif%}
                {% else %}
                    {% if 'Group' not in field.label %}
                        {{ field|attr:"class:form-control" }}
                        {{ field.help_text }}
                        {% if field.label == 'Breed description' %}
                            <div id="charNum"></div>
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% for error in field.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script>
    $('#id_breed_description').keyup( function() {
        var max = 2000;
            var len = $(this).val().length;
            if (len >= max) {
                $('#charNum').text(' you have reached the limit').fadeIn();
            } else {
                var char = max - len;
                $('#charNum').text(char + ' characters left').fadeIn();
          }
    });
</script>