{% load widget_tweaks %}
<h3 class="box-title">Breed Info</h3>
<hr class="mt-0 mb-5">
{% if breed_form.errors %}
    {% for field in breed_form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ field.label }}: {{ error }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in breed_form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<div class="row">
    {% for hidden in breed_form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in breed_form.visible_fields %}
    <div class="col-lg-6 col-md-12">
        <div class="form-group row">
            <label class="col-sm-3 text-right col-form-label">{% if 'Group' not in field.label %}{{ field.label|title }}{% endif %}</label>
            <div class="col-md-9">
                {% if field.label == 'Custom fields' %}
                    {% if custom_fields %}
                        {% for field_key, field_vals in custom_fields.items %}

                            {% if field_vals.location == 'breed' %}
                                {% if field_vals.fieldType == 'textField' %}
                                    <label class="col-sm-6 col-form-label">{{ field_vals.fieldName }}</label>
                                    <input id="{{ field_vals.id }}" class="form-control" name='{{ field_vals.fieldName }}' type="text">
                                {% elif field_vals.fieldType == 'textBox' %}
                                    <label class="col-sm-6 col-form-label">{{ field_vals.fieldName }}</label>
                                    <textarea id="{{ field_vals.id }}" name='{{ field_vals.fieldName }}' class="form-control"></textarea>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        {% if 'account/setup' not in request.path %}
                            <small>No custom fields added, <a href="{% url 'settings' %}">add some</a>?</small>
                        {% else %}
                            <small>Make sure you add some custom fields in the 'Site Settings' section after this!</small>
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if 'Group' not in field.label %}
                        {{ field|attr:"class:form-control" }}
                        {{ field.help_text }}
                        {% if field.label == 'Breed description' %}
                            <div id="charNum"></div>
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% for error in field.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
    <hr>
    <div class="col-lg-8 col-md-12">
        <div class="form-group row">
            <h3>Kinship Bands</h3>

            <table class="table table-striped">
                <tbody>
                    <!--Group A-->
                    <tr>
                        <td>
                            Group <strong>A</strong> Minimum
                        </td>
                        <td>
                            0
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Group <strong>A</strong> Maximim
                        </td>
                        <td>
                            {% render_field breed_form.mk_a class="form-control" value=breed.mk_a %}
                        </td>
                    </tr>
                    <!--Group B-->
                    <tr>
                        <td>
                            Group <strong>B</strong> Minimum
                        </td>
                        <td id="grpBmin">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Group <strong>B</strong> Maximim
                        </td>
                        <td>
                            {% render_field breed_form.mk_b class="form-control" value=breed.mk_b %}
                        </td>
                    </tr>

                    <!--Group C-->
                    <tr>
                        <td>
                            Group <strong>C</strong> Minimum
                        </td>
                        <td id="grpCmin">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Group <strong>C</strong> Maximim
                        </td>
                        <td>
                            {% render_field breed_form.mk_c class="form-control" value=breed.mk_c %}
                        </td>
                    </tr>

                    <!--Group D-->
                    <tr>
                        <td>
                            Group <strong>D</strong> Minimum
                        </td>
                        <td id="grpDmin">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Group <strong>D</strong> Maximim
                        </td>
                        <td>
                            {% render_field breed_form.mk_d class="form-control" value=breed.mk_d %}
                        </td>
                    </tr>
                </tbody>
            </table>
            <script>
                $("document").ready(function() {
                    $('#id_mk_a').val(1.00);
                    $('#id_mk_a').trigger('click');

                    $('#id_mk_b').val(2.00);
                    $('#id_mk_b').trigger('click');

                    $('#id_mk_c').val(3.00);
                    $('#id_mk_c').trigger('click');

                    $('#id_mk_d').val(4.00);
                    $('#id_mk_d').trigger('click');
                });


                $(document).on('click change keyup mouseup', '#id_mk_a', function() {
                    $('#grpBmin').html($('#id_mk_a').val());

                    if (parseFloat($('#grpBmin').text()) >= parseFloat($('#id_mk_b').val())) {
                        $('#id_mk_b').val(parseFloat($('#grpBmin').text()) + 0.0001);
                        $('#id_mk_b').trigger('click');
                    }
                });
                $(document).on('click change keyup mouseup', '#id_mk_b', function() {
                    $('#grpCmin').html($('#id_mk_b').val());

                    if (parseFloat($('#grpCmin').text()) >= parseFloat($('#id_mk_c').val())) {
                        $('#id_mk_c').val(parseFloat($('#grpCmin').text()) + 0.0001);
                        $('#id_mk_c').trigger('click');
                    }
                });
                $(document).on('click change keyup mouseup', '#id_mk_c', function() {
                    $('#grpDmin').html($('#id_mk_c').val());

                    if (parseFloat($('#grpDmin').text()) >= parseFloat($('#id_mk_d').val())) {
                        $('#id_mk_d').val(parseFloat($('#grpDmin').text()) + 0.0001);
                    }
                });

            </script>
        </div>
    </div>
</div>

<script>
    $('#id_breed_description').keyup( function() {
        var max = 2000;
            var len = $(this).val().length;
            if (len >= max) {
                $('#charNum').text(' you have reached the limit').fadeIn();
            } else {
                var char = max - len;
                $('#charNum').text(char + ' characters left').fadeIn();
          }
    });
</script>