{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
{% if service.service.multi_breed %}
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">New Breed Form</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{% url 'breeds' %}">Breed{% if service.service.multi_breed %}s{% endif %}</a></li>
                <li class="breadcrumb-item active">New Breed Form</li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->

    <div class="container pt-5">
        <div class="card ">
            <div class="card-header">
                <h4 class="mb-0 ">Add New Breed Form</h4>
            </div>
            <div class="card-body">
                <form action="{% url 'new_breed_form' %}" method="POST" class="form-horizontal" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-body">
                    {% include 'new_breed_form.html' %}
                    <hr>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn btn-success">Submit</button>
                                        <a href="{% url 'breeds' %}"><button type="button" class="btn btn-inverse">Cancel</button></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"> </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% else %}
<h1>Oops, you shouldn't be here!</h1>
{% endif %}

{% endblock %}