{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
{% if add_breed %}
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">New Breed Form</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{% url 'breeds' %}">Breed{% if service.service.multi_breed %}s{% endif %}</a></li>
                <li class="breadcrumb-item active">New Breed Form</li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->

    <div class="container pt-5">
        <div class="card ">
            <div class="card-header">
                <h4 class="mb-0 ">Add New Breed Form</h4>
            </div>
            <div class="card-body">
                <form id="newBreedForm" class="form-horizontal">
                    {% csrf_token %}
                    <div class="form-body">
                        {% include 'new_breed_form.html' %}
                    </div>
                    <hr>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="button" id="submitNewBreedForm" class="btn btn-success">Submit</button>
                                        <a href="{% url 'breeds' %}"><button type="button" class="btn btn-inverse">Cancel</button></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"> </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% else %}
<h1>Oops, you shouldn't be here!</h1>
{% endif %}

{% endblock %}
{% block footer %}
    <!-- submit the form -->
    <script>
        $('#submitNewBreedForm').click( function(e) {
            e.preventDefault()
            // set the names of the members
            $('#breedAdminsList > div > input').each( function (index) {
                $(this).attr("name", "breed_admin-" + index)
            })
            
            $.ajax({
                type: 'POST',
                url: "{% url 'new_breed_form' %}",
                enctype: 'multipart/form-data',
                data: new FormData($('#newBreedForm')[0]),
                processData: false,
                contentType: false,
                success: function(result) {
                    result = JSON.parse(result)
                    if (result.result == 'success') {
                        window.location.replace("{% url 'breeds' %}")
                    }
                    else {
                        console.log('ERROR')
                        if (result.msg) {
                            errorMsg(result.msg)
                        }
                        else {
                            errorMsg('Your form had errors!')
                        }
                    }
                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log('jqXHR:');
                    console.log(jqXHR);
                    console.log('textStatus:');
                    console.log(textStatus);
                    console.log('errorThrown:');
                    console.log(errorThrown);
                }
            });
        });
    </script>

    <!-- typeahead -->
    {% include 'ta_user.html' %}
    <script>
        $('#addBreedAdminBtn').click( function(e) {
            e.preventDefault()
            // give error if username isn't complete
            if ($('#breed_admin-info').hasClass('d-none')) {
                errorMsg('Matching user is not in the database!')
            }
            // give error if user has already been added as a breed admin
            else if ($('#breedAdminsList').html().indexOf('"' + $("#id_breed_admin").val() + '"') != -1) {
                errorMsg('Breed admin has already been added!')
            }
            else {
                var breed_admin = $("#id_breed_admin").val()
                $('#breedAdminsList').append('<div id="breed_admin-' + breed_admin + '" class="input-group"><input value="' + breed_admin + '" type="text" class="form-control" aria-describedby="basic-addon2" readonly><div class="input-group-append"><button class="btn btn-outline-secondary" type="button" onclick="removeBreedAdmin(`breed_admin-' + breed_admin + '`)">Remove</button></div></div>')
            }
        })

        // remove breed_admin from breed_admins list
        function removeBreedAdmin(breed_admin){
            // remove breed_admin
            $('#' + breed_admin).remove()
        }
    </script>
{% endblock %}