<div class="main_body" style="width:500px; margin: auto; border: 2px solid #15888a;">

	<div>
		<p style="text-align:center;"><img src="https://static.cloud-lines.co.uk/cloud-lines/demos/hosting/images/cat_dog.jpg" style="max-width:495px"></p>
	</div>

	<div class="text_body" style="font-family: Arial,sans-serif; font-size: 14px; background-color:white;">
				{% block content %}

				{% endblock %}
		<p>Many thanks,
			The Cloudlines Team</p>
	</div>
	<div style="background-color:#15888a">
		<p style="text-align:center;"><a href="https://cloud-lines.co.uk"><img src="https://static.cloud-lines.co.uk/cloud-lines/images/logo-dark.png" align="middle"></a></p>
	</div>
</div>