{% if editor or contributor %}
    <a href="{% url 'new_pedigree_form' %}" class="btn btn-sm btn-outline-success waves-effect waves-light">
        <span class="btn-label"><i class="fad fa-plus-circle"></i></span> Add {% if service.site_mode == 'mammal' %}Pedigree{% else %}Bird{% endif %}</a>
{% else %}
    <button class="btn btn-sm btn-outline-success waves-effect waves-light" type="button" data-toggle="modal" data-target="#login">
        <span class="btn-label"><i class="fad fa-plus-circle"></i></span> Add {% if service.site_mode == 'mammal' %}Pedigree{% else %}Bird{% endif %}
    </button>
{% endif %}