{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Cloud-Lines</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="{% static 'css/colors/green.css' %}" id="theme" rel="stylesheet">

    <title>CloudLines</title>
    <style>
        @page {
            size: letter landscape;
            margin: 2cm;

            @frame footer {
                -pdf-frame-content: footer;
                bottom: 2cm;
                margin-left: 1cm;
                margin-right: 1cm;
                height: 1cm;

            }
        }

        h1 {
            font-family: "Rubik", sans-serif;
            font-size: 40px;
        }

        td:nth-child(1) {
            vertical-align: middle;
        }
        td:nth-child(2) {
            vertical-align: middle;
        }

        .feeds li span {
            font-size: 14px;
        }
        main-table {
            font-family: arial, sans-serif;
            width:100% !important;
            border-collapse: collapse;
        }
        .top-td, th {
          text-align: center;
          padding: 2px;
        }
        .main-td, th {
          border: 1px solid #dddddd;
          text-align: center;
          padding: 2px;
        }
        .img {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 200px;
        }
    </style>
</head>

<body class="fix-header fix-sidebar card-no-border">
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <div class="page-wrapper">
        <div class="container-fluid">
            {% if attached_service.organisation_or_society_name %}
                <h1 style="text-align: center">{{ attached_service.organisation_or_society_name }}</h1>
            {% endif %}
            <table class="responsive" style="width:100%">
                <tbody>
                    <tr>
                        <!--## col1 ##-->
                        <td class="top-td">
                            {% if attached_service.image %}
                                <img class="img" src="{{ attached_service.image.url }}">
                            {% else %}
                                <img class="img" src="https://static.cloud-lines.com/assets/images/cloud-lines-logo-teal-transparent.png">
                            {% endif %}
                        </td>
                        <!--## col2 ##-->
                        <td>
                            <ul style="list-style-type:none;">
                                <li><strong>Breeder:</strong> {{ lvl1.breeder.breeding_prefix }}</li>
                                <li><strong>Breeder Name:</strong> {{ lvl1.breeder.contact_name }}</li>
                                <li><strong>Breeder Address:</strong> {{ lvl1.breeder.address_line_1 }} {{ lvl1.breeder.address_line_2 }} {{ lvl1.breeder.town }} {{ lvl1.breeder.country }} {{ lvl1.breeder.postcode }}</li>
                                <li> </li>
                                <li><strong>Owner:</strong> {{ lvl1.current_owner.breeding_prefix }}</li>
                                <li><strong>Owner Name:</strong> {{ lvl1.current_owner.contact_name }}</li>
                                <li><strong>Owner Address:</strong> {{ lvl1.current_owner.address_line_1 }} {{ lvl1.current_owner.address_line_2 }} {{ lvl1.current_owner.town }} {{ lvl1.current_owner.country }} {{ lvl1.current_owner.postcode }}</li>
                            </ul>
                            {% if lvl1.images.first %}
                                <img src="{% for image in lvl1.images.all %}
                                            {% if forloop.first %}
                                                {{ image.image.url }}
                                            {% endif %}
                                        {% endfor %}"
                                   class="img">
                            {% endif %}
                        </td>
                        <!--## col3 ##-->
                        <td>
                            <ul style="list-style-type:none;">
                                <li><strong>Name: {{ lvl1.name }}</strong></li>
                                <li><strong>Reg No.</strong>: {{ lvl1.reg_no }}</li>
                                {% if lvl1.tag_no %}
                                    <li><strong>Tag No.</strong> {{ lvl1.tag_no }}</li>
                                {% endif %}
                                {% if lvl1.dob %}
                                    <li><strong>DOB:</strong> {{ lvl1.dob }}</li>
                                {% endif %}
                                {% if lvl1.dod %}
                                    <li><strong>DOD:</strong> {{ lvl1.dod }}</li>
                                {% endif %}
                                {% if lvl1.date_of_registration %}
                                    <li><strong>DOR:</strong> {{ lvl1.date_of_registration }}</li>
                                {% endif %}
                                {% if lvl1.sex %}
                                    <li><strong>Sex:</strong> {{ lvl1.sex }}</li>
                                {% endif %}
                                {% if lvl1.note %}
                                    <li><strong>Note:</strong> {{ lvl1.note }}</li>
                                {% endif %}
                            </ul>
                        </td>
                        <td>
                            <ul style="list-style-type:none;">
                                <!--if account custom fields exist-->
                                {% if acc_custom_fields %}
                                    <!--loop over account custom fields-->
                                    {% for field_key, field_vals in acc_custom_fields.items %}
                                        <!--validate field item is set to on-->
                                        {% if field_vals.incCert == 'on' and field_vals.location == 'pedigree' %}
                                            <!--loop over pedigree custom fields-->
                                            {% for ped_field_key, ped_field_vals in ped_custom_fields.items %}
                                                <!--validate pedigree field is same as account-->
                                                {% if ped_field_key == field_key %}
                                                    <li><strong>{{ ped_field_vals.fieldName }}</strong> {{ ped_field_vals.field_value }}</li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}

                                    <!--loop over account custom fields-->
                                    {% for field_key, field_vals in acc_custom_fields.items %}
                                        <!--validate field item is set to on-->
                                        {% if field_vals.incCert == 'on' and field_vals.location == 'breeder' %}
                                            <!--loop over breeder custom fields-->
                                            {% for breeder_field_key, breeder_field_vals in breeder_custom_fields.items %}
                                                <!--validate breeder field is same as account-->
                                                {% if breeder_field_key == field_key %}
                                                    <li><strong>{{ breeder_field_vals.fieldName }}</strong> {{ breeder_field_vals.field_value }}</li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}

                                    <!--loop over account custom fields-->
                                    {% for field_key, field_vals in acc_custom_fields.items %}
                                        <!--validate field item is set to on-->
                                        {% if field_vals.incCert == 'on' and field_vals.location == 'breed' %}
                                            <!--loop over breed custom fields-->
                                            {% for breed_field_key, breed_field_vals in breed_custom_fields.items %}
                                                <!--validate breed field is same as account-->
                                                {% if breed_field_key == field_key %}
                                                    <li><strong>{{ breed_field_vals.fieldName }}:</strong> {{ breed_field_vals.field_value }}</li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="main-table responsive" style="width:100%">
                <thead>
                    <tr>
                        <th>Parents</th>
                        <th>Grandparents</th>
                        <th>Great Grandparents</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!--## col1 ##-->
                        <td class="main-td" rowspan="4">
                            <!--cell text-->
                            {% if lvl2_1 %}
                                {{ attached_service.father_title }}
                                {{ lvl2_1.reg_no }}
                                <br>
                                {{ lvl2_1.name }}
                            {% else %}
                                ~~~
                            {% endif %}
                        </td>
                        <!--## col2 ##-->
                        <td class="main-td" rowspan="2">
                            {% if lvl3_1 %}
                                {{ attached_service.father_title }}
                                {{ lvl3_1.reg_no }}
                                <br>
                                {{ lvl3_1.name }}
                            {% else %}
                                ~~~
                            {% endif %}
                        </td>
                        <!--## col3 ##-->
                        <td class="main-td">
                            {% if lvl4_1 %}
                                {{ attached_service.father_title }}
                                {{ lvl4_1.reg_no }}
                                <br>
                                {{ lvl4_1.name }}
                            {% else %}
                                ~~~
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <!--## col3 ##-->
                        <td class="main-td">
                            {% if lvl4_2 %}
                                {{ attached_service.mother_title }}
                                {{ lvl4_2.reg_no }}
                                <br>
                                {{ lvl4_2.name }}
                            {% else %}
                                ~~~
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <!--## col2 ##-->
                        <td class="main-td" rowspan="2">
                            {% if lvl3_2 %}
                                {{ attached_service.mother_title }}
                                {{ lvl3_2.reg_no }}
                                <br>
                                {{ lvl3_2.name }}
                            {% else %}
                                ~~~
                            {% endif %}
                        </td>
                        <!--## col3 ##-->
                        <td class="main-td">
                            {% if lvl4_3 %}
                                {{ attached_service.father_title }}
                                {{ lvl4_3.reg_no }}
                                <br>
                                {{ lvl4_3.name }}
                            {% else %}
                                ~~~
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <!--## col3 ##-->
                        <td class="main-td">
                            {% if lvl4_4 %}
                                {{ attached_service.mother_title }}
                                {{ lvl4_4.reg_no }}
                                <br>
                                {{ lvl4_4.name }}
                            {% else %}
                                ~~~
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <!--## col1 ##-->
                        <td class="main-td" rowspan="4">
                            <!--cell text-->
                            {% if lvl2_2 %}
                                {{ attached_service.mother_title }}
                                {{ lvl2_2.reg_no }}
                                <br>
                                {{ lvl2_2.name }}
                            {% else %}
                                ~~~
                            {% endif %}
                        </td>
                        <!--## col2 ##-->
                        <td class="main-td" rowspan="2">
                            {% if lvl3_3 %}
                                {{ attached_service.father_title }}
                                {{ lvl3_3.reg_no }}
                                <br>
                                {{ lvl3_3.name }}
                            {% else %}
                                ~~~
                            {% endif %}
                        </td>
                        <!--## col3 ##-->
                        <td class="main-td">
                            {% if lvl4_5 %}
                                {{ attached_service.father_title }}
                                {{ lvl4_5.reg_no }}
                                <br>
                                {{ lvl4_5.name }}
                            {% else %}
                                ~~~
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <!--## col3 ##-->
                        <td class="main-td">
                            {% if lvl4_6 %}
                                {{ attached_service.mother_title }}
                                {{ lvl4_6.reg_no }}
                                <br>
                                {{ lvl4_6.name }}
                            {% else %}
                                ~~~
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <!--## col2 ##-->
                        <td class="main-td" rowspan="2">
                            {% if lvl3_4 %}
                                {{ attached_service.mother_title }}
                                {{ lvl3_4.reg_no }}
                                <br>
                                {{ lvl3_4.name }}
                            {% else %}
                                ~~~
                            {% endif %}
                        </td>
                        <!--## col3 ##-->
                        <td class="main-td">
                            {% if lvl4_7 %}
                                {{ attached_service.father_title }}
                                {{ lvl4_7.reg_no }}
                                <br>
                                {{ lvl4_7.name }}
                            {% else %}
                                ~~~
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <!--## col3 ##-->
                        <td class="main-td">
                            {% if lvl4_8 %}
                                {{ attached_service.mother_title }}
                                {{ lvl4_8.reg_no }}
                                <br>
                                {{ lvl4_8.name }}
                            {% else %}
                                ~~~
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<div id="footer">
    Created with <img class="img" style="max-width:100px" src="https://static.cloud-lines.com/assets/images/cloud-lines-logo-teal-transparent.png">
</div>

</body>

</html>
