<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Cloud-Lines</title>


    <title>CloudLines</title>
    <style>
        @page {
            size: letter portrait;
            margin: 2cm;

            @frame header_frame {
                -pdf-frame-content: header_content;
                left: 50pt;
                width: 512pt;
                top: 20pt;
                height: 30pt;
                /*-pdf-frame-border:1;*/
            }

            @frame content_frame {
                -pdf-frame-content: main_content;
                left: 80pt;
                width: 450pt;
                top: 50pt;
                height: 692pt;
                /*-pdf-frame-border:1;*/
            }

            @frame footer_frame {
                -pdf-frame-content: footer_content;
                left: 50pt;
                width: 512pt;
                top: 750pt;
                height: 40pt;
            }

        }

        h1 {
            font-size: 24px;
        }

        p {
            font-family: "Times New Roman", Times, serif;
            font-size: 12px;
            line-height: 140%;
            margin: 0;
        }

        p.ans {
            font-family: 'Courier New', monospace;
            font-size: 14px;
            margin: 0;
        }

        table td, table td * {
            vertical-align: top;
        }

        td:nth-child(1) {
            vertical-align: top;
        }

        td:nth-child(2) {
            vertical-align: top;
        }

        .feeds li span {
            font-size: 14px;
        }

        main-table {
            font-family: "Times New Roman", Times, serif;
            width: 100% !important;
            border-collapse: collapse;
        }

        .main-td, th {
            border: 0.5px solid #000000;
            padding: 2px;
        }

    </style>
</head>

<body>

<div id="header_content">
    <table style="width:100%">
        <tbody>
            <tr>
                <td></td>
                <td style="text-align: center"></td>
                <td style="text-align: right"><pdf:pagenumber></td>
            </tr>
        </tbody>
    </table>
</div>


    <p style="text-align: center; text-decoration: underline;">
        <strong>ANNEX I</strong><br>
        MODEL FORMS FOR THE ZOOTECHNICAL CERTIFICATES FOR TRADE IN
PUREBRED BREEDING ANIMALS AND THEIR GERMINAL PRODUCTS
    </p>
    <p style="text-align: center">
        <strong style="text-decoration: underline;">Section A</strong><br>
        Zootechnical certificate for trade in purebred breeding animals of the bovine, porcine, ovine
and caprine species
    </p>
    <table class="responsive" style="width:100%">
        <tbody>
            <tr>
                <td class="main-td" colspan="2">
                    <p style="text-align: center; line-height: 8px;"><strong>Zootechnical certificate<br>
                        for trade in purebred breeding animals<br>
                        of the bovine species (Bos taurus, Bos indicus and Bubalus bubalis)(1)/ the porcine species (Sus<br>
                        scrofa)(1)/ the ovine species (Ovis aries)(1)/ the caprine species (Capra hircus)(1)<br>
                        in accordance with Regulation (EU) 2016/1012</strong>
                    </p>
                </td>
            </tr>
            <tr>
                <td class="main-td" colspan="2">
                    <p>
                        1. Name of issuing breed society <i>(provide contact details and, where available, a reference to the website)</i>
                    </p>
                    <p class="ans">{{ attached_service.organisation_or_society_name }}</p>
                </td>
            </tr>
            <tr>
                <td class="main-td">
                    <p>
                        2. Name of breeding book
                    </p>
                    <p class="ans">Cloud-Lines</p>
                </td>
                <td class="main-td">
                    <p>
                        3. Name of breed of animal
                    </p>
                    <p class="ans">{{ lvl1.breed.breed_name }}</p>
                </td>
            </tr>
            <tr>
                <td class="main-td" colspan="2">
                    <p>
                        4. Class within the main section of the breeding book where animal is entered<small>(2)</small>
                    </p>
                </td>
            </tr>
            <tr>
                <td class="main-td">
                    <p>
                        5. Sex of animal
                    </p>
                    <p class="ans">{{ lvl1.sex|title }}</p>
                </td>
                <td class="main-td">
                    <p>
                        6. Breeding-book No. of animal
                    </p>
                    <p class="ans">{{ lvl1.reg_no }}</p>
                </td>
            </tr>
            <tr>
                <td class="main-td">
                    <p>
                        7. Identification of animal<small>(3)</small><br>
                        7.1. System<br>
                        Tag Number
                        7.2. Individual identification number<br>
                        <p class="ans">{{ lvl1.tag_no }}</p>
                    </p>
                </td>
                <td class="main-td">
                    <p>
                        8. Identity verification<small>(2)(4)</small><br>
                        8.1. Method<br>
                        8.2. Result<br>
                    </p>
                </td>
            </tr>
            <tr>
                <td class="main-td" colspan="2">
                    <p>
                        9. Date <small>(use format dd/mm/yyyy)</small> and country of birth of animal
                        <p class="ans">{{ lvl1.dob }}</p>
                    </p>
                </td>
            </tr>
            <tr>
                <td class="main-td" colspan="2">
                    <p>
                        <span class="number">10.</span> Name, address and e-mail address<small>(2)</small> of breeder
                    </p>
                    <p class="ans">{% if lvl1.breeder.breeding_prefix %}{{ lvl1.breeder.breeding_prefix }}, {% endif %}
                        {% if lvl1.breeder.address %}{{ lvl1.breeder.address }}, {% endif %}
                        {{ lvl1.breeder.email }}
                    </p>
                </td>
            </tr>
            <tr>
                <td class="main-td" colspan="2">
                    <p>
                        <span class="number">11.</span> Name, address and e-mail address<small>(2)</small> of owner
                    </p>
                    <p class="ans">{% if lvl1.current_owner.breeding_prefix %}{{ lvl1.current_owner.breeding_prefix }}, {% endif %}
                        {% if lvl1.current_owner.address %}{{ lvl1.current_owner.address }},  {% endif %}
                        {{ lvl1.current_owner.email }}</p>
                </td>
            </tr>
            <tr>
                <td class="main-td" colspan="2">
                    <p>
                        <span class="number">12.</span> The pedigree<small>(5)</small>
                    </p>
                </td>
            </tr>
            <tr>
                <td class="main-td" rowspan="2">
                    <p>
                        Sire<br>
                        Breeding-book No. and section<br>
                        {{ lvl2_1.reg_no }}
                    </p>
                </td>
                <td class="main-td">
                    <p>
                        Paternal Grandsire<br>
                        Breeding-book No. and section<br>
                        {{ lvl3_1.reg_no }}
                    </p>
                </td>
            </tr>
            <tr>
                <td class="main-td">
                    <p>
                        Paternal Granddam<br>
                        Breeding-book No. and section<br>
                        {{ lvl3_2.reg_no }}
                    </p>
                </td>
            </tr>
            <tr>
                <td class="main-td" rowspan="2">
                    <p>
                        Dam<br>
                        Breeding-book No. and section
                        <br>
                        {{ lvl2_2.reg_no }}
                    </p>
                </td>
                <td class="main-td">
                    <p>
                        Maternal Grandsire<br>
                        Breeding-book No. and section<br>
                        {{ lvl3_3.reg_no }}
                    </p>
                </td>
            </tr>
            <tr>
                <td class="main-td">
                    <p>
                        Maternal Granddam<br>
                        Breeding-book No. and section<br>
                        {{ lvl3_4.reg_no }}
                    </p>
                </td>
            </tr>
            <tr>
                <td class="main-td" colspan="2">
                    <p>
                        <span class="number">13.</span> Additional information<small>(2)(5)(6)</small><br>
                        <span class="number">13.1.</span> Results of performance testing<br>
                    </p>
                    <p>
                        <span class="number">13.2.</span> Up-to-date results of the genetic evaluation carried out last on <small>(insert date in format dd/mm/yyyy)</small><br>
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    <table class="responsive" style="width:100%">
        <tbody>
            <tr>
                <td class="main-td" colspan="6">
                    <p>
                        13.3. Genetic defects and genetic peculiarities of donor male in relation to the breeding programme<br>
                        13.4. Other relevant information
                    </p>
                </td>
            </tr>
            <tr>
                <td class="main-td" colspan="6">
                    <p>
                        B. <i>Information on semen</i>
                    </p>
                </td>
            </tr>
            <tr>
                <td class="main-td" colspan="6">
                    <p>
                        14. Identification of semen
                    </p>
                </td>
            </tr>
            <tr>
                <td class="main-td" scope="row"><p>Colour of straws</p></td>
                <td class="main-td"><p>Alpha-numeric<br>Code on straws</p></td>
                <td class="main-td"><p>Number of<br>doses/straws</p></td>
                <td class="main-td"><p>Place of<br>collection</p></td>
                <td class="main-td"><p>Date of collection<br><i>(dd/mm/yyyy)</i></p></td>
                <td class="main-td"><p>Others<small>(2)</small></p></td>
            </tr>
            <tr>
                <td class="main-td" colspan="1">
                    <p>&nbsp;</p>
                </td>
                <td class="main-td" colspan="1">
                    <p></p>
                </td>
                <td class="main-td" colspan="1">
                    <p></p>
                </td>
                <td class="main-td" colspan="1">
                    <p></p>
                </td>
                <td class="main-td" colspan="1">
                    <p></p>
                </td>
                <td class="main-td" colspan="1">
                    <p></p>
                </td>
            </tr>
            <tr>
                <td class="main-td" colspan="1">
                    <p>&nbsp;</p>
                </td>
                <td class="main-td" colspan="1">
                    <p></p>
                </td>
                <td class="main-td" colspan="1">
                    <p></p>
                </td>
                <td class="main-td" colspan="1">
                    <p></p>
                </td>
                <td class="main-td" colspan="1">
                    <p></p>
                </td>
                <td class="main-td" colspan="1">
                    <p></p>
                </td>
            </tr>
            <tr>
                <td class="main-td" colspan="1">
                    <p>&nbsp;</p>
                </td>
                <td class="main-td" colspan="1">
                    <p></p>
                </td>
                <td class="main-td" colspan="1">
                    <p></p>
                </td>
                <td class="main-td" colspan="1">
                    <p></p>
                </td>
                <td class="main-td" colspan="1">
                    <p></p>
                </td>
                <td class="main-td" colspan="1">
                    <p></p>
                </td>
            </tr>
            <tr>
                <td class="main-td" colspan="1">
                    <p>&nbsp;</p>
                </td>
                <td class="main-td" colspan="1">
                    <p></p>
                </td>
                <td class="main-td" colspan="1">
                    <p></p>
                </td>
                <td class="main-td" colspan="1">
                    <p></p>
                </td>
                <td class="main-td" colspan="1">
                    <p></p>
                </td>
                <td class="main-td" colspan="1">
                    <p></p>
                </td>
            </tr>
            <tr>
                <td class="main-td" colspan="6">
                    <p>
                        15. Semen collection or storage centre of dispatch<br>
                        15.1. Name
                    </p>
                    <p>
                        15.2. Address
                    </p>
                    <p>
                        15.3. Approval number
                    </p>
                </td>
            </tr>
            <tr>
                <td class="main-td" colspan="6">
                    <p>
                        16. Name and address of consignee
                    </p>
                </td>
            </tr>
            <tr>
                <td class="main-td" colspan="6">
                    <p>
                        17. Name and address of the breed society<small>(1)</small>, or the third party<small>(1)</small> designated by that breed society,
                        responsible for carrying out testing<small>(2)(8)</small>
                    </p>
                </td>
            </tr>
            <tr>
                <td class="main-td" colspan="6">
                    <p><br>
                        Done at :.............................. on:...............................<br>
                        <i>(insert place of issue)</i> <i>(insert date of issue)</i>
                    </p>
                    <p style="margin-top: 200%">
                        Name and capacity of the signatory:....................<br>
                        <i>(insert in capital letters name and capacity of the individual(9) authorised by the issuing breed society to sign that certificate)</i>
                    </p>
                    <p style="margin-top: 200%">
                        Signature:..............................
                    </p>
                </td>
            </tr>
            <tr>
                <td class="main-td" colspan="6">
                    <p>
                        <small>(1)</small> Delete where not applicable.<br>
                    <small>(2)</small> Keep empty if not applicable, see also footnote <small>(6)</small>.<br>
                    <small>(3)</small> For animals of the bovine, ovine, caprine and equine species, individual identification in accordance with<br>
                    Union animal health legislation on the identification and registration of animals. For animals of the porcine<br>
                    species, individual identification in accordance with the rules of the breeding programme approved in<br>
                    accordance with Article 8<small>(3)</small>, and, where applicable, Article 12 of Regulation (EU) 2016/1012.<br>
                    <small>(4)</small> Required in accordance with Article 22<small>(1)</small> of Regulation (EU) 2016/1012 for purebred breeding animals of<br>
                    the bovine, ovine, caprine and equine species used for the collection of semen for artificial insemination.<br>
                    May be required by breed society in accordance with Article 22(2) of Regulation (EU) 2016/1012 for<br>
                    purebred breeding animals of the porcine species used for the collection of semen for artificial<br>
                    insemination.<br>
                    <small>(5)</small> If necessary use additional paper.<br>
                    <small>(6)</small> In the case of purebred animals of the equine species, indicate the UELN compatible identification<br>
                    number, where it is available. Add Breeding-book No only where it is different from UELN compatible<br>
                    identification number.<br>
                    <small>(7)</small> If that additional genetic information can be accessed on a website, a reference to that website may be<br>
                    provided instead.<br>
                    <small>(8)</small> For semen intended for testing of purebred breeding animals of the bovine, porcine, ovine or caprine<br>
                    species which have not undergone performance testing or genetic evaluation, in accordance with the<br>
                    </p>
                </td>
            </tr>

        </tbody>
    </table>

<div id="footer_content">
    <table style="width:100%">
        <tbody>
            <tr>
                <td style="text-align: left"><h1>EN</h1></td>
                <td style="text-align: center"><pdf:pagenumber></td>
                <td style="text-align: right"><h1>EN</h1></td>
            </tr>
            <tr>
                <td colspan="3" style="text-align: center">www.parlament.gv.at</td>
            </tr>
        </tbody>
    </table>
</div>

</body>

</html>
