{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}

<style>
    ul {
  list-style-type: none;
}



.removeImageCheck {
  display: none;
}

.removeImages {
  border: 1px solid #fff;
  padding: 10px;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

.removeImages:before {
  background-color: white;
  color: white;
  content: " ";
  border-radius: 50%;
  border: 1px solid #f009;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  transition-duration: 0.4s;
  transform: scale(0);

}

.removeImages img {
  height: 200px;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + .removeImages {
  border-color: #ddd;
}

:checked + .removeImages:before {
  content: "x";
  background-color: #f009;
  transform: scale(1);
}

:checked + .removeImages img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #f009;
}
</style>

<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-6 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Edit {% if service.site_mode == 'mammal' %}Pedigree {% else %}Bird {% endif %} Form</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'pedigree_search' %}">{% if service.site_mode == 'mammal' %}Pedigree {% else %}Poultry {% endif %} Search</a></li>
            <li class="breadcrumb-item"><a href="{% url 'pedigree' pedigree.id %}">{{ pedigree.reg_no }}</a></li>
            <li class="breadcrumb-item active">Edit {% if service.site_mode == 'mammal' %}Pedigree{% else %}Bird{% endif %}</li>
        </ol>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->

<div class="container pt-5">
    <div class="card ">
        <div class="card-header">
            <h4 class="mb-0 ">Edit {% if service.site_mode == 'mammal' %}Pedigree {% else %}Bird {% endif %}: {{ pedigree.reg_no }}</h4>
        </div>
        {% if contributor %}
            <div class="alert alert-warning alert-rounded mt-2"> <i class="ti-alert"></i> Edits to this pedigree will need to be approved by an editor.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
            </div>
        {% endif %}
        <div class="card-body">
            <form action="{% url 'edit_pedigree_form' pedigree.id %}" method="POST" class="form-horizontal" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-body">
                    <h3 class="box-title">{% if service.site_mode == 'mammal' %}Pedigree {% else %}Bird {% endif %} Info</h3>
                    <hr class="mt-0 mb-5">
                    {% if pedigree_form.errors %}
                        {% for field in pedigree_form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ field.label }}: {{ error }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in pedigree_form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="row">
                        {% for hidden in pedigree_form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}

                        {% for field in pedigree_form.visible_fields %}
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group row">
                                <label class="col-sm-3 text-right col-form-label">{% if service.site_mode == 'mammal' %}
                                                                                        {% if field.label|title == 'Breed Group' %}
                                                                                        {% elif field.label|title == 'Mother' %}
                                                                                            {{ service.mother_title }}
                                                                                        {% elif field.label|title == 'Father' %}
                                                                                            {{ service.father_title }}
                                                                                        {% else %}
                                                                                            {{ field.label|title }}
                                                                                        {% endif %}
                                                                                    {% else %}
                                                                                        {% if field.label == 'Tag Number' %}
                                                                                            Ring Number
                                                                                        {% elif field.label|title == 'Mother' %}
                                                                                            {{ service.mother_title }}
                                                                                        {% elif field.label|title == 'Father' %}
                                                                                            {{ service.father_title }}
                                                                                        {% else %}
                                                                                            {{ field.label|title }}
                                                                                        {% endif %}
                                                                                    {% endif %}</label>
                                <div class="col-md-9">
                                    {% if field.label == 'Breeder' %}
                                        <div id="breeders">
                                            <input class="typeahead form-control" name='{{ field.name }}' type="text" value="{% if pedigree.breeder != None %}{{ pedigree.breeder }}{% endif %}">
                                        </div>
                                    {% elif field.label == 'Current owner'%}
                                        <div id="breeders">
                                            <input class="typeahead form-control" name='{{ field.name }}' type="text" value="{% if pedigree.current_owner != None %}{{ pedigree.current_owner }}{% endif %}">
                                        </div>
                                    {% elif field.label == 'Mother' %}
                                        <div id="mothers">
                                            <input id="id_mother" class="typeahead form-control" name='{{ field.name }}' type="text" value="{% if pedigree.parent_mother != None %}{{ pedigree.parent_mother }}{% endif %}">
                                            {% if service.site_mode == 'poultry' %}
                                                <small>Leave blank if using a breed group</small>
                                            {% endif %}
                                        </div>
                                    {% elif field.label == 'Mother notes' %}
                                        {% render_field field class="form-control" value=pedigree.parent_mother_notes %}
                                    {% elif field.label == 'Breed group' %}
                                        {% if service.site_mode == 'poultry' %}
                                            <div id="breed_groups">
                                                <input id="id_breed_group" class="typeahead form-control" name='{{ field.name }}' type="text" value="{% if pedigree.breed_group != None %}{{ pedigree.breed_group }}{% endif %}">
                                            </div>
                                        {% endif %}
                                    {% elif field.label == 'Father' %}
                                        <div id="fathers">
                                            <input class="typeahead form-control" name='{{ field.name }}' type="text" value="{% if pedigree.parent_father != None %}{{ pedigree.parent_father }}{% endif %}">
                                        </div>
                                    {% elif field.label == 'Father notes' %}
                                        {% render_field field class="form-control" value=pedigree.parent_father_notes %}

                                    {% elif field.label == 'Registration Number' %}
                                        {% render_field field class="form-control" value=pedigree.reg_no %}
                                    {% elif field.label == 'Tag Number' %}
                                        {% render_field field class="form-control" value=pedigree.tag_no %}
                                    {% elif field.label == 'Name' %}
                                        {% render_field field class="form-control" value=pedigree.name %}
                                    {% elif field.label == 'Date of registration' %}
                                         {% render_field field class="form-control" type="date" value=pedigree.date_of_registration %}
                                    {% elif field.label == 'Date of birth' %}
                                        {% render_field field class="form-control" type="date" value=pedigree.dob %}
                                    {% elif field.label == 'Dod' %}
                                        {% render_field field class="form-control" type="date" value=pedigree.dod%}
                                    {% elif field.label == 'Status' %}
                                        <div class="radio radio-info pt-2">
                                            {% for option in field %}
                                                <input type="radio" name="status" id="{{ option.id_for_label }}" value="{{ option.choice_label|lower }}" {% if pedigree.status == option.choice_label|lower %}checked{% endif %}>
                                                    <label for="{{ option.id_for_label }}" class="pr-2"> {{ option.choice_label }} </label>
                                            {% endfor %}
                                    </div>
                                    {% elif field.label == 'Sex' %}
                                        <div class="radio radio-info pt-2">
                                            {% for option in field %}
                                                <input type="radio" name="sex" id="{{ option.id_for_label }}" value="{{ option.choice_label|lower }}" {% if pedigree.sex == option.choice_label|lower %}checked{% endif %}>
                                                    <label for="{{ option.id_for_label }}" class="pr-2"> {{ option.choice_label }} </label>
                                            {% endfor %}
                                    </div>
                                    {% elif field.label == 'Description' %}
                                        <textarea name="description" id="id_description" class="form-control" cols="40" rows="10">{{ pedigree.description }}</textarea>
                                    {% elif field.label == 'Breed' %}
                                        {% if service.service.multi_breed %}
                                            <div id="breeds">
                                                <input class="typeahead form-control" name='{{ field.name }}' type="text" placeholder="{{ pedigree.breed.breed_name }}" value="{{ pedigree.breed.breed_name }}">
                                            </div>
                                        {% else %}
                                            <input name='{{ field.name }}' type="hidden" value="{{ breeds.all.first }}">
                                            <input class="typeahead form-control" type="text" value="{{ breeds.all.first }}" disabled>
                                        {% endif %}
                                    {% elif field.label == 'Custom fields' %}
                                        {% if custom_fields %}
                                            {% for field_key, field_vals in custom_fields.items %}
                                                {% if field_vals.location == 'pedigree' %}
                                                    {% if field_vals.fieldType == 'textField' %}
                                                        <label class="col-form-label">{{ field_vals.fieldName }}</label>
                                                        <input id="{{ field_vals.id }}" class="form-control" name='{{ field_vals.fieldName }}' value="{{ field_vals.field_value }}" type="text">
                                                    {% elif field_vals.fieldType == 'textBox' %}
                                                        <label class="col-form-label">{{ field_vals.fieldName }}</label>
                                                        <textarea id="{{ field_vals.id }}" name='{{ field_vals.fieldName }}' class="form-control">{{ field_vals.field_value }}</textarea>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            <small>No custom fields added, <a href="{% url 'settings' %}">add some</a>?</small>
                                        {% endif %}
                                    {% else %}
                                        {% render_field field class="form-control" %}
                                    {% endif %}
                                    {% for error in field.errors %}
                                      <span class="help-block text-danger">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <h3 class="box-title">Images</h3>
                    <hr class="mt-0 mb-5">
                    <!--/row-->
                    {% if image_form.errors %}
                        {% for field in image_form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ field.label }}: {{ error }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in image_form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="row">
                        {% for hidden in image_form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {% for field in image_form.visible_fields %}
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="col-sm-3 text-right col-form-label">{{ field.label }}</label>
                                    <div class="col-md-9">
                                        {% render_field field class="dropzone" %}
                                        {% for error in field.errors %}
                                          <span class="help-block text-danger">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <hr>
                        {% if pedigree.images.first %}
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <h4 class="text-muted">Select images to be removed</h4>
                                    <div class="pt-2">
                                        {% for image in pedigree.images.all %}
                                            <input type="checkbox" name='{{ pedigree.id }}-{{ image.id }}' class="removeImageCheck" id="{{ image.id }}" />
                                            <label class="removeImages" for="{{ image.id }}"><img src="{{ image.image.url }}" /></label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                    </div>
                    <!--/row-->
                </div>
                <hr>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12">
                                    {% if pedigree.state != 'approved' %}
                                        <button type="submit" class="btn btn-success">Approve</button>
                                    {% else %}
                                        <button type="submit" class="btn btn-success">{% if contributor %}Submit for approval{% else %}Save{% endif %}</button>
                                    {% endif %}
                                    <a href="{% url 'pedigree' pedigree.id %}"><button type="button" class="btn btn-inverse">Cancel</button></a>
                                    {% if editor %}
                                        <button type="button" id="deletePedigree" data-toggle="modal" data-target="#delete" class="model_img img-fluid btn btn-danger float-right">Delete</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% include 'delete.html' with name=pedigree.name %}
                    </div>
                </div>
            </form>
        </div>
        <script>
            $( document ).ready(function() {
                if ($('#id_mother').val() != '' ) {
                    $('#id_breed_group').prop("disabled", true);
                } else {
                    $('#id_breed_group').prop("disabled", false);
                    $('#id_breed_group').prop("readonly", false);
                }

                if ($('#id_breed_group').val() != '' ) {
                    $('#id_mother').prop("disabled", true);
                } else {
                    $('#id_mother').prop("disabled", false);
                }
            });
            $('#id_mother').bind('keyup change', function(event) {
                if ($('#id_mother').val() != '' ) {
                    $('#id_breed_group').prop("disabled", true);
                } else {
                    $('#id_breed_group').prop("disabled", false);
                    $('#id_breed_group').prop("readonly", false);
                }
            });
            $('#id_breed_group').bind('keyup change', function(event) {
                if ($('#id_breed_group').val() != '' ) {
                    $('#id_mother').prop("disabled", true);
                } else {
                    $('#id_mother').prop("disabled", false);
                }
            });
        </script>
    </div>
</div>






{% endblock %}