{% load widget_tweaks %}

<h3 class="box-title">{% if service.site_mode == 'mammal' %}Pedigree {% else %}Bird {% endif %} Info</h3>
<hr class="mt-0 mb-5">
{% if pedigree_form.errors %}
    {% for field in pedigree_form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ field.label }}: {{ error }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in pedigree_form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<div class="row">
    {% for hidden in pedigree_form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in pedigree_form.visible_fields %}
    <div class="col-lg-6 col-md-12">
        <div class="form-group row">
            <label class="col-sm-3 text-right col-form-label">{% if service.site_mode == 'mammal' %}
                                                                <!--make sure you don't show mother and father fields!-->
                                                                {% if field.label|title == 'Breed Group' %}
                                                                {% elif field.label|title == 'Mother' %}
                                                                    {{ service.mother_title }}
                                                                {% elif field.label|title == 'Father' %}
                                                                    {{ service.father_title }}
                                                                {% else %}
                                                                    {{ field.label|title }}
                                                                {% endif %}
                                                              {% else %}
                                                                {% if field.label == 'Tag Number' %}
                                                                    Ring Number
                                                                {% elif field.label == 'Mother' %}
                                                                    {{ service.mother_title }}
                                                                {% elif field.label|title == 'Father' %}
                                                                    {{ service.father_title }}
                                                                {% else %}
                                                                    {{ field.label|title }}
                                                                {% endif %}
                                                              {% endif %}</label>
            <div class="col-md-9">
                {% if field.label == 'Breeder' %}
                    {% if 'setup' in request.path %}
                        <input id="hid_breeder" type="hidden" name='{{ field.name }}' value="">
                        <input id="id_breeder" class="typeahead form-control" type="text" placeholder="{{ field.label|title }}">
                    {% else %}
                        <div id="breeders">
                            <input id="id_breeder" class="typeahead form-control" name='{{ field.name }}' type="text" placeholder="{{ field.label|title }}">
                        </div>
                    {% endif %}
                    {% if 'setup' not in request.get_full_path %}
                        <button type="button" id="showNewBreederModal" data-toggle="modal" data-target=".bs-example-modal-lg" class="mt-1 btn btn-sm btn-outline-success btn-rounded"><i class="fas fa-plus-square"></i> Add New Breeder</button>
                    {% endif %}
                {% elif field.label == 'Current owner' %}
                    {% if 'setup' in request.path %}
                        <input id="hid_current_owner" type="hidden" name='{{ field.name }}' value="">
                        <input id="id_current_owner" class="typeahead form-control" type="text" placeholder="{{ field.label|title }}">
                    {% else %}
                        <div id="breeders">
                            <input id="id_current_owner" class="typeahead form-control" name='{{ field.name }}' type="text" placeholder="{{ field.label|title }}">
                        </div>
                    {% endif %}
                    {% if 'setup' not in request.get_full_path %}
                        <button type="button" id="showNewBreederModal" data-toggle="modal" data-target=".bs-example-modal-lg" class="mt-1 btn btn-sm btn-outline-success btn-rounded"><i class="fas fa-plus-square"></i> Add New Owner</button>
                    {% endif %}
                {% elif field.label == 'Registration Number' %}
                        <input class="form-control" name='{{ field.name }}' type="text" value="{{ suggested_reg }}">
                {% elif field.label == 'Mother' %}
                    <div id="mothers">
                        <input id="id_mother" class="typeahead form-control" name='{{ field.name }}' type="text" placeholder="{{ service.mother_title }}">
                    </div>
                {% elif field.label == 'Father'  %}
                    <div id="fathers">
                        <input id="id_father" class="typeahead form-control" name='{{ field.name }}' type="text" placeholder="{{ service.father_title }}">
                    </div>
                {% elif field.label == 'Breed group' %}
                    {% if service.site_mode == 'poultry' %}
                        <div id="breed_groups">
                            <input id="id_breed_group" class="typeahead form-control" name='{{ field.name }}' type="text" placeholder="{{ field.label|title }}">
                        </div>
                    {% endif %}
                {% elif field.label == 'Status' %}
                    <div class="radio radio-info pt-2">
                        {% for option in field %}
                            <input type="radio" name="status" class="radio radio-info" id="{{ option.id_for_label }}" value="{{ option.choice_label|lower }}" {% if option.choice_label == 'Alive' %}checked{% endif %}>
                            <label for="{{ option.id_for_label }}" class="pr-2"> {{ option.choice_label }}</label>
                        {% endfor %}
                    </div>
                {% elif field.label == 'Sex' %}
                    <div class="radio radio-info pt-2">
                        {% for option in field %}
                            <input type="radio" name="sex" class="radio radio-info" id="{{ option.id_for_label }}" value="{{ option.choice_label|lower }}" {% if option.choice_label == 'Female' %}checked{% endif %}>
                            <label for="{{ option.id_for_label }}" class="pr-2"> {{ option.choice_label }}</label>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ field }}
                {% endif %}
                {% for error in field.errors %}
                  <span class="help-block text-danger">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
    <script>
        $('#id_mother').bind('keyup change', function(event) {
            if ($('#id_mother').val() != '' ) {
                $('#id_breed_group').prop("disabled", true);
            } else {
                $('#id_breed_group').prop("disabled", false);
            }
        });
        $('#id_breed_group').bind('keyup change', function(event) {
            if ($('#id_breed_group').val() != '' ) {
                $('#id_mother').prop("disabled", true);
            } else {
                $('#id_mother').prop("disabled", false);
            }
        });
    </script>

</div>
<h3 class="box-title">Attributes</h3>
<hr class="mt-0 mb-5">
<!--/row-->
{% if attributes_form.errors %}
    {% for field in attributes_form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ field.label }}: {{ error }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in attributes_form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<div class="row">
    {% for hidden in attributes_form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in attributes_form.visible_fields %}
        {% if field.name != 'reg_no'%}
            <div class="col-lg-12 col-md-12">
                <div class="form-group row">
                    <label class="col-sm-2 text-right col-form-label">{{ field.label }}</label>
                    <div class="col-lg-10 col-md-10">
                        {% if field.label == 'Breed' %}
                            {% if add_breed %}
                                <div id="breeds">
                                    <input id="id_breed" class="typeahead form-control" name='{{ field.name }}' type="text" placeholder="{{ field.label|title }}">
                                </div>
                            {% else %}
                                    <input id="hid_breed" class="typeahead form-control" name='{{ field.name }}' type="hidden" value="{{ breeds.all.first }}">
                                    <input id="id_breed" class="typeahead form-control" type="text" value="{{ breeds.all.first }}" disabled>
                            {% endif %}
                            {% if 'setup' not in request.get_full_path %}
                                <button type="button" id="showNewBreedModal" data-toggle="modal" data-target="{% if add_breed %}#newBreedModal{% else %}#upgrade{% endif %}" class="mt-1 btn btn-sm btn-outline-success btn-rounded"><i class="fas fa-plus-square"></i> Add New Breed</button>
                            {% endif %}
                        {% elif field.label == 'Custom fields' %}
                            {% if custom_fields %}
                                {% for field_key, field_vals in custom_fields.items %}
                                    {% if field_vals.location == 'pedigree' %}
                                        {% if field_vals.fieldType == 'textField' %}
                                            <label class="col-sm-2 col-form-label">{{ field_vals.fieldName }}</label>
                                            <input id="{{ field_vals.id }}" class="form-control" name='{{ field_vals.fieldName }}' type="text">
                                        {% elif field_vals.fieldType == 'textBox' %}
                                            <label class="col-sm-2 col-form-label">{{ field_vals.fieldName }}</label>
                                            <textarea id="{{ field_vals.id }}" name='{{ field_vals.fieldName }}' class="form-control"></textarea>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                {% if 'account/setup' not in request.path %}
                                    <small>No custom fields added, <a href="{% url 'settings' %}">add some</a>?</small>
                                {% else %}
                                    <small>Make sure you add some custom fields in the 'Site Settings' section after this!</small>
                                {% endif %}
                            {% endif %}
                        {% else %}
                            {{ field }}
                        {% endif %}
                        {% for error in field.errors %}
                          <span class="help-block text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
<!--/row-->
<h3 class="box-title">Images</h3>
<hr class="mt-0 mb-5">
<!--/row-->
{% if image_form.errors %}
    {% for field in image_form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ field.label }}: {{ error }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in image_form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<div class="row">
    {% for hidden in image_form.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    {% for field in image_form.visible_fields %}
        <div class="col-lg-6 col-md-12">
            <div class="form-group row">
                <label class="col-sm-3 text-right col-form-label">{{ field.label }}</label>
                <div class="col-md-9">
                    {% render_field field class="dropzone" %}
                    {% for error in field.errors %}
                      <span class="help-block text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<!--/row-->
<hr>
