{% extends 'base.html' %}

{% block content %}
{% if add_pedigree %}
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">New {% if service.site_mode == 'mammal' %}Pedigree {% else %}Bird {% endif %} Form</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{% url 'pedigree_search' %}">{% if service.site_mode == 'mammal' %}Pedigree {% else %}Poultry {% endif %} search</a></li>
                <li class="breadcrumb-item active">New {% if service.site_mode == 'mammal' %}Pedigree {% else %}Bird {% endif %} Form</li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- add new breeder modal content -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="newBreederModal" aria-hidden="true" style="display: none;">
         <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <form id="breederForm">
                        {% include 'new_breeder_form.html' %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                    <button id="saveBreeder" type="button" class="btn btn-success waves-effect waves-light">Save breeder</button>
                </div>
                <script>
                    $('#saveBreeder').click(function () {
                        var local = breeders;
                        var data = $('#breederForm').serialize();
                        $.ajax({
                            url: '{% url 'new_breeder_form' %}',
                            type: 'post',
                            dataType: 'text',
                            headers: {'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value},
                            data: data,
                            beforeSend: function() {
                                // setting a timeout
                                if ($('#id_breeding_prefix').val().trim() == '') {
                                    $("#id_breeding_prefix").css({"border-color": "red"});;
                                    return false;
                                }
                            },
                            success: function(data) {
                                breeders.push($('#id_breeding_prefix').val());

                                $('#showNewBreederModal').click();
                            },
                            error: function(jqXHR, textStatus, errorThrown){
                            }
                        });
                    });

                    var fadeout = 100;
                    $('#id_breeding_prefix').keyup( function() {
                        $.ajax({
                            url: '{% url 'breeder_check' %}',
                            type: 'post',
                            dataType: 'text',
                            data: $('#id_breeding_prefix').serialize(),
                            success: function(data) {
                            if (data == 'False') {
                                $('#saveBreeder').attr('disabled', false);
                                $('#breeding_prefixMessage').html('');
                                } else {
                                $('#saveBreeder').attr('disabled', true);
                                $('#breeding_prefixMessage').html('<i class="icon-warning-sign"></i> <strong>Warning!</strong> Breeding prefix is already in use!').css('color', 'red');
                                }
                             },
                            error: function(jqXHR, textStatus, errorThrown){
                                console.log('jqXHR:');
                                console.log(jqXHR);
                                console.log('textStatus:');
                                console.log(textStatus);
                                console.log('errorThrown:');
                                console.log(errorThrown);
                            }
                        });
                    });
                </script>
            </div>
        </div>
    </div>
    <!-- /.modal -->
    <!-- add new breed modal content -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="newBreedModal" aria-labelledby="newBreedModal" aria-hidden="true" style="display: none;">
         <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <form id="breedForm" action="{% url 'new_breed_form' %}" method="POST" target="dummyframe" class="form-horizontal" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'new_breed_form.html' %}
                    </form>
                    <iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>
                </div>
                <div class="modal-footer">
                    <button id="closeBreed" type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                    <button id="saveBreed" type="button" class="btn btn-success waves-effect waves-light">Save breed</button>
                </div>
                <script>
                    $('#saveBreed').click(function () {
                        var local = breeds;
                        breeds.push($('#id_breed_name').val());
                        $("#breedForm").submit();
                        $('#closeBreed').click();
                        $('#id_breed').val($('#id_breed_name').val());
                    });
                </script>
            </div>
        </div>
    </div>
    <!-- /.modal -->

    <div class="container pt-5">
        <div class="card ">
            <div class="card-header">
                <h4 class="mb-0 ">Add New {% if service.site_mode == 'mammal' %}Pedigree {% else %}Bird {% endif %} Form</h4>
            </div>
            <div class="card-body">
                <form action="{% url 'new_pedigree_form' %}" method="POST" class="form-horizontal" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-body">
                        {% include 'new_pedigree_form.html' %}
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button id="submitPedigree" type="submit" class="btn btn-success">{% if contributor %}Submit for approval{% else %}Submit{% endif %}</button>
                                            <a href="{% url 'pedigree_search' %}"><button type="button" class="btn btn-inverse">Cancel</button></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"> </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% else %}
<h1>Oops, you shouldn't be here!</h1>
{% endif %}


{% endblock %}