{% extends 'base.html' %}
{% load static %}

{% block header %}
    <style>
        .container {
            display: table;
            width:100%;
            height: 100%;
        }

        input[type=button] {
            vertical-align: middle;
            display: block;
            width: 50%;
            margin: 0 auto;
        }

        .button-wrapper {
            display: table-cell;
            vertical-align: bottom;

        }
    </style>
{% endblock %}

{% block content %}
{% if add_pedigree %}
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">New {% if service.site_mode == 'mammal' %}Pedigree {% else %}Bird {% endif %} Form</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{% url 'pedigree_search' %}">{% if service.site_mode == 'mammal' %}Pedigree {% else %}Poultry {% endif %} search</a></li>
                <li class="breadcrumb-item active">New {% if service.site_mode == 'mammal' %}Pedigree {% else %}Bird {% endif %} Form</li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- Confirm submission moal -->
    <div id="save_ped_modal" class="modal fade confirmForm" tabindex="-1" role="dialog" aria-labelledby="confirmForm" aria-hidden="true" style="display: none;">
         <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to save this pedigree?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                    <button id="confirmSaveBtn" type="button" class="btn btn-success waves-effect waves-light">Save Pedigree</button>
                </div>
                <script>
                    // $('#confirmSaveBtn').click(function () {
                    //     $('#newPedigreeForm').submit();
                    // });
                </script>
            </div>
        </div>
    </div>
    <!-- add new breeder modal content -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="newBreederModal" aria-hidden="true" style="display: none;">
         <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <form id="breederForm">
                        {% include 'new_breeder_form.html' %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                    <button id="saveBreeder" type="button" class="btn btn-success waves-effect waves-light">Save breeder</button>
                </div>
                <script>
                    $('#saveBreeder').click(function () {
                        var local = breeders;
                        var data = $('#breederForm').serialize();
                        $.ajax({
                            url: '{% url 'new_breeder_form' %}',
                            type: 'post',
                            dataType: 'text',
                            headers: {'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value},
                            data: data,
                            beforeSend: function() {
                                // setting a timeout
                                if ($('#id_breeding_prefix').val().trim() == '') {
                                    $("#id_breeding_prefix").css({"border-color": "red"});;
                                    return false;
                                }
                            },
                            success: function(data) {
                                breeders.push($('#id_breeding_prefix').val());

                                $('#showNewBreederModal').click();
                            },
                            error: function(jqXHR, textStatus, errorThrown){
                            }
                        });
                    });

                    var fadeout = 100;
                    $('#id_breeding_prefix').keyup( function() {
                        $.ajax({
                            url: '{% url 'breeder_check' %}',
                            type: 'post',
                            dataType: 'text',
                            data: $('#id_breeding_prefix').serialize(),
                            success: function(data) {
                            if (data == 'False') {
                                $('#saveBreeder').attr('disabled', false);
                                $('#breeding_prefixMessage').html('');
                                } else {
                                $('#saveBreeder').attr('disabled', true);
                                $('#breeding_prefixMessage').html('<i class="icon-warning-sign"></i> <strong>Warning!</strong> Breeding prefix is already in use!').css('color', 'red');
                                }
                             },
                            error: function(jqXHR, textStatus, errorThrown){
                                console.log('jqXHR:');
                                console.log(jqXHR);
                                console.log('textStatus:');
                                console.log(textStatus);
                                console.log('errorThrown:');
                                console.log(errorThrown);
                            }
                        });
                    });
                </script>
            </div>
        </div>
    </div>
    <!-- /.modal -->
    <!-- add new breed modal content -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" id="newBreedModal" aria-labelledby="newBreedModal" aria-hidden="true" style="display: none;">
         <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <form id="breedForm" action="{% url 'new_breed_form' %}" method="POST" target="dummyframe" class="form-horizontal" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'new_breed_form.html' %}
                    </form>
                    <iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>
                </div>
                <div class="modal-footer">
                    <button id="closeBreed" type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                    <button id="saveBreed" type="button" class="btn btn-success waves-effect waves-light">Save breed</button>
                </div>
                <script>
                    $('#saveBreed').click(function () {
                        var local = breeds;
                        breeds.push($('#id_breed_name').val());
                        $("#breedForm").submit();
                        $('#closeBreed').click();
                        $('#id_breed').val($('#id_breed_name').val());
                    });
                </script>
            </div>
        </div>
    </div>
    <!-- /.modal -->

    <div class="container pt-5">
        <div class="card ">
            <div class="card-header">
                <h4 class="mb-0 ">Add New {% if service.site_mode == 'mammal' %}Pedigree {% else %}Bird {% endif %} Form</h4>
            </div>
            <div class="card-body">
                <form id="newPedigreeForm" action="{% url 'new_pedigree_form' %}" method="POST" class="form-horizontal" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-body">
                        {% include 'new_pedigree_form.html' %}
                    </div>
                    <hr>
                </form>
                <div class="form-actions">
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <div class="row container">
                                <div class="col-md-offset-3 col-md-9 button-wrapper">
                                    <button id="submitPedigree" data-toggle="modal" data-target=".confirmForm" class="btn btn-success">{% if contributor %}Submit for approval{% else %}Submit{% endif %}</button>
                                    <a href="{% url 'pedigree_search' %}"><button type="button" class="btn btn-inverse">Cancel</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
<h1>Oops, you shouldn't be here!</h1>
{% endif %}

{% endblock %}

{% block footer %}
<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link
  rel="stylesheet"
  href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css"
  type="text/css"
/>
<script>
    $("#confirmSaveBtn").on("click", function(e) {
        e.preventDefault();

        $.ajax({
            url: "{% url 'new_pedigree_form' %}",
            type: 'post',
            dataType: 'text',
            data: $('#newPedigreeForm').serialize(),
            success: function(data) {
                var result = JSON.parse(data);
                if (result.result == 'success') {
                    // redirect to breeders page
                    window.location.replace("/pedigree/" + result.ped_id);
                } else if (result.result == 'payment_redirect') {
                    window.location.replace(result.url);
                } else {
                    // create html to display what fields were erroneous
                    var errorHtml = "";
                    if (result.errors) {
                        errorHtml = errorHtml + '<h5 class="text-danger">Your form had the following errors:</h5>';
                        console.log(Object.keys(result.errors.field_errors).length)
                        // go through field errors
                        if (Object.keys(result.errors.field_errors).length > 0) {
                            errorHtml = errorHtml + '<br/><ul>';

                            // add each field and error to the errors
                            result.errors.field_errors.forEach( error => {
                                errorHtml = errorHtml + '<li>' + error.field + ': ' + error.error + '</li>';
                            });

                            errorHtml = errorHtml + '</ul>';
                        }

                        // go through invalid fields
                        if (result.errors.non_field_errors.length > 0) {
                            errorHtml = errorHtml + '<br/><ul>';

                            result.errors.non_field_errors.forEach( error => {
                                errorHtml = errorHtml + '<li>' + error + '</li>';
                            });

                            errorHtml = errorHtml + '</ul>';
                        }
                    }
                    // add html to section
                    $('#errors').html(errorHtml);

                    // display errors section
                    $('#errors').removeClass('d-none');

                    // remove modal
                    $('#save_ped_modal').modal('hide');
                    
                    // display error message
                    errorMsg("Your form had errors!");
                }
            },
            error: function(jqXHR, textStatus, errorThrown){
                console.log('jqXHR:');
                console.log(jqXHR);
                console.log('textStatus:');
                console.log(textStatus);
                console.log('errorThrown:');
                console.log(errorThrown);
            }
        });
    });
</script>

{% endblock %}