{% extends 'base.html' %}

{% block content %}
{% if add_pedigree %}
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">New {% if service.site_mode == 'mammal' %}Pedigree {% else %}Bird {% endif %} Form</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{% url 'pedigree_search' %}">{% if service.site_mode == 'mammal' %}Pedigree {% else %}Poultry {% endif %} search</a></li>
                <li class="breadcrumb-item active">New {% if service.site_mode == 'mammal' %}Pedigree {% else %}Bird {% endif %} Form</li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- add new breeder modal content -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="newBreederModal" aria-hidden="true" style="display: none;">
         <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <form id="breederForm">
                        {% include 'new_breeder_form.html' %}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                    <button id="saveBreeder" type="button" class="btn btn-success waves-effect waves-light">Save breeder</button>
                </div>
                <script>
                $('#saveBreeder').click(function () {
                    var local = breeders;
                    var data = $('#breederForm').serialize();
                    $.ajax({
                        url: '{% url 'new_breeder_form' %}',
                        type: 'post',
                        dataType: 'text',
                        headers: {'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value},
                        data: data,
                        beforeSend: function() {
                            // setting a timeout
                            if ($('#id_breeding_prefix').val().trim() == '') {
                                $("#id_breeding_prefix").css({"border-color": "red"});;
                                return false;
                            }
                        },
                        success: function(data) {
                            breeders.push($('#id_breeding_prefix').val());

                            $('#showNewBreederModal').click();
                        },
                        error: function(jqXHR, textStatus, errorThrown){
                        }
                    });
                });
                </script>
            </div>
        </div>
    </div>
    <!-- /.modal -->

    <div class="container pt-5">
        {% if not breeds.all.first %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
                <h3 class="text-warning"><i class="fa fa-exclamation-triangle"></i> Warning</h3> No breeds have been created yet! Create one now?
                <a href="{% url 'new_breed_form' %}"><button type="button" class="btn btn-sm btn-outline-warning float-right">Add new breed</button></a>
            </div>
        {% endif %}

        <div class="card ">
            <div class="card-header">
                <h4 class="mb-0 ">Add New {% if service.site_mode == 'mammal' %}Pedigree {% else %}Bird {% endif %} Form</h4>
            </div>
            <div class="card-body">
                <form action="{% url 'new_pedigree_form' %}" method="POST" class="form-horizontal" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-body">
                        {% include 'new_pedigree_form.html' %}
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="submit" class="btn btn-success">Submit</button>
                                            <a href="{% url 'pedigree_search' %}"><button type="button" class="btn btn-inverse">Cancel</button></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6"> </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% else %}
<h1>Oops, you shouldn't be here!</h1>
{% endif %}


{% endblock %}