<!-- display pop up for parent info -->
<script>
    $('#id_mother').bind('keyup change click', function(event) {
        $.ajax({
            url: "{% url 'get_pedigree_details' %}",
            type: 'GET',
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            dataType: 'text',
            data: {'id': $(this).val()},
            success: function(data) {
                result = JSON.parse(data);

                if (result.result == 'success') {
                    mother_array = JSON.parse(result.pedigree)
                    mother = mother_array[0].fields
                    // if item is complete
                    $('#mother-name').html(mother.name);
                    $('#mother-info').removeClass('d-none');
                } else {
                    // hide info
                    $('#mother-info').addClass('d-none');
                }
            }
        });
    });

    $('#id_father').bind('keyup change click', function(event) {
        $.ajax({
            url: "{% url 'get_pedigree_details' %}",
            type: 'GET',
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            dataType: 'text',
            data: {'id': $(this).val()},
            success: function(data) {
                result = JSON.parse(data);

                if (result.result == 'success') {
                    father_array = JSON.parse(result.pedigree)
                    father = father_array[0].fields
                    // if item is complete
                    $('#father-name').html(father.name);
                    $('#father-info').removeClass('d-none');
                } else {
                    // hide info
                    $('#father-info').addClass('d-none');
                }
            }
        });
    });
</script>