<!-- display pop up for parent info -->
<!-- <script>
    var substringMatcher = function(strs) {
        return function findMatches(q, cb) {
            var matches, substringRegex;

            // an array that will be populated with substring matches
            matches = [];

            // regex used to determine if a string contains the substring `q`
            substrRegex = new RegExp(q, 'i');

            // iterate through the pool of strings and for any string that
            // contains the substring `q`, add it to the `matches` array
            $.each(strs, function(i, str) {
                if (substrRegex.test(str)) {
                    matches.push(str);
                }
            });

            cb(matches);
        };
    };

    var mothersEdit = [{% for ped in pedigrees.all %}{% if ped.sex == 'female' and ped.reg_no != pedigree.reg_no %}'{{ ped.reg_no }}', {% endif %}{% endfor %}];
    var mothersNew = [{% for ped in pedigrees.all %}{% if ped.sex == 'female' %}'{{ ped.reg_no }}', {% endif %}{% endfor %}];

    $('#mothers_edit .typeahead').typeahead(
        {
            hint: false,
            highlight: true,
            minLength: 1
        },
        {
            name: 'mothers',
            source: substringMatcher(mothersEdit),
        }
    );

    $('#mothers_new .typeahead').typeahead(
        {
            hint: false,
            highlight: true,
            minLength: 1
        },
        {
            name: 'mothers',
            source: substringMatcher(mothersNew),
        }
    );

    $('#id_mother').bind('keyup change click typeahead:select', function(event) {
        var ped_reg = ''
        if ($(this).attr('form_type') == 'edit') {
            ped_reg = '{{ pedigree.reg_no }}'
        }
        $.ajax({
            url: "{% url 'get_pedigree_details' %}",
            type: 'GET',
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            dataType: 'text',
            data: {'id': $(this).val(), 'form_type': $(this).attr('form_type'), 'pedigree': ped_reg, 'parent_type': 'mother'},
            success: function(data) {
                result = JSON.parse(data)

                if (result.result == 'success') {
                    // don't display names if no text in field
                    if ($('#id_mother').val() != '') {
                        // display full match
                        if (result.pedigree) {
                            mother_array = JSON.parse(result.pedigree)
                            mother = mother_array[0]
                            // if item is complete
                            $('#mother-info').html('<li class="text-muted"><i class="ti-angle-right"></i><strong>Name:</strong> ' + mother.fields.name + '</li>');
                            $('#mother-info').removeClass('d-none');
                        }
                    } else {
                        // hide info
                        $('#mother-info').addClass('d-none');
                    }
                } else {
                    // hide info
                    $('#mother-info').addClass('d-none');
                }
            }
        });
    });

    var fathersEdit = [{% for ped in pedigrees.all %}{% if ped.sex == 'male' and ped.reg_no != pedigree.reg_no %}'{{ ped.reg_no }}', {% endif %}{% endfor %}];
    var fathersNew = [{% for ped in pedigrees.all %}{% if ped.sex == 'male' %}'{{ ped.reg_no }}', {% endif %}{% endfor %}];

    $('#fathers_edit .typeahead').typeahead(
        {
            hint: false,
            highlight: true,
            minLength: 1
        },
        {
            name: 'fathers',
            source: substringMatcher(fathersEdit),
        }
    );

    $('#fathers_new .typeahead').typeahead(
        {
            hint: false,
            highlight: true,
            minLength: 1
        },
        {
            name: 'fathers',
            source: substringMatcher(fathersNew),
        }
    );

    $('#id_father').bind('keyup change click typeahead:select', function(event) {
        var ped_reg = ''
        if ($(this).attr('form_type') == 'edit') {
            ped_reg = '{{ pedigree.reg_no }}'
        }
        $.ajax({
            url: "{% url 'get_pedigree_details' %}",
            type: 'GET',
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            dataType: 'text',
            data: {'id': $(this).val(), 'form_type': $(this).attr('form_type'), 'pedigree': ped_reg, 'parent_type': 'father'},
            success: function(data) {
                result = JSON.parse(data)

                if (result.result == 'success') {
                    // don't display names if no text in field
                    if ($('#id_father').val() != '') {
                        // display full match
                        if (result.pedigree) {
                            father_array = JSON.parse(result.pedigree)
                            father = father_array[0]
                            // if item is complete
                            $('#father-info').html('<li class="text-muted"><i class="ti-angle-right"></i><strong>Name:</strong> ' + father.fields.name + '</li>');
                            $('#father-info').removeClass('d-none');
                        }
                    } else {
                        // hide info
                        $('#father-info').addClass('d-none');
                    }
                } else {
                    // hide info
                    $('#father-info').addClass('d-none');
                }
            }
        });
    });
</script> -->

<script>
    // get an array of dictionaries of female pedigrees
    var pedData = []
    pedData.push({% for ped in pedigrees.all %}{% if ped.sex == 'female' %}
        {'name': '{{ ped.name }}', 'reg_no': '{{ ped.reg_no }}', 'tag_no': '{{ ped.tag_no }}'},
    {% endif %}{% endfor %})
    console.log(pedData)
    var peds = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name', 'reg_no', 'tag_no'),
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        local: pedData,
        identify: function(ped) { return ped.reg_no },
    });
    peds.initialize();

    // use the data to set up typeahead
    $('#mothers_new .typeahead').typeahead(
        {
            hint: false,
            highlight: true,
            minLength: 1,
        },
        {
        name: 'peds',
        // the text entered in the field after typeahead selected
        displayKey: 'reg_no',
        source: peds.ttAdapter(),
        templates: {
            // this returns each suggestion for the dropdown
            suggestion: function (ped) {
                // check which pedigree attribute matches the input
                if (ped.name.toLowerCase().indexOf(ped._query.toLowerCase()) >= 0) {
                    return '<p>' + ped.name + '</p>'
                }
                else if (ped.reg_no.toLowerCase().indexOf(ped._query.toLowerCase()) >= 0) {
                    return '<p>' + ped.reg_no + '</p>'
                }
                else if (ped.tag_no.toLowerCase().indexOf(ped._query.toLowerCase()) >= 0) {
                    return '<p>' + ped.tag_no + '</p>'
                }
            }
        },
    });

    // Ajax call to get and display name if a full female reg number is in the field
    $('#id_mother').bind('keyup change click typeahead:select', function(event) {
        var ped_reg = ''
        if ($(this).attr('form_type') == 'edit') {
            ped_reg = '{{ pedigree.reg_no }}'
        }
        $.ajax({
            url: "{% url 'get_pedigree_details' %}",
            type: 'GET',
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            dataType: 'text',
            data: {'id': $(this).val(), 'form_type': $(this).attr('form_type'), 'pedigree': ped_reg, 'parent_type': 'mother'},
            success: function(data) {
                result = JSON.parse(data)

                if (result.result == 'success') {
                    // don't display names if no text in field
                    if ($('#id_mother').val() != '') {
                        // display full match
                        if (result.pedigree) {
                            mother_array = JSON.parse(result.pedigree)
                            mother = mother_array[0]
                            // if item is complete
                            $('#mother-info').html('<li class="text-muted"><i class="ti-angle-right"></i><strong>Name:</strong> ' + mother.fields.name + '</li>');
                            $('#mother-info').removeClass('d-none');
                        }
                    } else {
                        // hide info
                        $('#mother-info').addClass('d-none');
                    }
                } else {
                    // hide info
                    $('#mother-info').addClass('d-none');
                }
            }
        });
    });
</script>