{% load custom_tags %}

<table id="{{ table_id }}" class="table table-bordered table-striped">
    <thead>
        <tr>
            {% for col in columns %}
                {% for ped_col, data in column_data.items %}
                    {% if col == data.db_id %}
                        <th scope="col">{{ data.name }}</th>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for pedigree in pedigrees.all %}
            <tr {% if editor or contributor or breeds_editable|length > 0 and pedigree.breed__breed_name in breeds_editable %}onclick="window.location='{% url 'pedigree' pedigree.id %}';" style="cursor: pointer;"{% endif %}>
                {% for col in columns %}
                    {% for ped_col, data in column_data.items %}
                        {% if col == data.db_id %}
                            <th scope="row">
                                {% autoescape off %}
                                    {% pedigree_column_data pedigree data %}
                                {% endautoescape %}
                            </th>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>