{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block header %}
    <link href="{% static 'assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Pedigree Payment Settings</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{% url 'pedigree_search' %}">{% if service.site_mode == 'mammal' %}Pedigree {% else %}Poultry {% endif %} search</a></li>
                <li class="breadcrumb-item active">Settings</li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-md-8 col-lg-8 col-xlg-8">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Payment Settings</h4>
                            <hr>
                            <p>Use the below fields to select how much to charge each user per pedigree.</p>
                            <form class="form-horizontal" action="{% url 'update_pedigree_prices' %}" method="POST">
                                {% csrf_token %}
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label for="bncost" class="col-sm-3 text-right control-label col-form-label">Birth notification cost</label>
                                        <div class="col-sm-9">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fad fa-pound-sign"></i></span>
                                                </div>
                                                <input type="text" class="form-control" id="bncost" name="bncost" value="{{ bn_cost }}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="bnccost" class="col-sm-3 text-right control-label col-form-label">Birth notification child cost</label>
                                        <div class="col-sm-9">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text"><i class="fad fa-pound-sign"></i></span>
                                                </div>
                                                <input type="text" class="form-control" id="bnccost" name="bnccost" value="{{ bn_child_cost }}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="card-body">
                                    <div class="form-group mb-0 text-right">
                                        <button type="submit" class="btn btn-info waves-effect waves-light">Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}



{% endblock %}