{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<style>
td:nth-child(1) {
vertical-align: middle;
}
td:nth-child(2) {
vertical-align: middle;
}
.left-sidebar {
    z-index: 10 !important;
}

.feeds li span {
    font-size: 14px;

</style>

    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">{% if service.site_mode == 'mammal' %}Pedigree {% else %}Bird {% endif %} Details</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{% url 'pedigree_search' %}">{% if service.site_mode == 'mammal' %}Pedigree {% else %}Poultry {% endif %} search</a></li>
                <li class="breadcrumb-item active">{{ lvl1.reg_no }}</li>
            </ol>
        </div>
        <div class="col-md-6 col-4 align-self-center">
            {% if editor or contributor %}
                {% if lvl1.state == 'approved' or editor %}
                    <a href="{% url 'edit_pedigree_form' lvl1.id %}" id="editPedigree" class="btn float-right hidden-sm-down btn-info ml-1"><i class="fas fa-pencil-alt"></i> Edit {% if service.site_mode == 'mammal' %}Pedigree{% else %}Bird{% endif %}
                    </a>
                {% endif %}
                {% if add_pedigree %}
                    <a href="{% url 'new_pedigree_form' %}" class="btn float-right hidden-sm-down btn-success"><i class="fas fa-plus-square"></i> Add {% if service.site_mode == 'mammal' %}Pedigree{% else %}Bird{% endif %}
                    </a>
                {% else %}
                    {% include 'upgrade_modal.html' with type='pedigrees' %}
                    <button class="btn float-right hidden-sm-down btn-success" data-toggle="modal" data-target="#upgrade"><i class="fas fa-plus-square"></i> Add {% if service.site_mode == 'mammal' %}Pedigree{% else %}Bird{% endif %}</button>
                {% endif %}
            {% else %}
                {% include 'login_modal.html' %}
                <!-- /.modal -->
                <button class="btn float-right hidden-sm-down btn-info ml-1" data-toggle="modal" data-target="#login"><i class="fas fa-pencil-alt"></i> Edi {% if service.site_mode == 'mammal' %}Pedigree{% else %}Bird{% endif %}</button>
                <button class="btn float-right hidden-sm-down btn-success" data-toggle="modal" data-target="#login"><i class="fas fa-plus-square"></i> Add {% if service.site_mode == 'mammal' %}Pedigree{% else %}Bird{% endif %}</button>
            {% endif %}

        </div>
    </div>
    <!-- ============================================================== -->

<div class="row">
    <div class="col-md-8 col-lg-8 col-xlg-8">
        {% if lvl1.state == 'edited' %}
            <div class="alert alert-warning alert-rounded"> <i class="ti-alert"></i> This pedigree has an edit pending approval. <a href="{% url 'approvals' %}">View approvals</a>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
            </div>
        {% elif lvl1.state == 'unapproved' %}
            <div class="alert alert-danger alert-rounded"> <i class="ti-alert"></i> This pedigree has not been approved yet! <a href="{% url 'approvals' %}">View approvals</a>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
            </div>
        {% endif %}
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">{{ lvl1.name }}</h4>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs customtab" role="tablist">
                    <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#profile" role="tab"><span class="hidden-sm-up"><i class="ti-info"></i></span> <span class="hidden-xs-down">Profile</span></a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#images" role="tab"><span class="hidden-sm-up"><i class="ti-image"></i></span> <span class="hidden-xs-down">Images</span></a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#children" role="tab"><span class="hidden-sm-up"><i class="mdi mdi-human-child"></i></span> <span class="hidden-xs-down">Children</span></a> </li>
                    <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#cert" role="tab"><span class="hidden-sm-up"><i class="mdi mdi-human-child"></i></span> <span class="hidden-xs-down">Certificate</span></a> </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane p-3 active" id="profile" role="tabpanel">
                        <div class="row">
                            {% if lvl1.images.first %}
                                <div class="col-md-4"><img src="{% for image in lvl1.images.all %}
                                                                    {% if forloop.first %}
                                                                        {{ image.image.url }}
                                                                    {% endif %}
                                                                {% endfor %}"
                                                           class="img-responsive thumbnail mr-3">
                                </div>
                            {% endif %}
                            <div class="col-md-8">
                                {{ lvl1.description|linebreaks }}
                            </div>
                            <div class="row">
                                <dl>
                                    {% if custom_fields %}
                                        {% for field_key, field_vals in custom_fields.items %}
                                            {% if field_vals.location == 'pedigree' %}
                                                <dt>{{ field_vals.fieldName }}</dt>
                                                <dd>{% if field_vals.field_value %}{{ field_vals.field_value }}{% else %}<br>{% endif %}</dd>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </dl>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane p-3" id="images" role="tabpanel">
                        <div class="card-columns el-element-overlay">
                            {% for image in lvl1.images.all %}
                                <div class="card">
                                    <div class="el-card-item">
                                        <div class="el-card-avatar el-overlay-1">
                                            <a class="image-popup-vertical-fit" href="{{ image.image.url }}"> <img src="{{ image.image.url }}" alt="user" /> </a>
                                        </div>
                                        <div class="el-card-content">
                                            <h3 class="box-title">{{ image.title }}</h3> <small>{{ image.description }}</small>
                                            <br/>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="tab-pane p-3" id="children" role="tabpanel">
                        {% if children %}
                            {% for child in children.all %}
                                <div class="card" style="width: 20rem;">
                                  <img class="card-img-top" src="{% for image in child.images.all %}
                                                                    {% if forloop.first %}
                                                                        {{ image.image.url }}
                                                                    {% endif %}
                                                                {% endfor %}" alt="Card image cap">
                                  <div class="card-body">
                                    <h4 class="card-title">{{ child.name }}</h4>
                                    <p class="card-text">{{ child.description|truncatewords:"50" }}</p>
                                    <a href="{% url 'pedigree' child.id %}"
                                       class="btn btn-outline-info waves-effect waves-light" role="button">
                                    <span class="btn-label"><i class="{% if child.sex == 'female' %}icon-symble-female{% else %}icon-symbol-male{% endif %}"></i></span> <strong>{{ child.reg_no }}</strong></a>
                                  </div>
                                </div>
                            {% endfor %}
                        {% else %}
                        <h4>No children for this {% if service.site_mode == 'mammal' %}pedigree{% else %}bird{% endif %}, add one?</h4>
                        {% endif %}
                        <!-- Add existing Child-->
                        <div id="existing" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="existing" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title float-left">Choose existing {% if service.site_mode == 'mammal' %}Pedigree {% else %}Bird{% endif %} (Child)</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{% url 'add_existing' lvl1.id %}" method="POST" class="form-horizontal" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="form-body">
                                                <div class="form-group row">
                                                    <div class="col-8">
                                                        <div id="reg_numbers">
                                                            <input class="typeahead form-control" name='reg_no' type="text" placeholder="Enter registration number">
                                                        </div>
                                                    </div>
                                                    <div class="col-4">
                                                        <button type="submit" class="btn btn-success">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% if editor or contributor %}
                            {% include 'add_new_pedigree.html' %}
                            <button type="button" class="btn btn-sm btn-outline-info" data-toggle="modal" data-target="#existing">Add existing</button>
                        {% else %}
                            {% include 'add_new_pedigree.html' %}
                            <button type="button" class="btn btn-sm btn-outline-info" data-toggle="modal" data-target="#login">Add existing</button>
                        {% endif %}
                    </div>

                    <div class="tab-pane p-3" id="cert" role="tabpanel">
                        {% if not lvl2_1 %}
                            <!--Add existing Parent Mother-->
                            <div id="addExistingParentMother" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addExistingParentMother" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title float-left">Choose existing {% if service.site_mode == 'mammal' %}Pedigree {% else %}Bird{% endif %} ({{ service.mother_title }})</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{% url 'add_existing_parent' lvl1.id %}" method="POST" class="form-horizontal" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="form-body">
                                                    <div class="form-group row">
                                                        <div class="col-8">
                                                            <div id="mothers">
                                                                <input class="typeahead form-control" name='reg_no' type="text" placeholder="Enter registration number">
                                                            </div>
                                                        </div>
                                                        <div class="col-4">
                                                            <button type="submit" class="btn btn-success">Submit</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if not lvl2_2 %}
                            <!--Add existing Parent Father-->
                            <div id="addExistingParentFather" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addExistingParentFarther" aria-hidden="true" style="display: none;">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title float-left">Choose existing {% if service.site_mode == 'mammal' %}Pedigree {% else %}Bird{% endif %} ({{ service.father_title }})</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="{% url 'add_existing_parent' lvl1.id %}" method="POST" class="form-horizontal" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="form-body">
                                                    <div class="form-group row">
                                                        <div class="col-8">
                                                            <div id="fathers">
                                                                <input class="typeahead form-control" name='reg_no' type="text" placeholder="Enter registration number">
                                                            </div>
                                                        </div>
                                                        <div class="col-4">
                                                            <button type="submit" class="btn btn-success">Submit</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <div id="certificate">
                            <table class="table responsive">
                                <thead>
                                    <tr>
                                        <th>Parents</th>
                                        <th>Grandparents</th>
                                        <th>Great Grandparents</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <!--## col1 ##-->
                                        <td rowspan="4">
                                            <!--cell text-->
                                            {% if lvl2_1 %}{{ service.mother_title }}
                                                {% include 'relative.html' with pedigree=lvl2_1 %}
                                            {% elif lvl2_1_grp %}
                                                {% include 'relative-breed_group.html' with breed_group=lvl2_1_grp %}
                                            {% else %}
                                                {% include 'add_new_pedigree.html' with pedigree=lvl2_1 %}
                                                <button type="button" class="btn btn-sm btn-outline-info" data-toggle="modal" data-target="#addExistingParentMother">Add existing</button>
                                            {% endif %}

                                        </td>
                                        <!--## col2 ##-->
                                        <td rowspan="2">
                                            {% if lvl3_1 %}{{ service.mother_title }}
                                                {% include 'relative.html' with pedigree=lvl3_1 %}
                                            {% elif lvl3_1_grp %}
                                                {% include 'relative-breed_group.html' with breed_group=lvl3_1_grp %}
                                            {% else %}
                                                {% include 'add_new_pedigree.html' with pedigree=lvl3_1 %}
                                            {% endif %}
                                        </td>
                                        <!--## col3 ##-->
                                        <td>
                                            {% if lvl4_1 %}{{ service.mother_title }}
                                                {% include 'relative.html' with pedigree=lvl4_1 %}
                                            {% elif lvl4_1_grp %}
                                                {% include 'relative-breed_group.html' with breed_group=lvl4_1_grp %}
                                            {% else %}
                                                {% include 'add_new_pedigree.html' with pedigree=lvl4_1 %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <!--## col3 ##-->
                                        <td>
                                            {% if lvl4_2 %}{{ service.father_title }}
                                                {% include 'relative.html' with pedigree=lvl4_2 %}
                                            {% else %}
                                                {% include 'add_new_pedigree.html' with pedigree=lvl4_2 %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <!--## col2 ##-->
                                        <td rowspan="2">
                                            {% if lvl3_2 %}{{ service.father_title }}
                                                {% include 'relative.html' with pedigree=lvl3_2 %}
                                            {% else %}
                                                {% include 'add_new_pedigree.html' with pedigree=lvl3_2 %}
                                            {% endif %}
                                        </td>
                                        <!--## col3 ##-->
                                        <td>
                                            {% if lvl4_3 %}{{ service.mother_title }}
                                                {% include 'relative.html' with pedigree=lvl4_3 %}
                                            {% elif lvl4_3_grp %}
                                                {% include 'relative-breed_group.html' with breed_group=lvl4_3_grp %}
                                            {% else %}
                                                {% include 'add_new_pedigree.html' with pedigree=lvl4_3 %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <!--## col3 ##-->
                                        <td>{% if lvl4_4 %}{{ service.father_title }}
                                                {% include 'relative.html' with pedigree=lvl4_4 %}
                                            {% else %}
                                                {% include 'add_new_pedigree.html' with pedigree=lvl4_4 %}
                                            {% endif %}</td>
                                    </tr>
                                    <tr>
                                        <!--## col1 ##-->
                                        <td rowspan="4">
                                            <!--cell text-->
                                            {% if lvl2_2 %}{{ service.father_title }}
                                                {% include 'relative.html' with pedigree=lvl2_2 %}
                                            {% else %}
                                                {% include 'add_new_pedigree.html' with pedigree=lvl2_2 %}
                                                <button type="button" class="btn btn-sm btn-outline-info" data-toggle="modal" data-target="#addExistingParentFather">Add existing</button>
                                            {% endif %}
                                        </td>
                                        <!--## col2 ##-->
                                        <td rowspan="2">
                                            {% if lvl3_3 %}{{ service.mother_title }}
                                                {% include 'relative.html' with pedigree=lvl3_3 %}
                                            {% elif lvl3_3_grp %}
                                                {% include 'relative-breed_group.html' with breed_group=lvl3_3_grp %}
                                            {% else %}
                                                {% include 'add_new_pedigree.html' with pedigree=lvl3_3 %}
                                            {% endif %}
                                        </td>
                                        <!--## col3 ##-->
                                        <td>
                                            {% if lvl4_5 %}{{ service.mother_title }}
                                                {% include 'relative.html' with pedigree=lvl4_5 %}
                                            {% elif lvl4_5_grp %}
                                                {% include 'relative-breed_group.html' with breed_group=lvl4_5_grp %}
                                            {% else %}
                                                {% include 'add_new_pedigree.html' with pedigree=lvl4_5 %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <!--## col3 ##-->
                                        <td>
                                            {% if lvl4_6 %}{{ service.father_title }}
                                                {% include 'relative.html' with pedigree=lvl4_6 %}
                                            {% else %}
                                                {% include 'add_new_pedigree.html' with pedigree=lvl4_6 %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <!--## col2 ##-->
                                        <td rowspan="2">
                                            {% if lvl3_4 %}{{ service.father_title }}
                                                {% include 'relative.html' with pedigree=lvl3_4 %}
                                            {% else %}
                                                {% include 'add_new_pedigree.html' with pedigree=lvl3_4 %}
                                            {% endif %}
                                        </td>
                                        <!--## col3 ##-->
                                        <td>
                                            {% if lvl4_7 %}{{ service.mother_title }}
                                                {% include 'relative.html' with pedigree=lvl4_7 %}
                                            {% elif lvl4_7_grp %}
                                                {% include 'relative-breed_group.html' with breed_group=lvl4_7_grp %}
                                            {% else %}
                                                {% include 'add_new_pedigree.html' with pedigree=lvl4_7 %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <!--## col3 ##-->
                                        <td>
                                            {% if lvl4_8 %}{{ service.father_title }}
                                                {% include 'relative.html' with pedigree=lvl4_8 %}
                                            {% else %}
                                                {% include 'add_new_pedigree.html' with pedigree=lvl4_8 %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <a href="{% url 'cert' lvl1.id %}"><button class="btn float-right hidden-sm-down btn-outline-info">generate PDF</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-4 col-xlg-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Details</h4>
                <ul class="feeds">
                    {% if lvl1.creator %}
                    <li>
                        <div class="bg-light-primary"><i class="fas fa-plus"></i></div> Added by <span class="font-weight-normal">{{ lvl1.creator.get_full_name }}</span></li>
                    {% endif %}
                    {% if lvl1.breeder.breeding_prefix %}
                    <li>
                        <div class="bg-light-info"><i class="fas fa-user-plus"></i></div> Breeder <span class=""><a href="{% url 'breeder' lvl1.breeder.breeding_prefix %}"><button class="btn btn-xs btn-outline-dark">{{ lvl1.breeder.breeding_prefix }}</button></a></span></li>
                    {% endif %}
                    {% if lvl1.current_owner.breeding_prefix %}
                    <li>
                        <div class="bg-light-success"><i class="fas fa-user"></i></div> Owner <span class=""><a href="{% url 'breeder' lvl1.breeder.breeding_prefix %}"><button class="btn btn-xs btn-outline-dark">{{ lvl1.current_owner.breeding_prefix }}</button></a></span></li>
                    {% endif %}
                    {% if lvl1.reg_no %}
                    <li>
                        <div class="bg-light-warning"><i class="far fa-id-card"></i></div> Registration Number<span class="font-weight-normal">{{ lvl1.reg_no }}</span></li>
                    {% endif %}
                    {% if lvl1.tag_no %}
                    <li>
                        <div class="bg-light-warning"><i class="far fa-id-card"></i></div> {% if service.site_mode == 'mammal' %}Tag Number{% else %}Ring Number{% endif %}<span class="font-weight-normal">{{ lvl1.tag_no }}</span></li>
                    {% endif %}
                    {% if lvl1.name %}
                    <li>
                        <div class="bg-light-danger"><i class="fas fa-smile"></i></div> Name<span class="font-weight-normal">{{ lvl1.name }}</span></li>
                    {% endif %}
                    {% if lvl1.date_of_registration %}
                    <li>
                        <div class="bg-light-inverse"><i class="far fa-clipboard"></i></div> Date of Registration <span class="font-weight-normal">{{ lvl1.date_of_registration }}</span></li>
                    {% endif %}
                    {% if lvl1.dob %}
                    <li>
                        <div class="bg-light-info"><i class="fas fa-birthday-cake"></i></div> Date of Birth <span class="font-weight-normal">{{ lvl1.dob }}</span></li>
                    {% endif %}
                    {% if lvl1.dod %}
                    <li>
                        <div class="bg-light-danger"><i class="far fa-calendar-times"></i></div> Date of Death<span class="font-weight-normal">{{ lvl1.dod }}</span></li>
                    {% endif %}
                    {% if lvl1.status %}
                    <li>
                        <div class="bg-light-inverse"><i class="{% if lvl1.status == 'alive' %}far fa-heart{% elif lvl1.status == 'dead' %}fas fa-skull{% else %}far fa-question-circle{% endif %}"></i></div> Status <span class="font-weight-normal">{{ lvl1.status|title }}</span></li>
                    {% endif %}
                    {% if lvl1.sex %}
                    <li>
                        <div class="bg-light-inverse"><i class="fas fa-venus-mars"></i></div> Sex <span class="font-weight-normal">{{ lvl1.sex|title }}</span></li>
                    {% endif %}
                    {% if lvl1.attribute.breed.breed_name %}
                    <li>
                        <div class="bg-light-warning"><i class="fas fa-dna"></i></div> Breed <span class="font-weight-normal">{{ lvl1.attribute.breed.breed_name }}</span></li>
                    {% endif %}
                    {% if lvl1.breed_group %}
                    <li>
                        <div class="bg-light-warning"><i class="far fa-object-ungroup"></i></div> Group born from <span class="font-weight-normal">{{ lvl1.breed_group }}</span></li>
                    {% endif %}
                    {% if groups %}
                    <li>
                        <div class="bg-light-warning"><i class="far fa-object-ungroup"></i></div> Member of <span class="font-weight-normal">{% for group in groups %}{{ group.group_name }}, {% endfor %}</span></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <hr>
</div>
{% endblock %}