{% extends 'base.html' %}
{% load static %}

{% block header %}

    <!-- This page plugin CSS -->
    <link href="{% static 'assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

{% endblock %}

{% block content %}

    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">{% if service.site_mode == 'mammal' %}Pedigree {% else %}Poultry {% endif %} Search</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{% url 'pedigree_search' %}">{{ service.animal_type|title }}</a></li>
                <li class="breadcrumb-item active">Search</li>
            </ol>
        </div>

        <div class="col-md-6 col-4 align-self-center">
            {% if add_pedigree %}
                {% if editor or contributor %}
                    <a href="{% url 'new_pedigree_form' %}" class="btn float-right hidden-sm-down btn-success"><i class="fas fa-plus-square"></i> Add {% if service.site_mode == 'mammal' %}Pedigree{% else %}Bird{% endif %}
                    </a>
                {% else %}
                    {% include 'login_modal.html' %}
                    <!-- /.modal -->
                    <button class="btn float-right hidden-sm-down btn-success" data-toggle="modal" data-target="#login"><i class="fas fa-plus-square"></i> Add {% if service.site_mode == 'mammal' %}Pedigree{% else %}Bird{% endif %}</button>
                {% endif %}


            {% else %}
                {% include 'upgrade_modal.html' with type='pedigrees' %}
                <button class="btn float-right hidden-sm-down btn-success" data-toggle="modal" data-target="#upgrade"><i class="fas fa-plus-square"></i> Add {% if service.site_mode == 'mammal' %}Pedigree{% else %}Bird{% endif %}</button>
            {% endif %}

        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->


    <div class="container-fluid">
        <div class="col-12">

        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form class="form-control-line" method="POST" action="{% url 'results' %}"
                        enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="form-group has-success">
                            <div class="form-group has-success">
                                <label class="form-control-label" for="search"> Search</label>
                                <input class="form-control form-control-success" name="search" id="search" required type="text">
                            </div>

                            {% if error %}
                            <br>
                                <div class="alert alert-warning" role="alert">
                                    {{ error }}<strong>{{ search_string }}</strong>.
                                </div>
                            {% endif %}
                        </div>
                    </form>
                    {% if pedigrees.count >= 500 %}
                        <p>The below table will show the last 500 pedigrees added. For a more refined search, use the search bar above.</p>
                    {% endif %}
                    {% include 'pedigree_table.html' with table_id='file_export'%}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}

    <script src="{% static 'assets/libs/datatables/media/js/jquery.dataTables.min.js' %}"></script>


    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.colVis.min.js"></script>
<!--    <script src="{% static 'dist/js/pages/datatable/datatable-advanced.init.js' %}"></script>-->

    <script>
        $('#file_export').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            "language": {
                            "search": "Filter records:"
                          },
            "order": []
        });
        $('.buttons-copy, .buttons-csv, .buttons-print, .buttons-pdf, .buttons-excel').addClass('btn btn-primary mr-1');
    </script>
{% endblock %}