{% extends 'base.html' %}
{% load static %}

{% block header %}

        <link href="<link href="{% static 'assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">{% if service.site_mode == 'mammal' %}Pedigree {% else %}Poultry {% endif %} Breeders</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item active">Breeders</li>
            </ol>
        </div>
        <div class="col-md-6 col-4 align-self-center">

            {% if editor %}
            <a href="{% url 'new_breeder_form' %}" class="btn float-right hidden-sm-down btn-success"><i class="fas fa-plus-square"></i> Add Breeder
            </a>
            {% else %}
                {% include 'login_modal.html' %}
            <!-- /.modal -->
            <button class="btn float-right hidden-sm-down btn-success" data-toggle="modal" data-target="#login"><i class="fas fa-plus-square"></i> Add Breeder</button>
        {% endif %}
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->

    <div class="row">
        <div class="col-12">
            <h2 class="featurette-heading">Breeders</h2>
            <div class="card">
                <div class="card-body">
                    <table id="table" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Breeding Prefix</th>
                            <th scope="col" class="d-none d-sm-table-cell">Address</th>
                            <th scope="col" class="d-none d-sm-table-cell">Email</th>
                            <th scope="col" class="d-none d-sm-table-cell">Phone</th>
                            <th scope="col" class="d-none d-sm-table-cell">Status</th>
                        </tr>
                        </thead>
                        <tbody id="bredTable">
                        {% for breeder in breeders.all %}
                            <tr onclick="window.location='{% url 'breeder' breeder.breeding_prefix %}';"
                                                style="cursor: pointer;">
                                <th scope="row">{{ breeder.contact_name }}</th>
                                <td>{{ breeder.breeding_prefix }}</td>
                                <td class="d-none d-sm-table-cell">{{ breeder.address }}</td>
                                <td class="d-none d-sm-table-cell">{{ breeder.email }}</td>
                                <td class="d-none d-sm-table-cell">{{ breeder.phone_number1 }}</td>
                                <td class="d-none d-sm-table-cell"><span class="label {% if breeder.active %}label-light-success{% else %}label-light-danger{% endif %}">{% if breeder.active %}Active{% else %}Inactive{% endif %}</span></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block footer %}

    <script>
        $(document).ready(function() {
            $('#table').DataTable( {

            } );
        } );
    </script>

{% endblock %}