{% load widget_tweaks %}
<h3 class="box-title">Breeder Info</h3>
<hr class="mt-0 mb-5">
{% if breeder_form.errors %}
    {% for field in breeder_form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ field.label }}: {{ error }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in breeder_form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<div class="row">
    {% for hidden in breeder_form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    {% for field in breeder_form.visible_fields %}
    <div class="col-lg-6 col-md-12">
        <div class="form-group row">
            <label class="col-sm-3 text-right col-form-label">{{ field.label|title }}</label>
            <div class="col-md-9">
                {{ field|attr:"class:form-control" }}
                {% for error in field.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<hr>
