{% extends 'home_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<style>
    .slider-element {
    top: -100px;
    bottom: -100px;
    height: 100px !important;
    margin-bottom: -100px;
}
</style>

<section id="slider" class="slider-element">
	<div class="cloud-wrap">
		<div class="c1"><div class="cloud"></div></div>
		<div class="c2"><div class="cloud"></div></div>
		<div class="c3"><div class="cloud"></div></div>
		<div class="c4"><div class="cloud"></div></div>
		<div class="c5"><div class="cloud"></div></div>
	</div>
</section><!-- #slider end -->

<!-- Page Title
============================================= -->
<section id="page-title">

	<div class="container clearfix">
		<h1>Blog</h1>
		<span></span>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">Blog</li>
		</ol>
	</div>
</section>
<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
			{% if request.user.username == 'sheepishsophie' or request.user.is_superuser %}
			<button id="newEditArticleModalBtn" class="button bg-color button-rounded button-large float-right" data-toggle="modal" data-target=".newEditArticleModal">New Article</button>
			<div class="modal fade newEditArticleModal" tabindex="-1" role="dialog" aria-labelledby="newEditArticleModal" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-body">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title" id="myModalLabel">New/Edit Article</h4>
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							</div>
							<div class="modal-body">
								<form id="blogform" action="{% url 'blog' %}" method="POST" enctype="multipart/form-data">
									{% csrf_token %}
									<div class="form-group mb-4">
										<label class="float-left">Title</label>
										<input id="title" class="form-control" name="title" type="text" required value="">
									</div>
									<div class="form-row mb-4">
										<div class="form-group col-md-6">
											<label class="float-left">Embed Link</label>
											<input id="video" class="form-control" name="video" type="text" value="">
										</div>
										<div class="form-group col-md-6">
											<label class="float-left">Image</label>
											<input id="image" class="form-control" name="image" type="file" value="">
										</div>
									</div>
									<div class="form-group mb-4">
										<label class="float-left">Content</label>
										<textarea id="article_content" name="content" cols="40" rows="10" class="form-control" required></textarea>
									</div>
									<input id="articleID" class="form-control" name="articleID" type="hidden" value="0">
									<div class="modal-footer">
										<button class="button" data-dismiss="modal"><i class="flaticon-cancel-12"></i> Discard</button>
										<button type="submit" id="saveOrg" class="button bg-color">Save</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
			<!-- Posts
			============================================= -->
			<div id="posts" class="post-grid grid-container post-masonry grid-3 clearfix">
				{% for article in articles.all %}
					<div class="entry clearfix">
						<div class="entry-image">
							{% if article.image %}
								<a href="{% url 'blog_article' article.id article.title %}"><img class="image_fade" src="{{ article.image.url }}" alt="{{ article.title }}"></a>
							{% else %}
								<iframe src="{{ article.video }}" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
							{% endif %}
						</div>
						<div class="entry-title">
							<h2><a href="blog-single.html">{{ article.title }}</a></h2>
						</div>
						<ul class="entry-meta clearfix">
							<li><i class="icon-calendar3"></i> {{ article.date_added }}</li>
							{% if request.user.username == 'sheepishsophie' or request.user.is_superuser %}
								<li><a href="#" id="edit{{ article.id }}"><i class="icon-edit"></i> Edit</a></li>
								<li><i data-toggle="modal" data-target=".deleteArticleModal" class="icon-trash text-danger"> Delete</i></li>
							{% endif %}
						</ul>
						<div class="entry-content">
							<p>{{ article.content|truncatewords:75|linebreaks }}</p>
							<a href="{% url 'blog_article' article.id article.title %}"class="more-link">Read More</a>
						</div>
					</div>
					<script>
						$('#edit{{ article.id }}').click( function() {
							$('#articleID').val('{{ article.id }}');
							$('#title').val('{{ article.title }}');
							$('#video').val('{{ article.video }}');
							$('#article_content').html('{{ article.content }}');
							$('#newEditArticleModalBtn').click();
						});
					</script>
					<div class="modal fade deleteArticleModal" tabindex="-1" role="dialog" aria-labelledby="deleteArticleModal" aria-hidden="true">
						<div class="modal-dialog modal-md">
							<div class="modal-body">
								<div class="modal-content">
									<div class="modal-header">
										<h4 class="modal-title" id="myModalLabel">Delete Article</h4>
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
									</div>
									<div class="modal-body">
										<form id="delBlogform" action="{% url 'delete_blog' article.id %}" method="POST">
											{% csrf_token %}
												<p>Are you sure you want to delete: {{ article.title }}</p>
												<button class="button" data-dismiss="modal"><i class="flaticon-cancel-12"></i> Discard</button>
												<button type="submit" id="deleteArticle" class="button bg-color">Delete</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section><!-- #page-title end -->
<!-- Content
============================================= -->
<section id="content">
	<div class="content-wrap nopadding">
		<div class="container clearfix">
			<div class="col-md-12 pt-4">
				<div class="row">
					<h3 class="color"></h3>
					<div>
						{% autoescape off %}
							{{ content.body }}
						{% endautoescape %}
					</div>
				</div>
			</div>
		</div>
{% endblock %}