{% extends 'home_base.html' %}
{% load static %}
{% block content %}

<style>
    .slider-element {
    top: -100px;
    bottom: -100px;
    height: 100px !important;
    margin-bottom: -100px;
}
</style>

<section id="slider" class="slider-element">
	<div class="cloud-wrap">
		<div class="c1"><div class="cloud"></div></div>
		<div class="c2"><div class="cloud"></div></div>
		<div class="c3"><div class="cloud"></div></div>
		<div class="c4"><div class="cloud"></div></div>
		<div class="c5"><div class="cloud"></div></div>
	</div>
</section><!-- #slider end -->

<!-- Page Title
============================================= -->
<section id="page-title">

	<div class="container clearfix">
		<h1>Contact</h1>
		<span>{{ content.sub_title }}</span>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">Contact</li>
		</ol>
	</div>

		</section><!-- #page-title end -->
<!-- Content
============================================= -->
<!-- Contact Form & Map Overlay Section
		============================================= -->
<section id="content">

    <div class="container clearfix content-wrap">

        <!-- Contact Form Overlay
        ============================================= -->
        <div id="contact-form-overlay">

            <div class="fancy-title title-dotted-border">
                <h3>Send us an Email</h3>
            </div>

            <!-- Contact Form
            ============================================= -->
            <div id="contactForm" data-wow-duration="1s">
                {% if contact_form.errors %}
                    {% for field in contact_form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ field.label }}: {{ error }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in contact_form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="row">
                    {% for hidden in breed_form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}

                    {% for field in contact_form.visible_fields %}
                        {% if field.label == 'Subject' or field.label == 'Message' %}
                            <div class="col-lg-12 col-md-12">{% else %}<div class="col-lg-6 col-md-12">
                        {% endif %}
                            <div class="form-group row">
                                {% if field.label == 'Subject' or field.label == 'Message' %}
                                    <label class="col-sm-2 text-left col-form-label">{{ field.label|title }}</label>
                                    <div class="col-md-10">
                                {% else %}
                                    <label class="col-sm-3 text-right col-form-label">{{ field.label|title }}</label>
                                    <div class="col-md-9">
                                {% endif %}
                                    {{ field }}
                                    {{ field.help_text }}
                                    {% for error in field.errors %}
                                      <span class="help-block">{{ error }}</span>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>

                <div class="col_full">
                    <button class="button button-3d" id="contactMessage" type="submit">Send Message</button>
                </div>
            </div>

            <script>
                $('#contactMessage').click(function () {

                    $.ajax({
                        type: "POST",
                        url: "{% url 'contact' %}",
                        dataType: "json",
                        headers: {'X-CSRFToken': '{{ csrf_token }}'},
                        data: {
                            "name": $('#id_name').val(),
                            "email": $('#id_email').val(),
                            "phone": $('#id_phone').val(),
                            "service": $('#id_service').val(),
                            "subject": $('#id_subject').val(),
                            "message": $('#id_message').val(),
                        },
                        beforeSend: function() {
                            $('#contactForm').html('<div class="d-flex flex-column align-items-center justify-content-center ">\
                                                        <div id="spinner" class="spinner-border text-info" style="width: 6rem; height: 6rem;" role="status"></div>\
                                                        <div id="spinnerText" class="row">\
                                                            <p><strong>Sending Message</strong></p>\
                                                        </div>\
                                                    </div>');
                        },

                        success: function (data) {
                            $('spinner').addClass('d-none');
                            $('spinnerText').addClass('d-none');
                            $('#contactForm').html('<h5 class="text-center">' + data.message + '</h5>').fadeIn(3000);
                        },
                        error: function (xhr, textStatus, error) {
                            $('#contactForm').html('<h5 class="text-center">Something went wrong, but we are working on it!</h5>').fadeIn(3000);
                        },
                    });
                });
            </script>
        </div><!-- Contact Form Overlay End -->
    </div>

{% endblock %}