
{% extends 'home_base.html' %}
{% load static %}
{% block content %}


<section id="slider" class="slider-element bg-angle">
	<div class="cloud-wrap">
		<div class="c1"><div class="cloud"></div></div>
		<div class="c2"><div class="cloud"></div></div>
		<div class="c3"><div class="cloud"></div></div>
		<div class="c4"><div class="cloud"></div></div>
		<div class="c5"><div class="cloud"></div></div>
	</div>

	<!-- Slider Titiles
	============================================= -->
	<div class="vertical-middle ignore-header dark">
		<div class="container">
			<div class="row justify-content-between align-items-center">
				<div class="col-md-5">
					<div class="slider-title">
						<h2 class="text-white text-rotater mb-3" data-separator="," data-rotate="fadeIn" data-speed="3500">Track your own<br> <span class="t-rotate text-white">poultry,pets,livestock</span> online.</h2>
						<p>Store your pedigree breed society register. Print your own pedigree certificates. Give read-only access to club members. Integrate with your club or society website.</p>
					</div>
					<a href="{% url 'dashboard' %}" class="button bg-white text-dark button-light button-rounded button-large color ml-0">Try free! <i class="icon-line-arrow-right t600"></i></a>
				</div>
				<div class="col-md-7 d-none d-md-block pt-2">
<!--					<div class="text-center">-->
<!--						<img src="{% static 'assets/images/cloud-lines-logo.png' %}">-->
<!--					</div>-->
					<div class="col_full portfolio-single-image">
						<div class="fslider" data-arrows="false" data-animation="slide">
							<div class="flexslider">
								<div class="slider-wrap">
									<div class="slide"><a href="{% url 'services' %}"><img src="{% static 'cloud-lines/demos/hosting/images/cat_dog.jpg' %}" alt="" style="border-radius: 50%;"></a></div>
									<div class="slide"><a href="{% url 'services' %}"><img src="{% static 'cloud-lines/demos/hosting/images/chick.jpg' %}" alt="" style="border-radius: 50%;"></a></div>
									<div class="slide"><a href="{% url 'services' %}"><img src="{% static 'cloud-lines/demos/hosting/images/cow.jpg' %}" alt="" style="border-radius: 50%;"></a></div>
									<div class="slide"><a href="{% url 'services' %}"><img src="{% static 'cloud-lines/demos/hosting/images/goat.jpg' %}" alt="" style="border-radius: 50%;"></a></div>
									<div class="slide"><a href="{% url 'services' %}"><img src="{% static 'cloud-lines/demos/hosting/images/llama.jpg' %}" alt="" style="border-radius: 50%;"></a></div>
									<div class="slide"><a href="{% url 'services' %}"><img src="{% static 'cloud-lines/demos/hosting/images/rabbit.jpg' %}" alt="" style="border-radius: 50%;"></a></div>
									<div class="slide"><a href="{% url 'services' %}"><img src="{% static 'cloud-lines/demos/hosting/images/sheep.jpg' %}" alt="" style="border-radius: 50%;"></a></div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

</section><!-- #slider end -->

<!-- Content
============================================= -->
<section id="content">

	<div class="content-wrap nopadding">

		<div class="container clearfix">

			<!-- Slider negetive Box
			============================================= -->
			<div class="row justify-content-center slider-box-wrap clearfix">
				<div class="col-10">
					<div class="slider-bottom-box">
						<div class="row align-items-center clearfix">
							<div class="col-lg-4 mb-3 mb-lg-0">
								<h2 class="mb-3 h1 t300">Features</h2>
								<p class="t400 text-muted mb-0">May vary depending on selected service.</p>
							</div>
							<div class="col-lg-4 col-sm-6">
								<ul class="iconlist m-0">
									<li><img src="{% static 'cloud-lines/demos/hosting/images/svg/checked.svg' %}" width="20" height="20" alt="" class="mr-2">4 generation pedigree certificate</li>
									<li class="pt-3"><img src="{% static 'cloud-lines/demos/hosting/images/svg/checked.svg' %}" width="20" height="20" alt="" class="mr-2">Self-generate certificates</li>
									<li class="pt-3"><img src="{% static 'cloud-lines/demos/hosting/images/svg/checked.svg' %}" width="20" height="20" alt="" class="mr-2">Get real-time breed analysis</li>
								</ul>
							</div>
							<div class="col-lg-4 col-sm-6">
								<ul class="iconlist m-0">
									<li class="pt-3 pt-lg-0"><img src="{% static 'cloud-lines/demos/hosting/images/svg/checked.svg' %}" width="20" height="20" alt="" class="mr-2">Track breed history</li>
									<li class="pt-3"><img src="{% static 'cloud-lines/demos/hosting/images/svg/checked.svg' %}" width="20" height="20" alt="" class="mr-2">Import/Export data</li>
									<li class="pt-3"><img src="{% static 'cloud-lines/demos/hosting/images/svg/checked.svg' %}" width="20" height="20" alt="" class="mr-2">Online support</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Features Section
			============================================= -->
			<div class="heading-block center topmargin-lg divcenter nobottomborder clearfix" style="max-width: 700px">
				<h2>All you’ll ever need to track your pedigree breeding programme</h2>
				<p>Cloud Lines is an innovative new product from <a href="#">MA Systems Ltd</a>,
					which enables our valued customers to keep accurate fully-featured records of their breeding programmes.
				<a href="{% url 'about' %}" class="btn btn-link mt-2 color">Learn More &#8250;</a></p>


			</div>
			<div class="clear"></div>
			<div class="row mt-4 clearfix">
				{% for service in services.all %}
				<div class="col-lg-4 col-md-6 mb-5">
					<div class="feature-box not-dark fbox-small">
						<div class="fbox-icon">
							<a href="{% url 'services' %}#{{ service.service_name }}"><img src="{% static service.icon %}" class="noradius nobg tleft" alt="" style="max-height: 50px;"></a>
						</div>
						<h3 class="t500 text-dark">{{ service.service_name }}</h3>
						<p class="t300">{{ service.service_description|truncatechars:200 }}</p>
						<p><a href="{% url 'services' %}#{{ service.service_name }}" class="btn btn-link mt-2 color p-0">Learn More &#8250;</a></p>
					</div>
				</div>
				{% endfor %}
			</div>

		</div>

		<!-- Domain Section
		============================================= -->
		<div class="section section-domain mt-4 mb-3" style="background: #F5F5F5 url('{% static 'cloud-lines/demos/hosting/images/pattern-dark.png' %}') repeat center center;">
			<div class="container">
				<div class="row justify-content-between align-items-center">
					<div class="col-md-5">
						<div class="heading-block mb-0 nobottomborder clearfix">
							<h3 class="ls0 nott">Want to know more?</h3>
							<p class="mb-0">Send us your email address and/or phone number and we'll be in contact to talk to you about your needs.</p>
						</div>
					</div>
					<div class="col-md-6 mt-4 mt-lg-0">
						<div class="input-group input-group-lg">

								<input type="text" id="knowMore" class="form-control" placeholder="Email and/or phone number" aria-label="Email and/or phone number">

								<div class="input-group-append">
									<button id="knowMoreButton" class="btn bgcolor text-white dark">Send</button>
								</div>

							<div id="knowMoreSuccess">

							</div>
						</div>

						<script>
							$('#knowMoreButton').click( function() {
								$.ajax({
									url: '{% url 'know_more' %}',
									type: 'post',
									dataType: 'text',
									headers: {'X-CSRFToken': '{{ csrf_token }}'},
									data: {'contact': $('#knowMore').val()},
									success: function(data) {
										$('#knowMore').addClass('d-none');
										$('#knowMoreButton').addClass('d-none');
										$('#knowMoreSuccess').hide().html("<h4>Thank you, we'll be in touch soon!</h4>").fadeIn(2000);
									 },
									error: function(jqXHR, textStatus, errorThrown){
										console.log('jqXHR:');
										console.log(jqXHR);
										console.log('textStatus:');
										console.log(textStatus);
										console.log('errorThrown:');
										console.log(errorThrown);
									}
								});
							});
						</script>

					</div>
				</div>
			</div>
		</div>

		<!-- Addition Service Section
		============================================= -->
<!--		<div class="container clearfix">-->
<!--			<div class="row clearfix">-->
<!--				<div class="col-md-12">-->
<!--					<div class="before-heading">Other Additional Services</div>-->
<!--					<h3>Highly Available Services</h3>-->
<!--					<div class="row">-->
<!--						<div class="col-md-6">-->
<!--							<div class="feature-box p-4 media-box" style="border-radius: 6px; box-shadow: 0 2px 4px rgba(3,27,78,.1); border: 1px solid #e5e8ed;">-->
<!--								<div class="fbox-media">-->
<!--									<img src="{% static 'cloud-lines/demos/hosting/images/svg/balancing.svg' %}" style="width: 42px;" alt="">-->
<!--								</div>-->
<!--								<div class="fbox-desc">-->
<!--									<h3 class="ls0">Load Balancing</h3>-->
<!--									<p class="mt-2">Our cloud hosting platform is prepared to cope with any amount of load on the frontend or the database. You can rest assured that the site will keep going.</p>-->
<!--								</div>-->
<!--							</div>-->

<!--							<div class="feature-box p-4 topmargin-sm media-box" style="border-radius: 6px; box-shadow: 0 2px 4px rgba(3,27,78,.1); border: 1px solid #e5e8ed;">-->
<!--								<div class="fbox-media">-->
<!--									<img src="{% static 'cloud-lines/demos/hosting/images/svg/location.svg' %}" style="width: 42px;" alt="">-->
<!--								</div>-->
<!--								<div class="fbox-desc">-->
<!--									<h3 class="ls0">Location Zone</h3>-->
<!--									<p class="mt-2">It doesn't matter where you are in the world. You will be able to access your data with zero interruption.</p>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->

<!--						<div class="col-md-6">-->
<!--							<div class="feature-box p-4 mt-4 mt-sm-0 media-box" style="border-radius: 6px; box-shadow: 0 2px 4px rgba(3,27,78,.1); border: 1px solid #e5e8ed;">-->
<!--								<div class="fbox-media">-->
<!--									<img src="{% static 'cloud-lines/demos/hosting/images/svg/ssl.svg' %}" style="width: 42px;" alt="">-->
<!--								</div>-->
<!--								<div class="fbox-desc">-->
<!--									<h3 class="ls0">Dedicated SSL Certificate</h3>-->
<!--									<p class="mt-2">We take security and your data very seriously! That's why we have dedicated SSL certificates on all our domains.</p>-->
<!--								</div>-->
<!--							</div>-->

<!--							<div class="feature-box p-4 topmargin-sm media-box" style="border-radius: 6px; box-shadow: 0 2px 4px rgba(3,27,78,.1); border: 1px solid #e5e8ed;">-->
<!--								<div class="fbox-media">-->
<!--									<img src="{% static 'cloud-lines/demos/hosting/images/svg/team.svg' %}" style="width: 42px;" alt="">-->
<!--								</div>-->
<!--								<div class="fbox-desc">-->
<!--									<h3 class="ls0">Team Accounts</h3>-->
<!--									<p class="mt-2">You have access to your own accounts and access levels. Add and removes users how you see fit.</p>-->
<!--								</div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--		<div class="clear"></div>-->

		<!-- Testimonials Section
		============================================= -->
		<div class="section">
			<div class="container">

				<div class="heading-block center mt-2 mb-3 divcenter nobottomborder clearfix" style="max-width: 700px">
					<div class="before-heading">See what Our Customers say</div>
					<h2>Many Happy Users</h2>
				</div>

				<!-- Owl Carousel
				============================================= -->
				<div id="oc-testimonials" class="owl-carousel center testimonials-carousel testimonial-full carousel-widget mt-5" data-margin="0" data-items-xs="1" data-items-sm="1" data-items-md="1" data-items-lg="2" data-items-xl="3" data-center="true" data-loop="true" data-autoplay="4000" data-speed="500">

					{% for item in testimonials %}
						<div class="oc-item">
							<div class="testimonial p-4 noborder noshadow">
								<div class="testi-image ">
									<i class="i-circled icon-user-circle"></i>
								</div>
<!--								<ul class="list-unstyled ml-0 mt-4 mb-2"><li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i></li></ul>-->
								<div class="testi-content">
									<p class="font-body font-normal">{{ item.body }}</p>
									<div class="testi-meta">
										{{ item.name }}
										<span>{{ item.service }}</span>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}

				</div>
			</div>
		</div>

		<div class="container clearfix">
			<div class="row clearfix">
				<div class="d-none d-lg-block">
					<div class="row">
						<div class="fancy-title title-dotted-border title-center">
							<h3>Comparison Table</h3>
						</div>

						<table class="table table-hover table-comparison nobottommargin">
							<thead>
								<tr>
									<th>&nbsp;</th>
									{% for service in services.all %}
										<th>{{ service }}</th>
									{% endfor %}
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Admin Users</td>
									{% for service in services.all %}
										<td>{{ service.admin_users }}</td>
									{% endfor %}
								</tr>
								<tr>
									<td>Read-only Users</td>
									{% for service in services.all %}
										{% if service.read_only_users == 99 %}
											<td>Unlimited</td>
										{% else %}
											<td>{{ service.read_only_users }}</td>
										{% endif %}
									{% endfor %}
								</tr>
								<tr>
									<td>Number of Animals</td>
									{% for service in services.all %}
										{% if service.number_of_animals == 99 %}
											<td>Unlimited</td>
										{% else %}
											<td>{{ service.number_of_animals }}</td>
										{% endif %}
									{% endfor %}
								</tr>
								<tr>
									<td>Multi Breed</td>
									{% for service in services.all %}
										{% if service.multi_breed %}
											<td><i class="icon-ok"></i></td>
										{% else %}
											<td><i class="icon-remove"></i></td>
										{% endif %}
									{% endfor %}
								</tr>
								<tr>
									<td>Premium support available</td>
									{% for service in services.all %}
										{% if service.support %}
											<td><i class="icon-ok"></i></td>
										{% else %}
											<td><i class="icon-remove"></i></td>
										{% endif %}
									{% endfor %}
								</tr>
								<tr>
									<td>Price Per Month</td>
									{% for service in services.all %}
										{% if service.price_per_month == 0 %}
											<td>Free</td>
										{% else %}
											<td>£{{ service.price_per_month }}</td>
										{% endif %}
									{% endfor %}
								</tr>

								<tr>
									<td>&nbsp;</td>
									{% for service in services.all %}
										<td><a href="{% url 'services' %}#{{ service.service_name }}" class="btn btn-info">Info</a></td>
									{% endfor %}
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>


		<!-- Trusted Client Section
		============================================= -->
<!--				<div class="section mt-3 mb-4 pt-0 nobg">-->
<!--					<div class="container clearfix">-->
<!--						<div class="divcenter" style="max-width: 1000px">-->
<!--							<div class="heading-block center divcenter nobottomborder clearfix" style="max-width: 700px">-->
<!--								<div class="before-heading">Already with Us</div>-->
<!--								<h2>Trusted By</h2>-->
<!--								<p>We are proud to have so many happy clients already with us.</p>-->
<!--							</div>-->
<!--							&lt;!&ndash; Clients Images &ndash;&gt;-->
<!--							<div class="row clearfix">-->
<!--								<div class="col-sm-3 col-6 center"><a href="#"><img src="{% static 'cloud-lines/demos/hosting/images/clients/1.png' %}" alt="" class="clients"></a></div>-->
<!--								<div class="col-sm-3 col-6 center"><a href="#"><img src="{% static 'cloud-lines/demos/hosting/images/clients/2.png' %}" alt="" class="clients"></a></div>-->
<!--								<div class="col-sm-3 col-6 center"><a href="#"><img src="{% static 'cloud-lines/demos/hosting/images/clients/3.png' %}" alt="" class="clients mt-5 mt-sm-0"></a></div>-->
<!--								<div class="col-sm-3 col-6 center"><a href="#"><img src="{% static 'cloud-lines/demos/hosting/images/clients/4.png' %}" alt="" class="clients mt-5 mt-sm-0"></a></div>-->
<!--								<div class="col-sm-3 col-6 center"><a href="#"><img src="{% static 'cloud-lines/demos/hosting/images/clients/5.png' %}" alt="" class="clients mt-5"></a></div>-->
<!--								<div class="col-sm-3 col-6 center"><a href="#"><img src="{% static 'cloud-lines/demos/hosting/images/clients/6.png' %}" alt="" class="clients mt-5"></a></div>-->
<!--								<div class="col-sm-3 col-6 center"><a href="#"><img src="{% static 'cloud-lines/demos/hosting/images/clients/7.png' %}" alt="" class="clients mt-5"></a></div>-->
<!--								<div class="col-sm-3 col-6 center"><a href="#"><img src="{% static 'cloud-lines/demos/hosting/images/clients/8.png' %}" alt="" class="clients mt-5"></a></div>-->
<!--								<div class="col-sm-3 col-6 center"><a href="#"><img src="{% static 'cloud-lines/demos/hosting/images/clients/9.png' %}" alt="" class="clients mt-5"></a></div>-->
<!--								<div class="col-sm-3 col-6 center"><a href="#"><img src="{% static 'cloud-lines/demos/hosting/images/clients/10.png' %}" alt="" class="clients mt-5"></a></div>-->
<!--								<div class="col-sm-3 col-6 center"><a href="#"><img src="{% static 'cloud-lines/demos/hosting/images/clients/11.png' %}" alt="" class="clients mt-5"></a></div>-->
<!--								<div class="col-sm-3 col-6 center"><a href="#"><img src="{% static 'cloud-lines/demos/hosting/images/clients/12.png' %}" alt="" class="clients mt-5"></a></div>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->

{% endblock %}