
{% extends 'home_base.html' %}
{% load static %}

{% block content %}
<style>
    .slider-element {
    top: -100px;
    bottom: -100px;
    height: 100px !important;
    margin-bottom: -100px;
	}

	.StripeElement {
	  box-sizing: border-box;

	  height: 40px;

	  padding: 10px 12px;

	  border: 1px solid transparent;
	  border-radius: 4px;
	  background-color: white;

	  box-shadow: 0 1px 3px 0 #e6ebf1;
	  -webkit-transition: box-shadow 150ms ease;
	  transition: box-shadow 150ms ease;
	}

	.StripeElement--focus {
	  box-shadow: 0 1px 3px 0 #cfd7df;
	}

	.StripeElement--invalid {
	  border-color: #fa755a;
	}

	.StripeElement--webkit-autofill {
	  background-color: #fefde5 !important;
	}

	.spinner{
	  width:100px;
	  height:100px;
	  border-radius:50%;
	  border:10px solid #111;
	  margin:10% 40%;
	  position:relative;
	  z-index:1;
	}
	.spinner:before{
	  content:'';
	  width:100px;
	  height:100px;
	  border-radius:50%;
	  border-top:10px solid #ccc;
	  border-right:10px solid transparent;
	  border-bottom:10px solid transparent;
	  border-left:10px solid transparent;
	  position:absolute;
	  z-index:9;
	  top:-10px;
	  left:-10px;
	  animation:rt 2s infinite;
	}
	@keyframes rt{
	  from{
		transform:rotate(0deg);
	  }
	  to{
		transform:rotate(360deg);
	  }
	}
	.spinner > .fas{
	  font-size:32px;
	  text-align:center;
	  display:block;
	  margin:30% 0;
	}

</style>

<section id="slider" class="slider-element">
	<div class="cloud-wrap">
		<div class="c1"><div class="cloud"></div></div>
		<div class="c2"><div class="cloud"></div></div>
		<div class="c3"><div class="cloud"></div></div>
		<div class="c4"><div class="cloud"></div></div>
		<div class="c5"><div class="cloud"></div></div>
	</div>
</section><!-- #slider end -->

<!-- Page Title
============================================= -->
<section id="page-title">

	<div class="container clearfix">
		<h1>Order Service</h1>
		<span>Fill in your details below and select a service</span>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">Order</li>
		</ol>
	</div>

		</section><!-- #page-title end -->
<!-- Content
============================================= -->
<section id="content">

	<div class="content-wrap">

		<div class="container clearfix">

			<div id="processTabs">
				<ul class="process-steps bottommargin clearfix">
					<li>
						<a href="#ptab1" class="i-circled i-bordered i-alt divcenter">1</a>
						<h5>Select Service</h5>
					</li>
					<li>
						<a href="#ptab2" class="i-circled i-bordered i-alt divcenter">2</a>
						<h5>Enter Billing Info</h5>
					</li>
					<li>
						<a href="#ptab3" class="i-circled i-bordered i-alt divcenter">3</a>
						<h5>Complete Payment</h5>
					</li>
					<li>
						<a href="#ptab4" class="i-circled i-bordered i-alt divcenter">4</a>
						<h5>Order Complete</h5>
					</li>
				</ul>
				<div>

					<div id="ptab1">

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, ipsa, fuga, modi, corporis maiores illum fugit ratione cumque dolores sint obcaecati quod temporibus. Expedita, sapiente, veritatis, impedit iusto labore sed itaque sunt fugiat non quis nihil hic quos necessitatibus officiis mollitia nesciunt neque! Minus, mollitia at iusto unde voluptate repudiandae.</p>
						<form id="serviceForm" name="serviceForm" class="nobottommargin" method="POST">
							<div class="row form-billing">
								<input type="hidden" name="checkout-form-upgrade" id="checkout-form-upgrade" value="{{ attached_service_upgrade }}">
								<div class="col-6 form-group">
									<label>Service:</label>
									<select class="form-control required" name="checkout-form-service" id="checkout-form-service" required>
										<option value="None">------</option>
										{% for service in services %}
											{% if service.service_name != 'Free' %}
												<option value="{{ service.price_per_month }}" name="{{ service.service_name }}" {% if requested_service.id == service.id %}selected{% endif %}>{{ service.service_name }}</option>
											{% endif %}
										{% endfor %}
									</select>

								</div>
								<div class="col-6 form-group">
									<label>Payment Increment:</label>
									<select class="form-control required" name="checkout-form-payment-inc" id="checkout-form-payment-inc" required>
										<option value="None">------</option>
										<option value="Monthly" {% if attached_service_upgrade and service.increment == 'monthly' %}selected{% endif %}>Monthly</option>
										<option value="Yearly" {% if attached_service_upgrade and service.increment == 'yearly' %}selected{% endif %}>Yearly</option>
									</select>
								</div>
							</div>

							<div class="row form-billing">
								<div class="col-6 form-group">
									<label>Animal Type:</label>
									<input type="text" name="checkout-form-animal-type" id="checkout-form-animal-type" class="form-control required" {% if attached_service_upgrade and service.service.service_name != 'Free' %}value="{{ service.animal_type }}"{% else %}placeholder="Cats, Dogs, Goats, Chickens"{% endif %}" required>
									</select>

								</div>
								<div class="col-6 form-group">
									<label>Animal Category:</label>
									<select class="form-control required" name="checkout-form-site-mode" id="checkout-form-site-mode" required>
										<option value="None">------</option>
										<option value="mammal" {% if attached_service_upgrade and service.site_mode == 'mammal' %}selected{% endif %}>Mammal</option>
										<option value="poultry" {% if attached_service_upgrade and service.site_mode == 'poultry' %}selected{% endif %}>Poultry</option>
									</select>
								</div>
							</div>

							<div class="table pt-2">
								<table class="table table-striped">
									<thead>
										<tr>
											<th>Service</th>
											<th>Increment</th>
											<th>Total</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td id="service">None selected</td>
											<td id="increment">None selected</td>
											<td id="total">£0.00</td>
										</tr>
									</tbody>
								</table>
							</div>
							<script>
								$(document).ready(function(){
									updateTables()

									$("#checkout-form-service").add('#checkout-form-payment-inc').change(function(){
										updateTables()
								  	});

								  	function updateTables() {
								  		var service = document.getElementById("checkout-form-service");
										var service_cost = service.options[service.selectedIndex].value;
										var service_name = service.options[service.selectedIndex].text;
										var increment = document.getElementById("checkout-form-payment-inc").value;
										var fadeout = 100;
										var fadein = 2000;
								  	if (increment == 'Monthly'){

										$("#service").fadeOut(fadeout, function() {
											$("#service").text(service_name).fadeIn(fadein)
										});

										$("#increment").fadeOut(fadeout, function() {
											$("#increment").text(increment).fadeIn(fadein)
										});

										$("#total").fadeOut(fadeout, function() {
											$("#total").text('£' + service_cost + 'p/m').fadeIn(fadein)
										});

										$("#service2").fadeOut(fadeout, function() {
											$("#service2").text(service_name).fadeIn(fadein)
										});

										$("#increment2").fadeOut(fadeout, function() {
											$("#increment2").text(increment).fadeIn(fadein)
										});

										$("#total2").fadeOut(fadeout, function() {
											$("#total2").text('£' + service_cost + 'p/m').fadeIn(fadein)
										});

									} else if (increment == 'Yearly') {

										$("#service").fadeOut(fadeout, function() {
											$("#service").text(service_name).fadeIn(fadein)
										});

										$("#increment").fadeOut(fadeout, function() {
											$("#increment").text(increment).fadeIn(fadein)
										});

										$("#total").fadeOut(fadeout, function() {
											$("#total").text('£' + service_cost*12 + 'p/y').fadeIn(fadein)
										});

										$("#service2").fadeOut(fadeout, function() {
											$("#service2").text(service_name).fadeIn(fadein)
										});

										$("#increment2").fadeOut(fadeout, function() {
											$("#increment2").text(increment).fadeIn(fadein)
										});

										$("#total2").fadeOut(fadeout, function() {
											$("#total2").text('£' + service_cost*12 + 'p/y').fadeIn(fadein)
										});


									} else {
									};
								  }
								});


							</script>

							<div id='serviceErrors' class="style-msg errormsg">

							</div>

							<a href="#" id="selectService" class="button button-3d nomargin fright tab-linker">Enter Billing Info &rArr;</a>
							<button id="selectServiceButton" type="button" style="display: none;" class="tab-linker" rel="2"></button>
						</form>
						<script>
							$('#selectService').click( function() {
								$.ajax({
									url: '{% url 'order_service' %}',
									type: 'post',
									dataType: 'text',
									data: $('#serviceForm').serialize(),
									success: function(data) {
										$('#serviceErrors').html('');
										$('#selectServiceButton').click();
									 },
									error: function(jqXHR, textStatus, errorThrown){
										$('#serviceErrors').html('<div class="sb-msg"><i class="icon-remove"></i><strong>Oh snap!</strong> Change your options and try submitting again.</div>');
										console.log('jqXHR:');
										console.log(jqXHR);
										console.log('textStatus:');
										console.log(textStatus);
										console.log('errorThrown:');
										console.log(errorThrown);
									}
								});
							});
						</script>
					</div>
					<div id="ptab2">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, deleniti, atque soluta ratione blanditiis maxime at architecto laudantium eius eaque distinctio dolorem voluptatem nam ab molestias velit nemo. Illo, hic.</p>
						<div align="center">
							<div id="billingLoader" class="spinner d-none"></div>
						</div>
						<form id="billingForm" name="billingForm" class="nobottommargin" method="POST">
							<div class="col-lg-12">
								<div class="row form-billing">
									<div class="col-6 form-group">
										<label>Name:</label>
										<input type="text" name="checkout-form-billing-name" id="checkout-form-billing-name" class="form-control required" value="{{ user.first_name }} {{ user.last_name }}">
									</div>
									<div class="col-6 form-group">
										<label>Email:</label>
										<input type="email" name="checkout-form-billing-email" id="checkout-form-billing-email" class="form-control required" value="{{ user.email }}">
									</div>
									<div class="col-6 form-group">
										<label>Phone:</label><br>
										<input type="text" name="checkout-form-billing-phone" id="checkout-form-billing-phone" class="form-control required" value="{{ user_detail.phone }}">
									</div>
									<div class="col-6 form-group">
										<label>Country:</label>
										<select class="form-control required" name="checkout-form-billing-country" id="checkout-form-billing-country">
											<option value="AX">&#197;land Islands</option>
											<option value="AF">Afghanistan</option>
											<option value="AL">Albania</option>
											<option value="DZ">Algeria</option>
											<option value="AD">Andorra</option>
											<option value="AO">Angola</option>
											<option value="AI">Anguilla</option>
											<option value="AQ">Antarctica</option>
											<option value="AG">Antigua and Barbuda</option>
											<option value="AR">Argentina</option>
											<option value="AM">Armenia</option>
											<option value="AW">Aruba</option>
											<option value="AU">Australia</option>
											<option value="AT">Austria</option>
											<option value="AZ">Azerbaijan</option>
											<option value="BS">Bahamas</option>
											<option value="BH">Bahrain</option>
											<option value="BD">Bangladesh</option>
											<option value="BB">Barbados</option>
											<option value="BY">Belarus</option>
											<option value="PW">Belau</option>
											<option value="BE">Belgium</option>
											<option value="BZ">Belize</option>
											<option value="BJ">Benin</option>
											<option value="BM">Bermuda</option>
											<option value="BT">Bhutan</option>
											<option value="BO">Bolivia</option>
											<option value="BQ">Bonaire, Saint Eustatius and Saba</option>
											<option value="BA">Bosnia and Herzegovina</option>
											<option value="BW">Botswana</option>
											<option value="BV">Bouvet Island</option>
											<option value="BR">Brazil</option>
											<option value="IO">British Indian Ocean Territory</option>
											<option value="VG">British Virgin Islands</option>
											<option value="BN">Brunei</option>
											<option value="BG">Bulgaria</option>
											<option value="BF">Burkina Faso</option>
											<option value="BI">Burundi</option>
											<option value="KH">Cambodia</option>
											<option value="CM">Cameroon</option>
											<option value="CA">Canada</option>
											<option value="CV">Cape Verde</option>
											<option value="KY">Cayman Islands</option>
											<option value="CF">Central African Republic</option>
											<option value="TD">Chad</option>
											<option value="CL">Chile</option>
											<option value="CN">China</option>
											<option value="CX">Christmas Island</option>
											<option value="CC">Cocos (Keeling) Islands</option>
											<option value="CO">Colombia</option>
											<option value="KM">Comoros</option>
											<option value="CG">Congo (Brazzaville)</option>
											<option value="CD">Congo (Kinshasa)</option>
											<option value="CK">Cook Islands</option>
											<option value="CR">Costa Rica</option>
											<option value="HR">Croatia</option>
											<option value="CU">Cuba</option>
											<option value="CW">Cura&Ccedil;ao</option>
											<option value="CY">Cyprus</option>
											<option value="CZ">Czech Republic</option>
											<option value="DK">Denmark</option>
											<option value="DJ">Djibouti</option>
											<option value="DM">Dominica</option>
											<option value="DO">Dominican Republic</option>
											<option value="EC">Ecuador</option>
											<option value="EG">Egypt</option>
											<option value="SV">El Salvador</option>
											<option value="GQ">Equatorial Guinea</option>
											<option value="ER">Eritrea</option>
											<option value="EE">Estonia</option>
											<option value="ET">Ethiopia</option>
											<option value="FK">Falkland Islands</option>
											<option value="FO">Faroe Islands</option>
											<option value="FJ">Fiji</option>
											<option value="FI">Finland</option>
											<option value="FR">France</option>
											<option value="GF">French Guiana</option>
											<option value="PF">French Polynesia</option>
											<option value="TF">French Southern Territories</option>
											<option value="GA">Gabon</option>
											<option value="GM">Gambia</option>
											<option value="GE">Georgia</option>
											<option value="DE">Germany</option>
											<option value="GH">Ghana</option>
											<option value="GI">Gibraltar</option>
											<option value="GR">Greece</option>
											<option value="GL">Greenland</option>
											<option value="GD">Grenada</option>
											<option value="GP">Guadeloupe</option>
											<option value="GT">Guatemala</option>
											<option value="GG">Guernsey</option>
											<option value="GN">Guinea</option>
											<option value="GW">Guinea-Bissau</option>
											<option value="GY">Guyana</option>
											<option value="HT">Haiti</option>
											<option value="HM">Heard Island and McDonald Islands</option>
											<option value="HN">Honduras</option>
											<option value="HK">Hong Kong</option>
											<option value="HU">Hungary</option>
											<option value="IS">Iceland</option>
											<option value="IN">India</option>
											<option value="ID">Indonesia</option>
											<option value="IR">Iran</option>
											<option value="IQ">Iraq</option>
											<option value="IM">Isle of Man</option>
											<option value="IL">Israel</option>
											<option value="IT">Italy</option>
											<option value="CI">Ivory Coast</option>
											<option value="JM">Jamaica</option>
											<option value="JP">Japan</option>
											<option value="JE">Jersey</option>
											<option value="JO">Jordan</option>
											<option value="KZ">Kazakhstan</option>
											<option value="KE">Kenya</option>
											<option value="KI">Kiribati</option>
											<option value="KW">Kuwait</option>
											<option value="KG">Kyrgyzstan</option>
											<option value="LA">Laos</option>
											<option value="LV">Latvia</option>
											<option value="LB">Lebanon</option>
											<option value="LS">Lesotho</option>
											<option value="LR">Liberia</option>
											<option value="LY">Libya</option>
											<option value="LI">Liechtenstein</option>
											<option value="LT">Lithuania</option>
											<option value="LU">Luxembourg</option>
											<option value="MO">Macao S.A.R., China</option>
											<option value="MK">Macedonia</option>
											<option value="MG">Madagascar</option>
											<option value="MW">Malawi</option>
											<option value="MY">Malaysia</option>
											<option value="MV">Maldives</option>
											<option value="ML">Mali</option>
											<option value="MT">Malta</option>
											<option value="MH">Marshall Islands</option>
											<option value="MQ">Martinique</option>
											<option value="MR">Mauritania</option>
											<option value="MU">Mauritius</option>
											<option value="YT">Mayotte</option>
											<option value="MX">Mexico</option>
											<option value="FM">Micronesia</option>
											<option value="MD">Moldova</option>
											<option value="MC">Monaco</option>
											<option value="MN">Mongolia</option>
											<option value="ME">Montenegro</option>
											<option value="MS">Montserrat</option>
											<option value="MA">Morocco</option>
											<option value="MZ">Mozambique</option>
											<option value="MM">Myanmar</option>
											<option value="NA">Namibia</option>
											<option value="NR">Nauru</option>
											<option value="NP">Nepal</option>
											<option value="NL">Netherlands</option>
											<option value="AN">Netherlands Antilles</option>
											<option value="NC">New Caledonia</option>
											<option value="NZ">New Zealand</option>
											<option value="NI">Nicaragua</option>
											<option value="NE">Niger</option>
											<option value="NG">Nigeria</option>
											<option value="NU">Niue</option>
											<option value="NF">Norfolk Island</option>
											<option value="KP">North Korea</option>
											<option value="NO">Norway</option>
											<option value="OM">Oman</option>
											<option value="PK">Pakistan</option>
											<option value="PS">Palestinian Territory</option>
											<option value="PA">Panama</option>
											<option value="PG">Papua New Guinea</option>
											<option value="PY">Paraguay</option>
											<option value="PE">Peru</option>
											<option value="PH">Philippines</option>
											<option value="PN">Pitcairn</option>
											<option value="PL">Poland</option>
											<option value="PT">Portugal</option>
											<option value="QA">Qatar</option>
											<option value="IE">Republic of Ireland</option>
											<option value="RE">Reunion</option>
											<option value="RO">Romania</option>
											<option value="RU">Russia</option>
											<option value="RW">Rwanda</option>
											<option value="ST">S&atilde;o Tom&eacute; and Pr&iacute;ncipe</option>
											<option value="BL">Saint Barth&eacute;lemy</option>
											<option value="SH">Saint Helena</option>
											<option value="KN">Saint Kitts and Nevis</option>
											<option value="LC">Saint Lucia</option>
											<option value="SX">Saint Martin (Dutch part)</option>
											<option value="MF">Saint Martin (French part)</option>
											<option value="PM">Saint Pierre and Miquelon</option>
											<option value="VC">Saint Vincent and the Grenadines</option>
											<option value="SM">San Marino</option>
											<option value="SA">Saudi Arabia</option>
											<option value="SN">Senegal</option>
											<option value="RS">Serbia</option>
											<option value="SC">Seychelles</option>
											<option value="SL">Sierra Leone</option>
											<option value="SG">Singapore</option>
											<option value="SK">Slovakia</option>
											<option value="SI">Slovenia</option>
											<option value="SB">Solomon Islands</option>
											<option value="SO">Somalia</option>
											<option value="ZA">South Africa</option>
											<option value="GS">South Georgia/Sandwich Islands</option>
											<option value="KR">South Korea</option>
											<option value="SS">South Sudan</option>
											<option value="ES">Spain</option>
											<option value="LK">Sri Lanka</option>
											<option value="SD">Sudan</option>
											<option value="SR">Suriname</option>
											<option value="SJ">Svalbard and Jan Mayen</option>
											<option value="SZ">Swaziland</option>
											<option value="SE">Sweden</option>
											<option value="CH">Switzerland</option>
											<option value="SY">Syria</option>
											<option value="TW">Taiwan</option>
											<option value="TJ">Tajikistan</option>
											<option value="TZ">Tanzania</option>
											<option value="TH">Thailand</option>
											<option value="TL">Timor-Leste</option>
											<option value="TG">Togo</option>
											<option value="TK">Tokelau</option>
											<option value="TO">Tonga</option>
											<option value="TT">Trinidad and Tobago</option>
											<option value="TN">Tunisia</option>
											<option value="TR">Turkey</option>
											<option value="TM">Turkmenistan</option>
											<option value="TC">Turks and Caicos Islands</option>
											<option value="TV">Tuvalu</option>
											<option value="UG">Uganda</option>
											<option value="UA">Ukraine</option>
											<option value="AE">United Arab Emirates</option>
											<option value="GB" selected='selected'>United Kingdom (UK)</option>
											<option value="US">United States (US)</option>
											<option value="UY">Uruguay</option>
											<option value="UZ">Uzbekistan</option>
											<option value="VU">Vanuatu</option>
											<option value="VA">Vatican</option>
											<option value="VE">Venezuela</option>
											<option value="VN">Vietnam</option>
											<option value="WF">Wallis and Futuna</option>
											<option value="EH">Western Sahara</option>
											<option value="WS">Western Samoa</option>
											<option value="YE">Yemen</option>
											<option value="ZM">Zambia</option>
											<option value="ZW">Zimbabwe</option>
										</select>
									</div>
									<div class="col-12 form-group">
										<label>Address Line 1:</label>
										<input type="text" name="checkout-form-billing-add1" id="checkout-form-billing-add1" class="form-control required" value="{{ customer.address.line1 }}">
									</div>
									<div class="col-12 form-group">
										<label>Address Line 2:</label>
										<input type="text" name="checkout-form-billing-add2" id="checkout-form-billing-add2" class="form-control required" value="{{ customer.address.line2 }}">
									</div>
									<div class="col-12 form-group">
										<label>City:</label>
										<input type="text" name="checkout-form-billing-city" id="checkout-form-billing-city" class="form-control required" value="{{ customer.address.city }}">
									</div>
									<div class="col-12 form-group">
										<label>Post Code:</label>
										<input type="text" name="checkout-form-billing-post-code" id="checkout-form-billing-post-code" class="form-control required" value="{{ customer.address.postal_code }}">
									</div>

								</div>
							</div>
						</form>


						<div id='billingErrors' class="style-msg errormsg">

							</div>
						<div class="line"></div>
						<a href="#" class="button button-3d nomargin tab-linker" rel="1">Previous</a>
						<a href="#" id="selectBilling" class="button button-3d nomargin fright" >Complete Payment</a>
						<button id="selectBillingButton" type="button" style="display: none;" class="tab-linker" rel="3"></button>

						<script>
							$('#selectBilling').click( function() {
								$('#billingLoader').removeClass('d-none');
								$('#billingForm').addClass('d-none');
								$.ajax({
									url: '{% url 'order_billing' %}',
									type: 'post',
									dataType: 'text',
									data: $('#billingForm').serialize(),
									success: function(data) {
										$('#billingErrors').html('');
										$('#selectBillingButton').click();
										$('#billingLoader').addClass('d-none');
										$('#billingForm').removeClass('d-none');
									 },
									error: function(jqXHR, textStatus, errorThrown){
										$('#billingLoader').addClass('d-none');
										$('#billingForm').removeClass('d-none');
										$('#billingErrors').html('<div class="sb-msg"><i class="icon-remove"></i><strong>Oh snap!</strong> Check your information and try submitting again.</div>');
										console.log('jqXHR:');
										console.log(jqXHR);
										console.log('textStatus:');
										console.log(textStatus);
										console.log('errorThrown:');
										console.log(errorThrown);
									}
								});
							});
						</script>
					</div>
					<div id="ptab3">
						<p>Card: 4000 0582 6000 0005</p>
						<div class="table pt-2">
							<table class="table table-striped">
								<thead>
									<tr>
										<th>Service</th>
										<th>Increment</th>
										<th>Total</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td id="service2">None selected</td>
										<td id="increment2">None selected</td>
										<td id="total2">£0.00</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="line"></div>
						<div class="col-lg-6 offset-lg-3">
							<form id="payment-form">
								<label>Card Holders Name:</label>
								<input id="cardholder-name" type="text" class="form-control" value="{{ user.first_name }} {{ user.last_name }}">
								<!-- placeholder for Elements -->
								<div id="card-element"></div>
								<!-- Used to display Element errors. -->
								<div id="card-errors" role="alert"></div>
							</form>
						</div>

						<div class="line"></div>
						<a href="#" class="button button-3d nomargin tab-linker" rel="2">Previous</a>
						<a href="#" id="card-button" class="button button-3d nomargin fright" rel="4">Complete Order</a>
						<button id="selectCardButton" type="button" style="display: none;" class="tab-linker" rel="4"></button>

						<script>
							var stripe = Stripe('{{ public_api_key }}');
							var elements = stripe.elements();

							// Custom styling can be passed to options when creating an Element.
							var style = {
							  base: {
								color: '#32325d',
								fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
								fontSmoothing: 'antialiased',
								fontSize: '16px',
								'::placeholder': {
								  color: '#aab7c4'
								}
							  },
							  invalid: {
								color: '#fa755a',
								iconColor: '#fa755a'
							  }
							};

							// Create an instance of the card Element.
							var card = elements.create('card', {style: style});

							// Add an instance of the card Element into the `card-element` <div>.
							card.mount('#card-element');


							card.addEventListener('change', function(event) {
							  var displayError = document.getElementById('card-errors');
							  if (event.error) {
								displayError.textContent = event.error.message;
							  } else {
								displayError.textContent = '';
							  }
							});

							// Create a token or display an error when the form is submitted.
							var form = document.getElementById('payment-form');
							var cardButton = document.getElementById('card-button');
							cardButton.addEventListener('click', function(event) {
							  	event.preventDefault();

							  	stripe.createToken(card).then(function(result) {
									if (result.error) {
									  	// Inform the customer that there was an error.
								  		var errorElement = document.getElementById('card-errors');
								  		errorElement.textContent = result.error.message;
									} else {
										// switch to next step and start loader
										$('#selectCardButton').click();
										$('#loader').removeClass("d-none");
										$('#loader').html("<i class='fas fa-lock'></i>").fadeIn(2000);
										$('#paymentSuccess').addClass('d-none');
										$('#paymentFail').addClass('d-none');
								  		// Send the token to your server.
								  		stripeTokenHandler(result.token);
									}
							  	});
							});

							function stripeTokenHandler(token) {

							  	// Submit the token
							  	$.ajax({
									url: '{% url 'order_subscribe' %}',
									type: 'post',
									dataType: 'text',
									data: token,
									success: function(data) {
										var result = JSON.parse(data);
										console.log(result);
										$('#loader').addClass('d-none');
										if (result.result == 'fail') {
											$('#paymentFail').removeClass('d-none');
											$('#failedMessage').html(result.feedback);
										} else {
											$('#invoice').attr("href", result.invoice);
											$('#receipt').attr("href", result.receipt);
											$('#paymentSuccess').removeClass('d-none');

										}
									 },
									error: function(jqXHR, textStatus, errorThrown){
										console.log('jqXHR:');
										console.log(jqXHR);
										console.log('textStatus:');
										console.log(textStatus);
										console.log('errorThrown:');
										console.log(errorThrown);
									}
								});
							}
						</script>
					</div>
					<div id="ptab4" align="center">
						<div id="loader" class="spinner d-none"></div>
						<div id="paymentSuccess" class="mt-2 d-none" >
							<h2>Thank You.</h2>
							<strong>Your order has been processed.</strong>
							<div>
								<a href="{% url 'dashboard' %}" class="button button-desc button-3d button-rounded button-teal center mt-5">Dashboard<span>Click here to go to your new dashboard!</span></a>
							</div>
							<a href="#" id="invoice" class="button button-border button-border-thin button-aqua"><i class="icon-file-invoice"></i>Invoice</a>
							<a href="#" id="receipt" target="_blank" class="button button-border button-border-thin button-aqua"><i class="icon-receipt"></i>Receipt</a>
						</div>
						<div id="paymentFail" class="alert alert-danger mt-2 d-none">
							<h4>Oh No!</h4>
							<div id="failedMessage">

							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="clear"></div>

			<div class="divider divider-center"><i class="icon-cloud"></i></div>

		</div>

	</div>



	<script>
		$(function() {
			$( "#processTabs" ).tabs({ show: { effect: "fade", duration: 400 } });
			$( ".tab-linker" ).click(function() {
				$( "#processTabs" ).tabs("option", "active", $(this).attr('rel') - 1);
				return false;
			});
		});
	</script>
{% endblock %}