
{% extends 'home_base.html' %}
{% load static %}
{% block content %}
<!-- Load Stripe.js on your website. -->
<script src="https://js.stripe.com/v3"></script>
<style>
    .slider-element {
    top: -100px;
    bottom: -100px;
    height: 100px !important;
    margin-bottom: -100px;
}
</style>

<section id="slider" class="slider-element">
	<div class="cloud-wrap">
		<div class="c1"><div class="cloud"></div></div>
		<div class="c2"><div class="cloud"></div></div>
		<div class="c3"><div class="cloud"></div></div>
		<div class="c4"><div class="cloud"></div></div>
		<div class="c5"><div class="cloud"></div></div>
	</div>
</section><!-- #slider end -->

<!-- Page Title
============================================= -->
<section id="page-title">

	<div class="container clearfix">
		<h1>{{ content.title }}</h1>
		<span>{{ content.sub_title }}</span>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">Services</li>
		</ol>
	</div>

		</section><!-- #page-title end -->
<!-- Content
============================================= -->
<section id="content">
	<div class="content-wrap nopadding">
		<div class="container clearfix">
            {% for service in services %}
                {% if not forloop.counter|divisibleby:2 %}
                    <div class="col_two_fifth topmargin nobottommargin" style="min-height: 350px;">
                        <img src="{% static service.icon %}" class="noradius nobg tleft" alt="" style="width: 252px;">
                    </div>

                    <div class="col_three_fifth nobottommargin col_last">

                        <div class="heading-block">
                            <h3 id="{{ service.service_name }}" style="padding-top: 60px; margin-top: -60px;">{{ service.service_name }}</h3>
                            <span>
                                <button class="button button-mini button-circle button-aqua" data-container="body"
                                   data-toggle="popover" data-placement="top" data-content="Number of admin accounts."
                                   data-original-title="" title="" aria-describedby="{{ service.service_name }}"><i class="icon-user-cog"></i>{{ service.admin_users }}</button>

                                <button class="button button-mini button-circle button-aqua" data-container="body"
                                   data-toggle="popover" data-placement="top" data-content="Number of read only accounts."
                                   data-original-title="" title="" aria-describedby="{{ service.service_name }}"><i class="icon-user-friends"></i>{{ service.read_only_users }}</button>

                                <button class="button button-mini button-circle button-aqua" data-container="body"
                                   data-toggle="popover" data-placement="top" data-content="Number of animals."
                                   data-original-title="" title="" aria-describedby="{{ service.service_name }}"><i class="icon-paw"></i>{{ service.number_of_animals }}</button>

                                <button class="button button-mini button-circle button-aqua" data-container="body"
                                   data-toggle="popover" data-placement="top" data-content="Multi breed available."
                                   data-original-title="" title="" aria-describedby="{{ service.service_name }}"><i class="icon-list-ol"></i>{% if service.multi_breed %}<i class="icon-checkmark"></i>{% else %}<i class="icon-line-cross"></i>{% endif %}</button>

                                <button class="button button-mini button-circle button-aqua" data-container="body"
                                   data-toggle="popover" data-placement="top" data-content="Support available."
                                   data-original-title="" title="" aria-describedby="{{ service.service_name }}"><i class="icon-hands-helping"></i>{% if service.support %}<i class="icon-checkmark"></i>{% else %}<i class="icon-line-cross"></i>{% endif %}</button>


                                <button class="button button-mini button-circle button-aqua" data-container="body"
                                   data-toggle="popover" data-placement="top" data-content="Price per month."
                                   data-original-title="" title="" aria-describedby="{{ service.service_name }}"><i class="icon-pound-sign"></i>{{ service.price_per_month }} p/month</button>

                                <button class="button button-mini button-circle button-aqua" data-container="body"
                                   data-toggle="popover" data-placement="top" data-content="Price per year."
                                   data-original-title="" title="" aria-describedby="{{ service.service_name }}"><i class="icon-pound-sign"></i>{{ service.price_per_year }} p/year</button>
                            </span>
                        </div>
                        {% autoescape off %}
                            {{ service.service_description }}
                        {% endautoescape %}
                        <br>
                        <br>
                        <div class="btn-group" role="group" aria-label="service_buttons">
                            {% autoescape off %}
                                {{ service.button_monthly }}
                                {{ service.button_yearly }}
                            {% endautoescape %}
                        </div>

                    </div>

                    <div class="clear"></div><div class="line"></div>
                {% endif %}
                {% if forloop.counter|divisibleby:2 %}
                    <div class="col_three_fifth">
                        <div class="heading-block">
                            <h3 id="{{ service.service_name }}" style="padding-top: 60px; margin-top: -60px;">{{ service.service_name }}</h3>
                            <span>
                                <button class="button button-mini button-circle button-aqua" data-container="body"
                                   data-toggle="popover" data-placement="top" data-content="Number of admin accounts."
                                   data-original-title="" title="" aria-describedby="{{ service.service_name }}"><i class="icon-user-cog"></i>{{ service.admin_users }}</button>

                                <button class="button button-mini button-circle button-aqua" data-container="body"
                                   data-toggle="popover" data-placement="top" data-content="Number of read only accounts."
                                   data-original-title="" title="" aria-describedby="{{ service.service_name }}"><i class="icon-user-friends"></i>{{ service.read_only_users }}</button>

                                <button class="button button-mini button-circle button-aqua" data-container="body"
                                   data-toggle="popover" data-placement="top" data-content="Number of animals."
                                   data-original-title="" title="" aria-describedby="{{ service.service_name }}"><i class="icon-paw"></i>{{ service.number_of_animals }}</button>

                                <button class="button button-mini button-circle button-aqua" data-container="body"
                                   data-toggle="popover" data-placement="top" data-content="Multi breed available."
                                   data-original-title="" title="" aria-describedby="{{ service.service_name }}"><i class="icon-list-ol"></i>{% if service.multi_breed %}<i class="icon-checkmark"></i>{% else %}<i class="icon-line-cross"></i>{% endif %}</button>

                                <button class="button button-mini button-circle button-aqua" data-container="body"
                                   data-toggle="popover" data-placement="top" data-content="Support available."
                                   data-original-title="" title="" aria-describedby="{{ service.service_name }}"><i class="icon-hands-helping"></i>{% if service.support %}<i class="icon-checkmark"></i>{% else %}<i class="icon-line-cross"></i>{% endif %}</button>


                                <button class="button button-mini button-circle button-aqua" data-container="body"
                                   data-toggle="popover" data-placement="top" data-content="Price per month."
                                   data-original-title="" title="" aria-describedby="{{ service.service_name }}"><i class="icon-pound-sign"></i>{{ service.price_per_month }} p/month</button>

                                <button class="button button-mini button-circle button-aqua" data-container="body"
                                   data-toggle="popover" data-placement="top" data-content="Price per year."
                                   data-original-title="" title="" aria-describedby="{{ service.service_name }}"><i class="icon-pound-sign"></i>{{ service.price_per_year }} p/year</button>
                            </span>
                        </div>

                        {% autoescape off %}
                            {{ service.service_description }}
                        {% endautoescape %}
                        <br>
                        <br>
                        <div class="btn-group" role="group" aria-label="service_buttons">
                            {% autoescape off %}
                                {{ service.button_monthly }}
                                {{ service.button_yearly }}
                            {% endautoescape %}
                        </div>

                        </div>

                        <div class="col_two_fifth topmargin col_last" style="min-height: 350px">
                            <img src="{% static service.icon %}" class="noradius nobg tleft" alt="" style="width: 252px;">
                        </div>
                        <div class="clear"></div><div class="line"></div>
                    {% endif %}
                {% endfor %}
            </div>
{% endblock %}