
{% extends 'home_base.html' %}
{% load static %}
{% block content %}
<!-- Load Stripe.js on your website. -->
<script src="https://js.stripe.com/v3"></script>
<style>
    .slider-element {
    top: -100px;
    bottom: -100px;
    height: 100px !important;
    margin-bottom: -100px;
}
</style>

<section id="slider" class="slider-element">
	<div class="cloud-wrap">
		<div class="c1"><div class="cloud"></div></div>
		<div class="c2"><div class="cloud"></div></div>
		<div class="c3"><div class="cloud"></div></div>
		<div class="c4"><div class="cloud"></div></div>
		<div class="c5"><div class="cloud"></div></div>
	</div>
</section><!-- #slider end -->

<!-- Page Title
============================================= -->
<section id="page-title">

	<div class="container clearfix">
		<h1>{{ content.title }}</h1>
		<span>{{ content.sub_title }}</span>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
			<li class="breadcrumb-item active" aria-current="page">Services</li>
		</ol>
	</div>

		</section><!-- #page-title end -->
<!-- Content
============================================= -->
<section id="content">
	<div class="content-wrap nopadding">
		<div class="container clearfix">
            {% for service in services %}
                {% if not forloop.counter|divisibleby:2 %}
                    <div class="col_two_fifth topmargin nobottommargin" style="min-height: 350px;">
                        {% if service.image %}
                            <img src="{{ service.image.url }}" class="img-fluid" alt="{{ service.service_name }}">
                        {% endif %}
                    </div>

                    <div class="col_three_fifth nobottommargin col_last">

                        <div class="heading-block">
                            <h3 id="{{ service.service_name }}" style="padding-top: 60px; margin-top: -60px;">{{ service.service_name }}</h3>
                            <span>
                                <button class="button button-mini button-circle button-aqua" data-container="body"
                                   data-toggle="tooltip" data-placement="top" title="Max number of admin accounts"
                                   data-original-title="" aria-describedby="{{ service.service_name }}"><i class="icon-user-cog"></i>{{ service.admin_users }}</button>

                                <button class="button button-mini button-circle button-aqua" data-container="body"
                                   data-toggle="tooltip" data-placement="top" title="Max number of read only accounts"
                                   data-original-title="" aria-describedby="{{ service.service_name }}"><i class="icon-user-friends"></i>{{ service.read_only_users }}</button>

                                <button class="button button-mini button-circle button-aqua" data-container="body"
                                   data-toggle="tooltip" data-placement="top" title="Max number of animals"
                                   data-original-title="" aria-describedby="{{ service.service_name }}"><i class="icon-paw"></i>{{ service.number_of_animals }}</button>

                                <button class="button button-mini button-circle button-aqua" data-container="body"
                                   data-toggle="tooltip" data-placement="top" title="{% if service.multi_breed %}Multi breed available{% else %}No multi breed available{% endif %}"
                                   data-original-title="" aria-describedby="{{ service.service_name }}"><i class="icon-list-ol"></i>{% if service.multi_breed %}<i class="icon-checkmark"></i>{% else %}<i class="icon-line-cross"></i>{% endif %}</button>

                                <button class="button button-mini button-circle button-aqua" data-container="body"
                                   data-toggle="tooltip" data-placement="top" title="{% if service.support %}Support available{% else %}No support available{% endif %}"
                                   data-original-title="" aria-describedby="{{ service.service_name }}"><i class="icon-hands-helping"></i>{% if service.support %}<i class="icon-checkmark"></i>{% else %}<i class="icon-line-cross"></i>{% endif %}</button>


                                <button class="button button-mini button-circle button-aqua" data-container="body"
                                   data-toggle="tooltip" data-placement="top" title="Price per month"
                                   data-original-title="" aria-describedby="{{ service.service_name }}"><i class="icon-pound-sign"></i>{{ service.price_per_month }} p/month</button>

                                <button class="button button-mini button-circle button-aqua" data-container="body"
                                   data-toggle="tooltip" data-placement="top" title="Price per year"
                                   data-original-title="" aria-describedby="{{ service.service_name }}"><i class="icon-pound-sign"></i>{{ service.price_per_year }} p/year</button>
                            </span>
                        </div>
                        {% autoescape off %}
                            {{ service.service_description }}
                        {% endautoescape %}
                        <br>
                        <br>
                        {% if user.is_authenticated %}
                            {% if service.service_name == 'Free' %}
                                <a href="{% url 'dashboard' %}" class="button button-3d button-large button-rounded button-aqua">Start now!</a>
                            {% else %}
                                <div class="btn-group" role="group" aria-label="service_buttons">
                                    <a href="#" class="button button-3d button-rounded button-yellow button-aqua"><i class="icon-trash2"></i>Start now!</a>
                                </div>
                            {% endif %}
                        {% else %}
                            <a href="{% url 'login' %}" class="button button-3d button-large button-rounded button-aqua">Start now!</a>
                        {% endif %}
                    </div>
                    {% if not forloop.last %}
                        <div class="line"></div>
                    {% endif %}
                {% endif %}
                {% if forloop.counter|divisibleby:2 %}
                    <div class="col_three_fifth">
                        <div class="heading-block">
                            <h3 id="{{ service.service_name }}" style="padding-top: 60px; margin-top: -60px;">{{ service.service_name }}</h3>
                            <span>
                                <button class="button button-mini button-circle button-yellow" data-container="body"
                                   data-toggle="tooltip" data-placement="top" title="Max number of admin accounts"
                                   data-original-title="" aria-describedby="{{ service.service_name }}"><i class="icon-user-cog"></i>{{ service.admin_users }}</button>

                                <button class="button button-mini button-circle button-yellow" data-container="body"
                                   data-toggle="tooltip" data-placement="top" title="Max number of read only accounts"
                                   data-original-title="" aria-describedby="{{ service.service_name }}"><i class="icon-user-friends"></i>{{ service.read_only_users }}</button>

                                <button class="button button-mini button-circle button-yellow" data-container="body"
                                   data-toggle="tooltip" data-placement="top" title="Max number of animals"
                                   data-original-title="" aria-describedby="{{ service.service_name }}"><i class="icon-paw"></i>{{ service.number_of_animals }}</button>

                                <button class="button button-mini button-circle button-yellow" data-container="body"
                                   data-toggle="tooltip" data-placement="top" title="{% if service.multi_breed %}Multi breed available{% else %}No multi breed available{% endif %}"
                                   data-original-title="" aria-describedby="{{ service.service_name }}"><i class="icon-list-ol"></i>{% if service.multi_breed %}<i class="icon-checkmark"></i>{% else %}<i class="icon-line-cross"></i>{% endif %}</button>

                                <button class="button button-mini button-circle button-yellow" data-container="body"
                                   data-toggle="tooltip" data-placement="top" title="{% if service.support %}Support available{% else %}No support available{% endif %}"
                                   data-original-title="" aria-describedby="{{ service.service_name }}"><i class="icon-hands-helping"></i>{% if service.support %}<i class="icon-checkmark"></i>{% else %}<i class="icon-line-cross"></i>{% endif %}</button>


                                <button class="button button-mini button-circle button-yellow" data-container="body"
                                   data-toggle="tooltip" data-placement="top" title="Price per month"
                                   data-original-title="" aria-describedby="{{ service.service_name }}"><i class="icon-pound-sign"></i>{{ service.price_per_month }} p/month</button>

                                <button class="button button-mini button-circle button-yellow" data-container="body"
                                   data-toggle="tooltip" data-placement="top" title="Price per year"
                                   data-original-title="" aria-describedby="{{ service.service_name }}"><i class="icon-pound-sign"></i>{{ service.price_per_year }} p/year</button>
                            </span>
                        </div>

                        {% autoescape off %}
                            {{ service.service_description }}
                        {% endautoescape %}
                        <br>
                        <br>
                        {% if user.is_authenticated %}
                            {% if service.service_name == 'Free' %}
                                <a href="{% url 'dashboard' %}" class="button button-3d button-large button-rounded button-yellow">Start now!</a>
                            {% else %}
                                <div class="btn-group" role="group" aria-label="service_buttons">
                                    <a href="#" class="button button-3d button-rounded button-yellow button-yellow"><i class="icon-trash2"></i>Start now!</a>
                                </div>
                            {% endif %}
                        {% else %}
                            <a href="{% url 'login' %}" class="button button-3d button-large button-rounded button-yellow">Start now!</a>
                        {% endif %}
                    </div>

                    <div class="col_two_fifth topmargin col_last" style="min-height: 350px">
                        {% if service.image %}
                            <img src="{{ service.image.url }}" class="img-fluid" alt="{{ service.service_name }}">
                        {% endif %}
                    </div>
                    {% if not forloop.last %}
                        <div class="line"></div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}