{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% load custom_tags %}

{% block header %}
    <script src="{% static 'assets/plugins/jsPDF-1.3.2/dist/jspdf.min.js' %}"></script>
    <script src="https://unpkg.com/jspdf-autotable"></script>
{% endblock %}


{% block content %}
<style>
    table th {
        font-weight: bold;
        cursor: pointer;
    }
    * {
  box-sizing: border-box;
}

</style>
<!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 justify-content-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Birth Notification Form</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{% url 'bn_home' %}">Birth Notifications</a></li>
                <li class="breadcrumb-item active">Form</li>
            </ol>
        </div>
        <div class="col-md-6 col-3 justify-content-center">

        </div>
    </div>

    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->


    <div class="row">
        <div class="col-xl-9 col-lg-9">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Birth Notification Form</h4>

                    <form id="bnForm" action="{% url 'birth_notification_form' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">

                            {% for field in bn_form.visible_fields %}
                                <div class="col-md-6 pt-2">
                                    {% if field.label == 'Mother' %}
                                        <div id="mothers-all">
                                            <label class="col-sm-6 col-form-label">{{ field.label }}</label>
                                            <input id="id_mother" class="typeahead form-control mt-2" name='motherx' type="text" placeholder="{{ service.mother_title }}" required>
                                        </div>
                                        <div class="col-md-5">
                                            <!-- hidden note which will show name and tag number of female if reg number has a match -->
                                            <ul class="list-icons d-none" id="mother-info"></ul>
                                        </div>
                                        {% for error in field.errors %}
                                          <span class="help-block">{{ error }}</span>
                                        {% endfor %}
                                    {% elif field.label == 'Father' %}
                                        <div id="fathers-all">
                                            <label class="col-sm-6 col-form-label">{{ field.label }}</label>
                                            <input id="id_father" class="typeahead form-control mt-2" name='fatherx' type="text" placeholder="{{ service.father_title }}" required>
                                        </div>
                                        <div class="col-md-5">
                                            <!-- hidden note which will show name and tag number of male if reg number has a match -->
                                            <ul class="list-icons d-none" id="father-info"></ul>
                                        </div>
                                        {% for error in field.errors %}
                                          <span class="help-block">{{ error }}</span>
                                        {% endfor %}
                                    {% elif field.label == 'Breeder' %}
                                        <div id="breeders">
                                            <label class="col-sm-6 col-form-label">{{ field.label }}</label>
                                            <input id="id_breeder" class="typeahead form-control" name='{{ field.name }}' type="text" placeholder="{{ field.label|title }}">
                                        </div>
                                    {% else %}
                                        <label class="col-sm-6 col-form-label">{{ field.label }}</label>
                                        {{ field|attr:"class:form-control" }}
                                        {{ field.help_text }}
                                        {% for error in field.errors %}
                                          <span class="help-block">{{ error }}</span>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            {% endfor %}

                            <div class="row pt-2">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <!-- Table -->
                                            <table id="birthTable" class="table table-responsive">
                                                <thead>
                                                    <tr>
                                                        <th>Tag No.</th>
                                                        <th>Status</th>
                                                        <th>Sex</th>
                                                        <th>For Sale</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><input type="text" class="form-control" name="tag_no" required></td>
                                                        <td>
                                                            <select class="form-control" name="status">
                                                                <option value="alive">Alive</option>
                                                                <option value="deceased">Deceased</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select class="form-control" name="sex">
                                                                <option value="male">Male</option>
                                                                <option value="female">Female</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select class="form-control" name="for_sale">
                                                                <option value="False">No</option>
                                                                <option value="True">Yes</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <button type="button" class="btn" onclick="DeleteRow(this)">
                                                                <i class="fad fa-trash-alt fa-lg text-danger"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <button id="addRow" type="button" class="btn btn-outline-success">Add new row</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-12">
                                <hr/>
                                <p>BN Price: {{ bn_cost.unit_amount|price }} {{ bn_cost.currency|upper }} | Child Price: {{ bn_child_cost.unit_amount|price }} {{ bn_child_cost.currency|upper }}</p>
                                <p id="totalCost"><strong>Total:</strong> {{ bn_stripe_account.currency }}</p>
                            </div>
                            <button id="formSubmit" class="btn btn-success float-end" type="submit">Submit</button>
                            <p id="errorText" class="text-danger float-end pr-4"></p>
                            
                            <script>
                                document.addEventListener('DOMContentLoaded', function () {
                                    updateTotal();
                            
                                    document.getElementById('addRow').addEventListener('click', addRow);
                            
                                    $('#id_bn_number').on('input', function(e){
                                        $.ajax({
                                            url: '{% url 'validate_bn_number' %}',
                                            type: 'post',
                                            dataType: 'text',
                                            headers: {'X-CSRFToken': '{{ csrf_token }}'},
                                            data: {'bn_number': $('#id_bn_number').val()},
                                            beforeSend: function() {
                                                $('#errorText').html('')
                                            },
                                            success: function(data) {
                                                var result = JSON.parse(data);
                                                if (result.result) {
                                                    $('#errorText').html('BN Number already in use!');
                                                    $('#formSubmit').attr('disabled', 'disabled');
                                                } else {
                                                    $('#errorText').html('');
                                                    $('#formSubmit').removeAttr('disabled');
                                                }
                                            },
                                            error: function(jqXHR, textStatus, errorThrown){
                                                console.error('AJAX Error:', textStatus, errorThrown);
                                            }
                                        });
                                    });
                                });
                            
                                function updateTotal() {
                                    const bnCost = parseFloat({{ bn_cost.unit_amount|price }});
                                    const childCost = parseFloat({{ bn_child_cost.unit_amount|price }});
                                    const table = document.getElementById("birthTable");
                                    const rows = table.querySelectorAll('tbody tr').length;
                                    const childTotal = childCost * rows;
                                    const total = (bnCost + childTotal);
                                    document.getElementById('totalCost').innerHTML = `<strong>Total:</strong> ${total.toFixed(2)} {{ bn_stripe_account.currency }}`;
                                }
                            
                                function DeleteRow(button) {
                                    const row = button.closest('tr');
                                    row.remove();
                                    updateTotal();
                                }
                            
                                function addRow() {
                                    const birthTable = document.getElementById('birthTable').querySelector('tbody');
                                    const newRow = document.createElement('tr');
                            
                                    newRow.innerHTML = `
                                        <td><input type="text" class="form-control" name="tag_no" required></td>
                                        <td>
                                            <select class="form-control" name="status">
                                                <option value="alive">Alive</option>
                                                <option value="deceased">Deceased</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control" name="sex">
                                                <option value="male">Male</option>
                                                <option value="female">Female</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control" name="for_sale">
                                                <option value="False">No</option>
                                                <option value="True">Yes</option>
                                            </select>
                                        </td>
                                        <td>
                                            <button type="button" class="btn" onclick="DeleteRow(this)">
                                                <i class="fad fa-trash-alt fa-lg text-danger"></i>
                                            </button>
                                        </td>
                                    `;
                            
                                    birthTable.appendChild(newRow);
                                    updateTotal();
                                }
                            </script>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3">
            <div class="card">
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    <script src="{% static 'assets/plugins/typeahead.js-master/dist/typeahead.bundle.min.js' %}"></script>
    <!-- code for the reg number field typeaheads -->
    {% include 'ta_pedigrees_by_sex.html' %}

    <script src="https://js.stripe.com/v3/"></script>
    <script>
        $('#formSubmit').click( function () {
            $('#bnForm').submit()
        });
    </script>

    {% include 'ta_breeder.html' with search_type='all' %}

{% endblock %}