{% extends 'base.html' %}
{% load static %}

{% block header %}
    <link href="{% static 'assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Birth Notification ({{ bn.bn_number }})</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="{% url 'bn_home' %}">Birth Notifications</a></li>
                <li class="breadcrumb-item active">Birth Notification ({{ bn.bn_number }})</li>
            </ol>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- Row -->
        <div class="row">
            <!-- Column -->
            <div class="col-md-12 col-lg-12 col-xlg-12">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">{{ bn.bn_number }} Details</h4>
                                <button class="btn btn-danger float-right" data-toggle="modal" data-target="#deleteBn">Delete</button>
                                <button class="btn btn-outline-info float-right mr-2" data-toggle="modal" data-target="#editBn">Edit</button>
                                {% if not bn.complete %}
                                    <a href="{% url 'toggle_birth_notification' bn.id %}"><button class="btn btn-success float-right mr-2">Approve</button></a>
                                {% endif %}
                                <!-- Warning Filled Modal -->
                                <div id="editBn" class="modal fade" tabindex="-1" role="dialog"
                                    aria-labelledby="fill-info-modalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content modal-filled bg-info">
                                            <div class="modal-header">
                                                <h4 class="modal-title  text-white" id="fill-info-modalLabel">Edit Birth Notification</h4>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true">×</button>
                                            </div>
                                            <form method="POST" action="{% url 'edit_birth_notification' bn.id %}">
                                                {% csrf_token %}
                                                <div class="modal-body">
                                                    <div id="mothers-alive">
                                                        <label class="text-white">{{ service.mother_title }}</label>
                                                        <input id="id_mother" class="typeahead form-control mt-2" name='motherx' type="text" value="{{ bn.mother.reg_no }}" required>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <!-- hidden note which will show name and tag number of female if reg number has a match -->
                                                        <ul class="list-icons d-none text-white" id="mother-info"></ul>
                                                    </div>
                                                    <div id="fathers-alive">
                                                        <label class="text-white pt-2">{{ service.father_title }}</label>
                                                        <input id="id_father" class="typeahead form-control mt-2" name='fatherx' type="text" value="{{ bn.father.reg_no }}" required>
                                                    </div>
                                                    <div>
                                                        <label class="text-white pt-2">BN No.</label>
                                                        <input id="bn_number_validate" class="form-control mt-2" name='bn_number' type="text" value="{{ bn.bn_number }}" required>
                                                        <small id="bn_number_message"></small>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <!-- hidden note which will show name and tag number of male if reg number has a match -->
                                                        <ul class="list-icons d-none" id="father-info"></ul>
                                                    </div>
                                                    <label class="text-light pt-2">Comments</label>
                                                    <textarea class="form-control" name="comments">{{ bn.comments }}</textarea>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-light"
                                                        data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-outline-light">Save
                                                        changes</button>
                                                </div>
                                            </form>
                                            <script>
                                                $('#bn_number_validate').on('input',function(e){
                                                    $.ajax({
                                                        url: '{% url 'validate_bn' bn.id %}',
                                                        type: 'get',
                                                        dataType: 'text',
                                                        data: $('#bn_number_validate').val(),
                                                        success: function(data) {
                                                        if (data == 'False') {
                                                            $('#bn_number_message').html('');
                                                            $('#bn_number_validate').css('borderColor', 'none')
                                                        } else {
                                                            $('#bn_number_message').html('BN is already in use!').css('color', 'red');
                                                        }
                                                    });
                                                });
                                            </script>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->
                                <!-- Danger Alert Modal -->
                                <div id="deleteBn" class="modal fade" tabindex="-1" role="dialog"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content modal-filled bg-danger">
                                            <div class="modal-body p-4">
                                                <div class="text-center">
                                                    <i class="dripicons-wrong h1"></i>
                                                    <h4 class="mt-2 text-white">Delete this Birth Notification?</h4>
                                                    <p class="mt-3 op-7 text-light">Are you sure you want to delete this Birth Notification?</p>
                                                    <button type="button" class="btn btn-light"
                                                        data-dismiss="modal">Close</button>
                                                    <a href="{% url 'delete_birth_notification' bn.id %}"><button type="submit" class="btn btn-light my-2" >Delete</button></a>
                                                </div>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div><!-- /.modal -->
                                <div class="row">
                                    <div class="col-6">
                                        <dl class="row">
                                            <dt class="col-sm-3">User</dt>
                                            <dd class="col-sm-9">{{ bn.user.get_full_name }}</dd>
                                            <dt class="col-sm-3">{{ service.mother_title }}</dt>
                                            <dd class="col-sm-9">{{ bn.mother.reg_no }}</dd>
                                            <dt class="col-sm-3">{{ service.father_title }}</dt>
                                            <dd class="col-sm-9">{{ bn.father.reg_no }}</dd>
                                            <dt class="col-sm-3">Total Births</dt>
                                            <dd class="col-sm-9">{{ bn.births.count }}</dd>
                                            <dt class="col-sm-3">BN No.</dt>
                                            <dd class="col-sm-9">{{ bn.bn_number }}</dd>

                                        </dl>
                                    </div>
                                    <div class="col-6">
                                        <dl class="row">
                                            <dt class="col-sm-3">Comments</dt>
                                            <dd class="col-sm-9">{{ bn.comments }}</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Births</h4>
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>Tag No</th>
                                                <th>Status</th>
                                                <th>Sex</th>
                                                <th>Comments</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for birth in bn.births.all %}
                                                <tr>
                                                    <td>
                                                        {{ birth.tag_no }}
                                                    </td>
                                                    <td>
                                                        {{ birth.status }}
                                                    </td>
                                                    <td>
                                                        {{ birth.sex }}
                                                    </td>
                                                    <td>
                                                        {{ birth.comments }}
                                                    </td>
                                                    <td>
                                                        <div class="btn-list">
                                                            <button class="btn btn-outline-info" data-toggle="modal" data-target="#editChild{{ birth.id }}">Edit</button>
                                                            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteChild{{ birth.id }}">Delete</button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!-- Warning Filled Modal -->
                                                <div id="editChild{{ birth.id }}" class="modal fade" tabindex="-1" role="dialog"
                                                    aria-labelledby="fill-info-modalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content modal-filled bg-info">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title  text-white" id="fill-info-modalLabel">Edit birth {{ birth.tag_no }}</h4>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-hidden="true">×</button>
                                                            </div>
                                                            <form method="POST" action="{% url 'edit_child' birth.id %}">
                                                                {% csrf_token %}
                                                                <div class="modal-body">
                                                                    <label class="text-light">Tag Number</label>
                                                                    <input type="text" class="form-control" name="tag_no" value="{{ birth.tag_no }}">
                                                                    <label class="mt-2 text-light">Status</label>
                                                                    <select class="form-control" name="status">
                                                                        <option value="alive" {% if birth.status == 'alive' %}selected{% endif %}>Alive</option>
                                                                        <option value="deceased" {% if birth.status == 'deceased' %}selected{% endif %}>Deceased</option>
                                                                    </select>
                                                                    <label class="mt-2 text-light">Sex</label>
                                                                    <select class="form-control" name="sex">
                                                                        <option value="male" {% if birth.sex == 'male' %}selected{% endif %}>Male</option>
                                                                        <option value="female" {% if birth.sex == 'female' %}selected{% endif %}>Female</option>
                                                                    </select>
                                                                    <label class="mt-2 text-light">Comments</label>
                                                                    <textarea class="form-control" name="comments" rows="4" cols="50">{{ birth.comments }}</textarea>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-light"
                                                                        data-dismiss="modal">Close</button>
                                                                    <button type="submit" class="btn btn-outline-light">Save
                                                                        changes</button>
                                                                </div>
                                                            </form>
                                                        </div><!-- /.modal-content -->
                                                    </div><!-- /.modal-dialog -->
                                                </div><!-- /.modal -->
                                                <!-- Danger Alert Modal -->
                                                <div id="deleteChild{{ birth.id }}" class="modal fade" tabindex="-1" role="dialog"
                                                    aria-hidden="true">
                                                    <div class="modal-dialog modal-sm">
                                                        <div class="modal-content modal-filled bg-danger">
                                                            <div class="modal-body p-4">
                                                                <div class="text-center">
                                                                    <i class="dripicons-wrong h1"></i>
                                                                    <h4 class="mt-2 text-white">Delete {{ birth.tag_no }}?</h4>
                                                                    <p class="mt-3 op-7 text-light">Are you sure you want to delete {{ birth.tag_no }}?</p>
                                                                    <button type="button" class="btn btn-light"
                                                                        data-dismiss="modal">Close</button>
                                                                    <a href="{% url 'delete_child' birth.id %}"><button type="submit" class="btn btn-light my-2" >Delete</button></a>
                                                                </div>
                                                            </div>
                                                        </div><!-- /.modal-content -->
                                                    </div><!-- /.modal-dialog -->
                                                </div><!-- /.modal -->
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Row -->
        <div class="row">
<!-- Column -->


        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->

{% endblock %}

{% block footer %}
    <!-- code for the reg number field typeaheads -->
    {% include 'ta_metrics.html' %}

{% endblock %}