{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Dashboard</h3>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- Row -->
        <div class="row">
            <!-- Column -->
            <div class="col-md-8 col-lg-8 col-xlg-8">
                <div class="row">
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card card-inverse card-info">
                            {% if add_pedigree %}
                                {% if editor or contributor or breeds_editable|length > 0 %}
                                    <a href="{% url 'new_pedigree_form' %}">
                                        <div class="box text-center">
                                            <h1 class="font-light text-white"><i class="fad fa-plus"></i> </h1>
                                            <h6 class="text-white">Add New {% if service.site_mode == 'mammal' %}Pedigree {% else %}Bird {% endif %}</h6>
                                        </div>
                                    </a>
                                {% else %}
                                    <a href="#" data-toggle="modal" data-target="#login">
                                        <div class="box text-center">
                                            <h1 class="font-light text-white"><i class="fad fa-plus"></i> </h1>
                                            <h6 class="text-white">Add New {% if service.site_mode == 'mammal' %}Pedigree {% else %}Bird {% endif %}</h6>
                                        </div>
                                    </a>
                                {% endif %}
                            {% else %}
                                <a href="#" data-toggle="modal" data-target="#upgrade">
                                    <div class="box text-center">
                                        <h1 class="font-light text-white"><i class="fad fa-plus"></i> </h1>
                                        <h6 class="text-white">Add New {% if service.site_mode == 'mammal' %}Pedigree {% else %}Bird {% endif %}</h6>
                                    </div>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card card-inverse card-success">
                            {% if editor or breeds_editable|length > 0 %}
                                <a href="{% url 'new_breeder_form' %}">
                                    <div class="box text-center">
                                        <h1 class="font-light text-white"><i class="fad fa-user-plus"></i></h1>
                                        <h6 class="text-white">Add New Breeder/Owner</h6>
                                    </div>
                                </a>
                            {% else %}
                                <a href="#" data-toggle="modal" data-target="#login">
                                    <div class="box text-center">
                                        <h1 class="font-light text-white"><i class="fad fa-user-plus"></i></h1>
                                        <h6 class="text-white">Add New Breeder/Owner</h6>
                                    </div>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card card-inverse card-dark">
                            {% if add_breed %}
                                {% if editor %}
                                    <a href="{% url 'new_breed_form' %}">
                                        <div class="box text-center">
                                            <h1 class="font-light text-white"><i class="fad fa-dna"></i></h1>
                                            <h6 class="text-white">Add New Breed</h6>
                                        </div>
                                    </a>
                                {% else %}
                                    <a href="#" data-toggle="modal" data-target="#login">
                                        <div class="box text-center">
                                            <h1 class="font-light text-white"><i class="fad fa-dna"></i></h1>
                                            <h6 class="text-white">Add New Breed</h6>
                                        </div>
                                    </a>
                                {% endif %}
                            {% else %}
                                <a href="#" data-toggle="modal" data-target="#upgrade">
                                    <div class="box text-center">
                                        <h1 class="font-light text-white"><i class="fad fa-dna"></i></h1>
                                        <h6 class="text-white">Add New Breed</h6>
                                    </div>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Column -->
                    <div class="col-md-6 col-lg-3 col-xlg-3">
                        <div class="card card-inverse card-primary">
                            {% if service.site_mode == 'poultry' %}
                                {% if editor or contributor %}
                                    <a href="{% url 'new_breed_group_form' %}">
                                        <div class="box text-center">
                                            <h1 class="font-light text-white"><i class="fad fa-object-ungroup"></i></h1>
                                            <h6 class="text-white">Add New Breed Group</h6>
                                        </div>
                                    </a>
                                {% else %}
                                    <a href="#" data-toggle="modal" data-target="#login">
                                        <div class="box text-center">
                                            <h1 class="font-light text-white"><i class="fad fa-object-ungroup"></i></h1>
                                            <h6 class="text-white">Add New Breed Group</h6>
                                        </div>
                                    </a>
                                {% endif %}
                            {% else %}
                                <div class="box text-center">
                                    <h1 class="font-light text-white">{{ total_pedigrees }}</h1>
                                    <h6 class="text-white">Total {{ service.animal_type|title }}</h6>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- display selected graphs -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-12">
                        {% for user_graph in user_graphs.selected %}
                            {% for account_graph in account_graphs.values %}
                                {% if user_graph == account_graph.id %}
                                    {% if user_graph == 'total_added' %}
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <h4 class="card-title col-sm-8 col-md-8">Total {% if service.site_mode == 'mammal' %}{{ service.animal_type|title }}{% else %}Birds{% endif %} Added</h4>
                                                    <!-- graph options to change/remove graph -->
                                                    {% include 'change_remove_graph.html' %}
                                                </div>
                                                {% if pedigree_chart %}
                                                    <div id="morris-line-chart"></div>
                                                {% else %}
                                                    <div class="alert alert-info">
                                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">×</span> </button>
                                                        <h3 class="text-info"><i class="fad fa-exclamation-circle"></i> Information</h3>
                                                        You have not added any {{ service.animal_type|title }} yet to your Cloudlines instance.
                                                        You can <a href="{% url 'new_pedigree_form' %}">click here</a> or click the 'Add New Pedigree' button above to get started.
                                                        Don't forget you need to have at least one breed added before you can add a pedigree!
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <script>
                                            $(function () {
                                                "use strict";
                                                // LINE CHART
                                                Morris.Line({
                                                    element: 'morris-line-chart'
                                                    , resize: true
                                                    , data: [{% for key, val in pedigree_chart.items %}
                                                        {
                                                            y: '{{ key|escape }}'
                                                        ,{% for key, val in val.items %} {{ key }}: {{ val }} {% endfor %}}
                                                        ,{% endfor %}]
                                                    , xkey: 'y'
                                                    , ykeys: ['pedigrees_added']
                                                    , labels: ['{{ account_graph.title }}']
                                                    , gridLineColor: '#eef0f2'
                                                    , lineColors: ['#009efb']
                                                    , lineWidth: 1
                                                    , hideHover: 'auto'
                                                    , gridIntegers: true
                                                    , ymin: 0
                                                    });
                                                });
                                        </script>
                                    {% elif user_graph == 'registered' %}
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <h4 class="card-title col-sm-8 col-md-8">{% if service.site_mode == 'mammal' %}{{ service.animal_type|title }}{% else %}Birds{% endif %} Registered</h4>
                                                    <!-- graph options to change/remove graph -->
                                                    {% include 'change_remove_graph.html' %}
                                                </div>
                                                {% if breed_chart %}
                                                    <div id="morris-bar-chart"></div>
                                                {% else %}
                                                    {% if editor or contributor or breeds_editable|length > 0 %}
                                                        <p>You still need to <a href="{% url 'new_pedigree_form' %}">add your first Pedigree</a>!</p>
                                                    {% else %}
                                                        <p>The first pedigree still needs to be added!</p>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <script>
                                            $(function () {
                                                "use strict";
                                                // Morris bar chart
                                                Morris.Bar({
                                                    element: 'morris-bar-chart'
                                                    , data: [
                                                        {% for key, val in breed_chart.items %}
                                                        {
                                                        y: '{{ key|escape }}'
                                                        {% for key, val in val.items %}
                                                        , {{ key|title }}: {{ val|escape }}
                                                        {% endfor %}
                                                    },
                                                    {% endfor %}]
                                                    , xkey: 'y'
                                                    , ykeys: ['Male', 'Female']
                                                    , labels: ['Male', 'Female']
                                                    , barColors: ['#0275d8', '#FFC0CB']
                                                    , hideHover: 'auto'
                                                    , gridLineColor: '#eef0f2'
                                                    , resize: true
                                                    , gridIntegers: true
                                                    , ymin: 0
                                                });
                                            });
                                        </script>
                                    {% elif user_graph == 'current_alive' %}
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="row">
                                                    <h4 class="card-title col-sm-8 col-md-8">Current {% if service.site_mode == 'mammal' %}{{ service.animal_type|title }}{% else %}Birds{% endif %} Alive</h4>
                                                    <!-- graph options to change/remove graph -->
                                                    {% include 'change_remove_graph.html' %}
                                                </div>
                                                {% if living_chart %}
                                                    <div id="living-chart"></div>
                                                {% else %}
                                                    {% if editor or contributor or breeds_editable|length > 0 %}
                                                        <p>You still need to <a href="{% url 'new_pedigree_form' %}">add your first Pedigree</a>!</p>
                                                    {% else %}
                                                        <p>The first pedigree still needs to be added!</p>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                        <script>
                                            $(function () {
                                                "use strict";
                                                // Morris bar chart
                                                Morris.Bar({
                                                    element: 'living-chart'
                                                    , data: [
                                                        {% for key, val in living_chart.items %}
                                                            {
                                                                y: '{{ key|escape }}'
                                                                {% for key, val in val.items %}
                                                                    , {{ key|title }}: {{ val|escape }}
                                                                {% endfor %}
                                                    },
                                                    {% endfor %}]
                                                    , xkey: 'y'
                                                    , ykeys: ['Male', 'Female']
                                                    , labels: ['Male', 'Female']
                                                    , barColors: ['#0275d8', '#FFC0CB']
                                                    , hideHover: 'auto'
                                                    , gridLineColor: '#eef0f2'
                                                    , resize: true
                                                    , gridIntegers: true
                                                    , ymin: 0
                                                });
                                            });
                                        </script>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>

                <!-- graph options to add graph -->
                {% if not user_graphs.max_reached %}
                    <div class="row">
                        <!-- Column -->
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="card">
                                <div class="btn-group btn-block">
                                    <button id="select-graph" type="button" class="btn btn-secondary dropdown-toggle"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Add Graph
                                    </button>
                                    <div class="dropdown-menu">
                                        {% for account_graph in account_graphs.values %}
                                            {% if account_graph.id not in user_graphs.selected %}
                                                <button onclick="selectGraph(this, 'add')" class="dropdown-item" name="{{ account_graph.id }}" value='{{ account_graph.id }}'>{{ account_graph.title }}</button>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <!-- javascript for selecting a graph -->
                <script>
                    function selectGraph(graph, action, changeFrom='') {
                        $.ajax({
                            url: "{% url 'select_graph' %}",
                            type: 'post',
                            headers: {'X-CSRFToken': '{{ csrf_token }}'},
                            dataType: 'text',
                            async: true,
                            data: {'graph': graph.value, 'action': action, 'change_from': changeFrom},
                            beforeSend: function() {
                                //$('#coiTimer').html('<i class="fad fa-spinner fa-spin" style="font-size:24px;color:#009efb"></i>');
                            },
                            success: function(data) {
                                // try {
                                //         var result = JSON.parse(data);
                                //         var coi_countDownDate = new Date(result.coi_date).getTime();
                                //         var coi_countDownInterval = setInterval(function() { coi_countDown(coi_countDownDate); }, 1000);
                                //         infoMsg('COI now running, allow time for values to be updated')
                                //     }
                                // catch(err) {
                                //         // not returned anything
                                //         var result = '';
                                //         }
                                console.log('selecting!')
                                if (JSON.parse(data).result == 'success') {
                                    location.reload()
                                }
                            },
                            error: function(jqXHR, textStatus, errorThrown){
                            }
                        });
                    }
                </script>
            </div>

            <div class="col-md-4 col-lg-4 col-xlg-4">
                <!-- Card -->
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex no-block align-items-center">
                            <h4 class="card-title">Latest {% if service.site_mode == 'mammal' %}{{ service.animal_type|title }} {% else %}Birds {% endif %} Added</h4>
                        </div>
                        <div class="table-responsive mt-2">
                            <table class="table stylish-table">
                                <thead>
                                    <tr>
                                        <th colspan="2">Reg No.</th>

                                        <th>Sex</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for pedigree in top_pedigrees.all %}
                                        <tr {% if editor or contributor or breeds_editable|length > 0 and pedigree.breed.breed_name in breeds_editable %}onclick="window.location='{% url 'pedigree' pedigree.id %}';" style="cursor: pointer;"{% endif %}>
                                            <td style="width:50px;"><span class="round">{% if pedigree.images.first %}
                                                                                    <img class="card-img-top"
                                                                                     src="{% for image in pedigree.images.all %}
                                                                                            {% if forloop.first %}
                                                                                                {{ image.image.url|default_if_none:'#' }}
                                                                                            {% endif %}
                                                                                          {% endfor %}" height="45" width="50">
                                                                                {% else %}
                                                                                    {{ pedigree.name|slice:"1" }}
                                                                                {% endif %}
                                            </span>
                                            </td>
                                            <td>
                                                <h6>{{ pedigree.reg_no|truncatechars:10 }}</h6><small class="text-muted">{% if pedigree.breed.breed_name %}{{ pedigree.breed.breed_name }}{% endif %}</small></td>

                                            <td><span class="label {% if pedigree.sex == 'male' %}label-light-info{% else %}label-light-primary{% endif %}"> {{ pedigree.sex|title }} </span></td>
                                            <td>{{ pedigree.status|title }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- top breeders-->
                <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block align-items-center">
                        <h4 class="card-title">Latest Breeders/Owners</h4>
                    </div>
                    <div class="table-responsive mt-2">
                        <table class="table stylish-table">
                            <thead>
                                <tr>
                                    <th colspan="2">Breeding Prefix</th>
                                    <th>Name</th>
                                    <th class="d-none d-sm-table-cell">Active</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for breeder in latest_breeders.all %}
                                    <tr onclick="window.location='{% url 'breeder' breeder.id %}';"
                                        style="cursor: pointer;">
                                        <td style="width:50px;">
                                            <span class="round">{{ breeder.breeding_prefix|slice:"1" }}</span>
                                        </td>
                                        <td>
                                            <h6>{{ breeder.breeding_prefix|truncatechars:12 }}</h6><small class="text-muted">{{ breeder.address|truncatechars:12 }}</small></td>
                                        <td>{{ breeder.contact_name }}</td>
                                        <td class="d-none d-sm-table-cell"><span class="label {% if breeder.active %}label-light-success{% else %}label-light-danger{% endif %}">{% if breeder.active %}Active{% else %}Inactive{% endif %}</span></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% if service.site_mode == 'poultry' %}
                <!-- latest breed groups-->
                <div class="card">
                <div class="card-body">
                    <div class="d-flex no-block align-items-center">
                        <h4 class="card-title">Latest Breed Groups</h4>
                    </div>
                    <div class="table-responsive mt-2">
                        <table class="table stylish-table">
                            <thead>
                                <tr>
                                    <th colspan="2">Count/Name</th>
                                    <th>Members</th>
                                    <th class="d-none d-sm-table-cell">Active</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for breed_group in breed_groups.all %}
                                    <tr onclick="window.location='{% url 'breed_groups' %}';"
                                        style="cursor: pointer;">
                                        <td style="width:50px;">
                                            <span class="round">{{ breed_group.group_members.all.count }}</span>
                                        </td>
                                        <td>
                                            <h6>{{ breed_group.group_name }}</h6><small class="text-muted">{{ breed_group.date_added|date:'M-Y' }}</small></td>
                                        <td>{% for member in breed_group.group_members.all %}
                                                {{ member.reg_no }}
                                            {% endfor %}</td>
                                        <td class="d-none d-sm-table-cell"><span class="label {% if breed_group.group_members.all.count > 0 %}label-light-success{% else %}label-light-danger{% endif %}">
                                            {% if breed_group.group_members.all.count > 0  %}Active{% else %}Inactive{% endif %}</span></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}
        </div>



        <!-- Row -->
        <div class="row">
<!-- Column -->


        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->

{% endblock %}
