{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<link href="{% static 'assets/plugins/wizard/steps.css' %}" rel="stylesheet">

<div class="row" id="validation">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="card wizard-content">
            <div class="card-body">
                <h4 class="card-title"></h4>
                <h6 class="card-subtitle"></h6>
                <form id="setupForm" action="{% url 'setup' %}" method="POST" enctype="multipart/form-data" class="validation-wizard wizard-circle">
                    {% csrf_token %}
                    <!-- Step 1 -->
                    <h6>Welcome</h6>
                    <section>
                        <div class="text-center">
                            <img src="{% static 'assets/images/cloud-lines-logo.png' %}" style="max-height:300px" class="img-fluid">
                        </div>
                        <p><strong>Welcome to Cloudlines!</strong></p>
                        <p>To get you started, follow this setup wizard through to add your first breed, breeder and pedigree.
                            The idea is to get you familiar with how the site works when it comes to manual data entry.
                        You can of course skip it if you already know the system or if you want to bulk add your items.</p>

                        <p>We wish you all the best and welcome to the Cloudlines team!</p>
                    </section>
                    <!-- Step 2 -->
                    <h6>Add breed</h6>
                    <section>
                        <p><strong>Add your first breed. All pedigrees must be assigned to a breed, so add your first one to get you going!</strong></p>
                        <div class="row">
                            {% include 'new_breed_form.html' %}
                        </div>
                    </section>
                    <script>
                        $('#id_breed_name').keyup( function() {
                            $('#hid_breed').removeClass('typeahead');
                            $('#hid_breed').val($('#id_breed_name').val());
                            $('#id_breed').removeClass('typeahead');
                            $('#id_breed').val($('#id_breed_name').val());
                            $("#id_breed").prop("readonly", true);
                        });
                    </script>
                    <!-- Step 3 -->
                    <h6>Breeder</h6>
                    <section>
                        <p>Now you can add your first breeder, this will probably be your information in the first instance. </p>
                        <div class="row">
                            {% include 'new_breeder_form.html' %}
                        </div>
                    </section>
                    <script>
                        $('#id_prefix').keyup( function() {
                            $('#id_breeder').removeClass('typeahead');
                            $('#id_breeder').val($('#id_prefix').val());
                            $("#id_breeder").prop("readonly", true);
                            $('#id_current_owner').removeClass('typeahead');
                            $('#id_current_owner').val($('#id_prefix').val());
                            $("#id_current_owner").prop("readonly", true);
                        });
                    </script>
                    <!-- Step 4-->
                    <h6>Pedigree</h6>
                    <section>
                        <p>Now you can add your first pedigree! We have already filled in some fields for you like breeder and owner.
                            If these are not correct you can change them later.</p>
                        <div class="row">
                            <div class="form-body">
                                {% include 'new_pedigree_form.html' %}
                            </div>
                        </div>
                    </section>
                </form>
                <script>
                    $(document).on("click","a[href='#finish']", function (e) {
                        var formData = new FormData(document.querySelector('#setupForm'))
                        $.ajax({
                            url: '{% url 'new_breed_form' %}',
                            type: 'post',
                            dataType: 'text',
                            headers: {'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value},
                            data: formData,
                            async: false,
                            cache: false,
                            contentType: false,
                            enctype: 'multipart/form-data',
                            processData: false,
                            success: function(data) {
                                console.log(data);
                            },
                            error: function(jqXHR, textStatus, errorThrown){
                            }
                        });
                        $.ajax({
                            url: '{% url 'new_breeder_form' %}',
                            type: 'post',
                            dataType: 'text',
                            headers: {'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value},
                            data: formData,
                            async: false,
                            cache: false,
                            contentType: false,
                            enctype: 'multipart/form-data',
                            processData: false,
                            success: function(data) {
                                console.log(data);
                            },
                            error: function(jqXHR, textStatus, errorThrown){
                            }
                        });


                        $.ajax({
                            url: '{% url 'new_pedigree_form' %}',
                            type: 'post',
                            dataType: 'text',
                            headers: {'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value},
                            data: formData,
                            async: false,
                            cache: false,
                            contentType: false,
                            enctype: 'multipart/form-data',
                            processData: false,
                            success: function(data) {
                                console.log(data);
                            },
                            error: function(jqXHR, textStatus, errorThrown){
                            }
                        });
                        window.location.replace("{% url 'dashboard' %}");
                    });
                </script>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'assets/plugins/wizard/steps.js' %}"></script>
<script src="{% static 'assets/plugins/wizard/jquery.steps.min.js' %}"></script>
<script src="{% static 'assets/plugins/wizard/jquery.validate.min.js' %}"></script>

<!-- Sweet-Alert  -->
<script src="{% static 'assets/plugins/sweetalert/sweetalert.min.js' %}"></script>
<script src="{% static 'assets/plugins/wizard/steps.js' %}"></script>
{% endblock %}