<div id="upgrade" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="upgrde" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Close</h4>
            </div>
            <div class="modal-body">
                <p>You cannot create any more {{ type }} until you upgrade your account.</p>
                <hr>
                <button type="button" class="btn waves-effect waves-light btn-outline-success">Upgrade</button>
                <button type="button" class="btn waves-effect waves-light btn-outline-info">Contact us</button>
            </div>
        </div>
    </div>
</div>
