{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}


<div class="row" id="validation">
    <div class="col-1"></div>

    <div class="col-10">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"></h4>
                <h6 class="card-subtitle"></h6>
                <div class="d-flex flex-column align-items-center justify-content-center ">
                    <div id="spinner" class="spinner-border text-info d-none" style="width: 6rem; height: 6rem;" role="status"></div>
                    <div id="spinnerText" class="row d-none">
                        <p><strong>Loading dashboard!</strong></p>
                    </div>
                </div>
                <h3>Welcome</h3>
                <section>
                    <div class="text-center">
                        <img src="{% static 'assets/images/cloud-lines-logo-teal-transparent.png' %}" style="max-height:300px" class="img-fluid">
                    </div>

                    <h3>Welcome to Cloud-Lines!</h3>
                    <p>Before you get started adding your animals, there are a few things you need to setup first:</p>
                    <p><strong>Step 1:</strong> Add a breed – each pedigree record must be linked to a breed</p>
                    <p><strong>Step 2:</strong> Add some breeders – each pedigree record is linked to a “breeder” and an “owner”</p>
                    <p><strong>Step 3:</strong> Choose your registration number format. Typically this is something like AB0001 – Where “AB” might be the 1st initials of your breed</p>
                    <p><strong>Step 4:</strong> Add your 1st animal pedigree record. Be aware that the “Breeder” and “Current Owner” fields *must* relate to breeders you have already configured in the breeders section. The Registration number you define for your 1st animal, will follow through and increment with each subsequent animal, but can be changed at any point. The “Mother” and “Father” fields only accept registration numbers as inputs – this is how the pedigrees are linked together in Cloud-Lines. E.g. for new animal “AB0010”, you might set the mother to “AB0001” and the father to “AB0004”. Both parents’ registration numbers must already exist in the system.</p>
                    <p>If you get stuck or if you have a question, please use the 'Support' section to create a new ticket.</p>
                    <p>We wish you all the best and welcome you to the Cloud-lines community!</p>
                </section>
                <a href="https://s3.eu-west-2.amazonaws.com/static.cloud-lines.com/CL+getting+started.mp4" class="html5lightbox"><button class="btn btn-cls btn-info mr-1 mt-1">Get Started Video</button></a>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'assets/plugins/wizard/jquery.validate.min.js' %}"></script>

<!-- Sweet-Alert  -->
<script src="{% static 'assets/plugins/sweetalert/sweetalert.min.js' %}"></script>

{% endblock %}

{% block footer %}
    <script type="text/javascript" src="{% static 'assets/plugins/html5lightbox/html5lightbox.js' %}"></script>
{% endblock %}