{% extends 'base.html' %}
{% load static %}

{% block header %}

{% endblock %}

{% block content %}
<!-- Spinner Overlay -->
<div id="overlay-spinner" class="modal fade" data-backdrop="static" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content modal-filled" style="background-color: #44aaac;">
            <div class="modal-body p-4">
                <div class="text-center">
                    <div id="spinner">
                        <div class="spinner-border" role="status"></div>
                        <h3 class="text-white mt-2">Importing Data...</h3>
                        <p class="text-white mt-2">Importing <span id="lineCount">0</span> of <span id="totalLines">0</span> lines.</p>
                    </div>

                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="row page-titles">
    <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Database Import</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item">Impex</li>
                <li class="breadcrumb-item active">Import</li>
            </ol>
        </div>
    <div class="col-md-6 col-4 align-self-center">

    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <ul class="nav nav-tabs profile-tab" role="tablist">
                        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#csv" role="tab">CSV</a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#images" role="tab">Images</a> </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="csv" role="tabpanel">
                            <div class="card-body">
                                <h4 class="card-title">Upload your existing database file</h4>
                                <p>Please upload one .CSV file at a time, with each value separated by a comma.</p>
                                <p>Breeders/owners should be imported first, as pedigrees cannot reference any breeders/owners that do not already exist in the database.</p>
                                {% if error %}
                                    <div class="alert alert-danger">{{ error }} </div>
                                {% endif %}
                                <form>
                                    {% csrf_token %}
                                    <input type="file" id="uploadDatabase" name="uploadDatabase" onchange="showFile(this)" />
                                </form>
                                <button id="uploadDatabaseButton" class="d-none"></button>
                                <div id="errors" class="d-none alert alert-danger mt-4"></div>
                            </div>
                        </div>
                        <div class="tab-pane" id="images" role="tabpanel">
                            <div class="card-body">
                                <h4 class="card-title">Upload your images</h4>
                                <h6>Browse or grag and drop images. The total size of images cannot exceed 6MB.</h6>
                                <p>Ensure your images are labeled with the registration number e.g. REG12345.jpg</p>
                                {% if error %}
                                    <div class="alert alert-danger">{{ error }} </div>
                                {% endif %}
                                <form action="{% url 'image_import' %}" method="POST" class="dropzone" id="imageDropzone" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="fallback">
                                        <input type="file" id="uploadImages" name="uploadImages" class="dropzone" multiple/>
                                    </div>
                                </form>
<!--                                <button id="uploadImagesButton" class="btn btn-block btn-outline-info">Upload Images</button>-->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
    </div>
</div>
<!-- Dropzone Plugin JavaScript -->
<script src="{% static 'assets/plugins/dropzone-master/dist/dropzone.js' %}"></script>
<script type="text/javascript">
  Dropzone.options.imageDropzone = {
    addRemoveLinks: true,
    removedfile: function(file) {
      var _ref;
      return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
    },
  };

</script>
<!-- jQuery file upload -->
<script src="{% static 'assets/plugins/dropify/dist/js/dropify.min.js' %}"></script>
<script>
    $(document).ready(function() {
        // Basic
        $('.dropify').dropify()

        // Used events
        var drEvent = $('#input-file-events').dropify();

        drEvent.on('dropify.beforeClear', function(event, element) {
            return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
        });

        drEvent.on('dropify.afterClear', function(event, element) {
            alert('File deleted');
        });

        drEvent.on('dropify.errors', function(event, element) {
            console.log('Has Errors');
        });

        var drDestroy = $('#input-file-to-destroy').dropify();
        drDestroy = drDestroy.data('dropify')
        $('#toggleDropify').on('click', function(e) {
            e.preventDefault();
            if (drDestroy.isDropified()) {
                drDestroy.destroy();
            } else {
                drDestroy.init();
            }
        })
    });
</script>

<!-- save the file when selected -->
<script>
    function showFile(input) {
        if ($('#uploadDatabase').val() != '') {
            $('#overlay-spinner').modal('show')
            let inputFile = input.files[0]
            let reader = new FileReader()
            reader.readAsText(inputFile)
            reader.onload = function() {
                // variable to store whether there were errors
                var errors = false
                
                // validate file type
                fileType = inputFile.name.substr(inputFile.name.length - 4)
                if (fileType != '.csv') {
                    $('#overlay-spinner').modal('hide')
                    errorMsg('File type must be CSV!')
                    
                    // create the error message
                    errorHtml = '<h5 class="text-danger">The selected file must be a CSV file</h5>'
                    
                    // display the error message
                    $('#errors').html(errorHtml)
                    $('#errors').removeClass('d-none')
                    
                    // stop the import
                    return false
                }

                // find number of lines in file and update modal
                var totalLines = reader.result.match(/\r?\n/g).length
                $('#totalLines').html(totalLines)

                // validate file size
                if (totalLines < 1) {
                    $('#overlay-spinner').modal('hide')
                    errorMsg('File can not be empty!')

                    // create the error message
                    errorHtml = '<h5 class="text-danger">The selected file must have at least one row as well as the header</h5>'
                    
                    // display the error message
                    $('#errors').html(errorHtml)
                    $('#errors').removeClass('d-none')
                    
                    // stop the import
                    return false
                }

                // if there were no errors, ensure that the error message is not displayed
                if (!errors && !$('#errors').hasClass('d-none')) {
                    $('#errors').addClass('d-none')
                }

                // post request to process the header of the uploaded file
                $.ajax({
                    type: "POST",
                    url: "{% url 'import' %}",
                    dataType: "json",
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    data: ({
                        'job': 'header',
                        // just get the first line, and ensure it's an array in the right format
                        'uploadDatabase[]': reader.result.split('\n')[0].replaceAll('"', '').split(',')
                    }),
                    success: function(result){
                        // result = JSON.parse(result)
                        if (result.result == 'success') {
                            // process file slices
                            slicesJob()
                        }
                    }
                })

                function slicesJob() {
                    // maximum size of slice
                    var sliceMax = 200
                    // the start of the first slice
                    var sliceStart = 1
                    // the line which is the end of the first slice
                    var sliceEnd = sliceMax
                    if (totalLines < sliceMax) {
                        sliceEnd = totalLines
                    }

                    // the first row is on row 2, as it's after the header
                    var rowCounter = 2

                    // go through slices of the file
                    while (sliceEnd <= totalLines) {
                        $('#lineCount').html(sliceEnd)
                        // get slice of file
                        fileSliceArray = reader.result.split('\n').slice(sliceStart, sliceEnd)

                        // turn each row into the correct format, and add row number column
                        fileSliceArray.forEach(updateSlice)
                        function updateSlice(row, index) {
                            fileSliceArray[index] = row.replaceAll('"', '').split(',').concat([rowCounter])
                            rowCounter += 1
                        }
                        
                        // send slice to backend
                        $.ajax({
                            type: "POST",
                            url: "{% url 'import' %}",
                            dataType: "json",
                            headers: {'X-CSRFToken': '{{ csrf_token }}'},
                            async: false,
                            data: ({
                                'job': 'slices',
                                'uploadDatabase': fileSliceArray
                            }),
                            success: function(result){
                                enableAnalyse()
                            }
                        })
                        
                        // increment end and start of slice
                        sliceStart = sliceEnd
                        sliceEnd += sliceMax
                        if (sliceEnd > totalLines && sliceStart < totalLines) {
                            sliceEnd = totalLines
                        }
                    }
                    $('#overlay-spinner').modal('hide')
                    window.location.href = 'import_data'
                }
            };
        }
    }
</script>

{% endblock %}

{% block footer %}

{% endblock %}
