{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row page-titles">
    <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Database Import</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item">Impex</li>
                <li class="breadcrumb-item active">Import</li>
            </ol>
        </div>
    <div class="col-md-6 col-4 align-self-center">

    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Upload your existing database file</h4>
                        <h6>Please upload one file at a time.</h6>
                        {% if error %}
                            <div class="alert alert-danger">{{ error }} </div>
                        {% endif %}
                        <form action="{% url 'import' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="file" id="uploadDatabase" name="uploadDatabase" class="dropify" />
                            <button id="uploadDatabaseButton" class="btn btn-block btn-outline-info">Analyse File</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
    </div>
</div>

<!-- jQuery file upload -->
<script src="{% static 'assets/plugins/dropify/dist/js/dropify.min.js' %}"></script>
<script>
    $(document).ready(function() {
        // Basic
        $('.dropify').dropify()

        // Used events
        var drEvent = $('#input-file-events').dropify();

        drEvent.on('dropify.beforeClear', function(event, element) {
            return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
        });

        drEvent.on('dropify.afterClear', function(event, element) {
            alert('File deleted');
        });

        drEvent.on('dropify.errors', function(event, element) {
            console.log('Has Errors');
        });

        var drDestroy = $('#input-file-to-destroy').dropify();
        drDestroy = drDestroy.data('dropify')
        $('#toggleDropify').on('click', function(e) {
            e.preventDefault();
            if (drDestroy.isDropified()) {
                drDestroy.destroy();
            } else {
                drDestroy.init();
            }
        })
    });
</script>
{% endblock %}