{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block header %}

    <script src="{% static 'assets/plugins/jsPDF-1.3.2/dist/jspdf.min.js' %}"></script>
    <script src="https://unpkg.com/jspdf-autotable"></script>
{% endblock %}


{% block content %}
<style>
    table th {
        font-weight: bold;
        cursor: pointer;
    }
</style>
<!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Metrics</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item active">Metrics</li>
            </ol>
        </div>
        <div class="col-md-6 col-3 align-self-center">
            <form action="{% url 'poprep_export' %}" method="POST" class="form-horizontal">
                {% csrf_token %}
                <div class="btn-group float-right">
                    <button type="button" class="btn btn-success dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        PopRep Export
                    </button>
                    <div class="dropdown-menu">
                        {% for breed in breeds.all %}
                            <button class="dropdown-item" name="breed" value='{{ breed.id }}'>{{ breed.breed_name }}</button>
                        {% endfor %}
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->


    <div class="row">
        <div class="col-xl-9 col-lg-9">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Kinship</h4>
                    <p id="kinshipText">Select a {{ service.mother_title }} and {{ service.father_title }} to predict what the COI of their offspring will be.</p>
                    <form id="ksForm">
                        <div class="form-row align-items-center">
                            <div class="col-md-5">
                                <div id="mothers-alive">
                                    <input id="id_mother" class="typeahead form-control mt-2" name='mother' type="text" placeholder="{{ service.mother_title }}">
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div id="fathers-alive">
                                    <input id="id_father" class="typeahead form-control mt-2" name='father' type="text" placeholder="{{ service.father_title }}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button id="ksBtn" class="btn btn-info mt-2" name='Submit' type="button" >Calculate Kinship</button>
                            </div>
                        </div>
                    </form>
                    <p id="ksMsg" class="mt-2 text-center"></p>
                    <hr>

                    <h4 class="card-title">Stud Advisor</h4>
                    <p id="studIntroText">Select a {{ service.mother_title }} to determine who will be the best matches for mating.</p>
                    <div id="pdfArea">
                        <form id="saForm" class="pb-4">
                            <div class="form-row align-items-center">
                                <div class="col-md-5">
                                    <div id="mothers-alive">
                                        <input id="sa_mother" class="typeahead form-control mt-2" name='mother' type="text" placeholder="{{ service.mother_title }}">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button id="saBtn" class="btn btn-info mt-2" name='Submit' type="button">Run Advisor</button>
                                </div>
                            </div>
                        </form>
                        <h5 id="saMsg"></h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Calculations</h4>
                    <p id="coiTimer" class="text-center"></p>
                    {% if not read_only %}
                        <button id="coiBtn" type="button" class="btn btn-block btn-success ml-1" data-toggle="modal" data-target="#add-contact">Run COI</button>
                    {% endif %}
                    <hr>
                    <p id="meanKinshipTimer" class="text-center"></p>
                    {% if not read_only %}
                        <button id="meanKinshipBtn" type="button" class="btn btn-block btn-success ml-1" data-toggle="modal" data-target="#add-contact">Run Mean Kinship</button>
                    {% endif %}
                </div>
            </div>
        </div>
        <script>
        $('#coiBtn').click( function() {
            $.ajax({
                url: '{% url 'run_coi' %}',
                type: 'post',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                dataType: 'text',
                async: true,
                data: [],
                beforeSend: function() {
                    $('#coiTimer').html('<i class="fad fa-spinner fa-spin" style="font-size:24px;color:#009efb"></i>');
                },
                success: function(data) {
                    try {
                            var result = JSON.parse(data);
                            var coi_countDownDate = new Date(result.coi_date).getTime();
                            var coi_countDownInterval = setInterval(function() { coi_countDown(coi_countDownDate); }, 1000);
                            infoMsg('COI now running, allow time for values to be updated')
                        }
                    catch(err) {
                              // not returned anything
                              var result = '';
                            }
                 },
                error: function(jqXHR, textStatus, errorThrown){
                }
            });
        });

        // Set the date we're counting down to and start loop interval
        var coi_countDownDate = new Date("{{ coi_date }}").getTime();

        var coi_countDownInterval = setInterval(function() { coi_countDown(coi_countDownDate); }, 1000);


        // Update the count down every 1 second
        function coi_countDown(coi_countDownDate) {
          // Get today's date and time
          var coi_now = new Date().getTime();

          // Find the distance between now and the count down date
          var coi_distance = coi_countDownDate - coi_now;

          // Time calculations for days, hours, minutes and seconds
          var coi_days = Math.floor(coi_distance / (1000 * 60 * 60 * 24));
          var coi_hours = Math.floor((coi_distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
          var coi_minutes = Math.floor((coi_distance % (1000 * 60 * 60)) / (1000 * 60));
          var coi_seconds = Math.floor((coi_distance % (1000 * 60)) / 1000);

          // If the count down is over, write some text

          if (coi_distance < 0) {
            clearInterval(coi_countDownInterval);
            $("#coiTimer").html("COI ready!");
            $('#coiBtn').attr("disabled", false);
          } else {
            // Output the result in an element with id="demo"
            $("#coiTimer").html('Run COI again in:<br/>' + coi_days + "d " + coi_hours + "h " + coi_minutes + "m " + coi_seconds + "s ");
            $('#coiBtn').attr("disabled", true);
          }
        }
    </script>
        <script>
        $('#meanKinshipBtn').click( function() {
            $.ajax({
                url: '{% url 'run_mean_kinship' %}',
                type: 'post',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                dataType: 'text',
                data: [],
                beforeSend: function() {
                    $('#meanKinshipTimer').html('<i class="fad fa-spinner fa-spin" style="font-size:24px;color:#009efb"></i>');
                },
                success: function(data) {
                    try {
                            var result = JSON.parse(data);
                            var mk_countDownDate = new Date(result.mean_kinship_date).getTime();
                            var mk_countDownInterval = setInterval(function() { mk_countDown(mk_countDownDate); }, 1000);
                            infoMsg('Mean Kindship now running, allow time for values to be updated')
                        }
                    catch(err) {
                              // not returned anything
                              var result = '';
                            }
                 },
                error: function(jqXHR, textStatus, errorThrown){
                }
            });
        });

        // Set the date we're counting down to and start loop interval
        var mk_countDownDate = new Date("{{ mean_kinship_date }}").getTime();
        var mk_countDownInterval = setInterval(function() { mk_countDown(mk_countDownDate); }, 1000);

        // Update the count down every 1 second
        function mk_countDown(mk_countDownDate) {
          // Get today's date and time
          var mk_now = new Date().getTime();

          // Find the distance between now and the count down date
          var mk_distance = mk_countDownDate - mk_now;

          // Time calculations for days, hours, minutes and seconds
          var mk_days = Math.floor(mk_distance / (1000 * 60 * 60 * 24));
          var mk_hours = Math.floor((mk_distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
          var mk_minutes = Math.floor((mk_distance % (1000 * 60 * 60)) / (1000 * 60));
          var mk_seconds = Math.floor((mk_distance % (1000 * 60)) / 1000);

          // Output the result in an element with id="demo"
          document.getElementById("meanKinshipTimer").innerHTML = 'Run Mean Kinship again in:<br/>' + mk_days + "d " + mk_hours + "h "
          + mk_minutes + "m " + mk_seconds + "s ";

          // If the count down is over, write some text
          if (mk_distance < 0) {
            clearInterval(mk_countDownInterval);
            document.getElementById("meanKinshipTimer").innerHTML = "Mean Kinship ready!";
            $('#meanKinshipBtn').attr("disabled", false);
          } else {
            $('#meanKinshipBtn').attr("disabled", true);
          }
        }
    </script>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Results</h4>
                    <p id="kinshipText">This table displays the results of the generated metrics.</p>
                    <table id="resultsTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th scope="col" id="generated">Generated by <i class="fad fa-sort text-muted"></i></th>
                                <th scope="col" id="metric">Metric Type <i class="fad fa-sort text-muted"></i></th>
                                <th scope="col" id="created">Created <i class="fad fa-sort text-muted"></i></th>
                                <th scope="col">State</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody id="resultsTableBody">
                        {% for item in sa_queue reversed %}
                            <tr class="results-row" id="{{ item.id }}" complete="{{ item.complete }}">
                                <td>{{ item.user.get_full_name }}</td>
                                <td>Stud Advisor: {{ item.mother.reg_no }}</td>
                                <td>{{ item.created }}</td>
                                <td class="complete">{% if item.complete %}<i class="fad fa-check text-success"></i>{% else %}<i class="fas fa-cog fa-spin text-info"></i>{% endif %}</td>
                                <td class="results"><a href="{% url 'stud_advisor_results' item.id %}"><button class="btn btn-info" {% if not item.complete %}disabled{% endif %}>View</button> </a> </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
<script>
    // variable to store datetime including seconds, so that we know we've got the right row
    var datetimesecs = '';

    $('#ksBtn').click( function() {
        $.ajax({
            url: '{% url 'kinship' %}',
            type: 'post',
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            dataType: 'text',
            data: $('#ksForm').serialize(),
            beforeSend: function() {
                $('#ksBtn').attr("disabled", true);
                $('#ksMsg').html('<i class="fad fa-spinner fa-spin" style="font-size:24px;color:#009efb"></i>');
                $('#ksMsg').html($('#id_mother').val() + '+' + $('#id_father').val() + ' added to results queue below!');
                var dt = new Date();
                // month array
                var month = new Array();
                month[0] = "Jan";
                month[1] = "Feb";
                month[2] = "Mar";
                month[3] = "Apr";
                month[4] = "May";
                month[5] = "Jun";
                month[6] = "Jul";
                month[7] = "Aug";
                month[8] = "Sep";
                month[9] = "Oct";
                month[10] = "Nov";
                month[11] = "Dec";
                // am pm
                var hours = dt.getHours();
                var ampm = hours >= 12 ? ' p.m.' : ' a.m.';
                // create time string
                var datetime = dt.getDate() + " "
                + (month[dt.getMonth()+1])  + " "
                + dt.getFullYear() + ", "
                + dt.getHours() + ":"
                + dt.getMinutes() + ampm;

                // set time string with seconds
                datetimesecs = datetime + dt.getSeconds();

                $('#resultsTable > tbody:last-child').prepend('<tr class="results-row" complete="False" dts="' + datetimesecs + '"><td class="full-name">{{ request.user.get_full_name }}</td><td>Kinship: ' + $('#id_mother').val() + ' + ' + $('#id_father').val() + '</td><td>' + datetime + '</td><td class="complete"><i class="fas fa-cog fa-spin text-info"></i></td><td class="results"><button class="btn btn-info" disabled>View</button></td></tr>');
            },
            success: function(data, global) {
                result = JSON.parse(data);
                $('#ksBtn').attr("disabled", false);
                if (result.status == "error"){
                    $('#ksMsg').html("<strong>" + result.msg + "</strong>");
                    $("tr:eq(1)").remove();
                }
                // if timeout, the queue item has been created
                if (result.hasOwnProperty('item_id')) {
                    // iterate through the rows, starting from the first
                    $('.results-row').each( function (i, row) {
                        // if creator is request.user, and there isn't an id, and dts matches datetimeseconds
                        if ( ($(row).find('td[class*="full-name"]').html() == '{{ request.user.get_full_name }}')
                                        && ($(row).attr('id') == undefined)
                                        && ($(row).attr('dts') == datetimesecs) ) {

                            // remove full name class
                            $(row).find('td[class*="full-name"]').removeClass('full-name');
                            // remove datetimeseconds (dts) class
                            $(row).removeAttr('dts');

                            // set id for the new row, and break out of the loop
                            $(row).attr('id', result.item_id);
                            return false;
                        }
                    });
                }
            }
        });
    });

    $('#saBtn').click( function() {
        $.ajax({
            url: '{% url 'stud_advisor' %}',
            type: 'post',
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
            dataType: 'text',
            data: $('#saForm').serialize(),
            beforeSend: function() {
                $('#saMsg').html($('#sa_mother').val() + ' added to results queue below!');
                var dt = new Date();
                // month array
                var month = new Array();
                month[0] = "Jan";
                month[1] = "Feb";
                month[2] = "Mar";
                month[3] = "Apr";
                month[4] = "May";
                month[5] = "Jun";
                month[6] = "Jul";
                month[7] = "Aug";
                month[8] = "Sep";
                month[9] = "Oct";
                month[10] = "Nov";
                month[11] = "Dec";
                // am pm
                var hours = dt.getHours();
                var ampm = hours >= 12 ? ' p.m.' : ' a.m.';
                // create time string
                var datetime = dt.getDate() + " "
                + (month[dt.getMonth()+1])  + " "
                + dt.getFullYear() + ", "
                + dt.getHours() + ":"
                + dt.getMinutes() + ampm;

                // set time string with seconds
                datetimesecs = datetime + dt.getSeconds();

                $('#resultsTable > tbody:last-child').prepend('<tr class="results-row" complete="False" dts="' + datetimesecs + '"><td class="full-name">{{ request.user.get_full_name }}</td><td>Stud Advisor: ' + $('#sa_mother').val() + '</td><td>' + datetime + '</td><td class="complete"><i class="fas fa-cog fa-spin text-info"></i></td><td class="results"><button class="btn btn-info" disabled>View</button></td></tr>');

            },
            success: function(data, global) {
                result = JSON.parse(data);
                // if timeout, the queue item has been created
                if (result.hasOwnProperty('item_id')) {
                    // iterate through the rows, starting from the first
                    $('.results-row').each( function (i, row) {
                        // if creator is request.user, and there isn't an id, and dts matches datetimeseconds
                        if ( ($(row).find('td[class*="full-name"]').html() == '{{ request.user.get_full_name }}')
                                        && ($(row).attr('id') == undefined)
                                        && ($(row).attr('dts') == datetimesecs) ) {

                            // remove full name class
                            $(row).find('td[class*="full-name"]').removeClass('full-name');
                            // remove datetimeseconds (dts) class
                            $(row).removeAttr('dts');

                            // set id for the new row, and break out of the loop
                            $(row).attr('id', result.item_id);
                            return false;
                        }
                    });
                }
            }
        });
    });

    var table = $('#resultsTable');

    $('#benerated, #mame, #created')
        .wrapInner('<span title="sort this column"/>')
        .each(function(){

            var th = $(this),
                thIndex = th.index(),
                inverse = false;

            th.click(function(){

                table.find('td').filter(function(){

                    return $(this).index() === thIndex;

                }).sortElements(function(a, b){

                    return $.text([a]) > $.text([b]) ?
                        inverse ? -1 : 1
                        : inverse ? 1 : -1;

                }, function(){

                    // parentNode is the element we want to move
                    return this.parentNode;

                });

                inverse = !inverse;

            });

        });
    
    // function called every 10 seconds to update results table
    window.setInterval(function(){
        // iterate through each row of results table
        $('.results-row').each(function (i, row) {
            // ignore if row is complete
            if ($(row).attr('complete') == 'False') {
                // get id of sa queue item
                var itemId = $(row).attr('id');
                
                // do ajax call to see if item is complete
                $.ajax({
                    url: "{% url 'stud_advisor_complete' %}",
                    type: 'post',
                    headers: {'X-CSRFToken': '{{ csrf_token }}'},
                    dataType: 'text',
                    data: {'item_id': itemId},
                    success: function(data) {
                        result = JSON.parse(data);

                        if (result.result == 'success') {
                            // if item is complete
                            if (result.complete) {
                                // set complete to True for the row
                                $(row).attr('complete', 'True');
                                // change spinning cog to tick
                                $(row).find('td[class*="complete"]').html('<i class="fad fa-check text-success"></i>');
                                // enable the results button
                                $(row).find('td[class*="results"]').html('<a href="stud_advisor_results/' + itemId + '"><button class="btn btn-info">View</button> </a> ');
                            }
                        } else {
                            // queue item with the given id doesn't exist
                            errorMsg('failed to update results table');
                        }
                    }
                });
            }
        })
    }, 10000);
</script>
<script type="text/javascript" src="{% static 'js/jquery.sortElements.js' %}"></script>

{% endblock %}