{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Metrics</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item active">Metrics</li>
            </ol>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->


    <div class="row">
        <div class="col-9">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Kinship</h4>
                    <p>Select a {{ service.mother_title }} and {{ service.father_title }} to predict what the COI of their offspring will be.</p>
                    <form id="ksForm">
                        <div class="form-row align-items-center">
                            <div class="col-md-5">
                                <div id="mothers-alive">
                                    <input id="id_mother" class="typeahead form-control" name='mother' type="text" placeholder="{{ service.mother_title }}">
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div id="fathers-alive">
                                    <input id="id_father" class="typeahead form-control" name='father' type="text" placeholder="{{ service.father_title }}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button id="ksBtn" class="btn btn-info" name='Submit' type="button" >Calculate Kinship</button>
                            </div>
                        </div>
                    </form>
                    <p id="ksResults" class="mt-2 d-none text-center"></p>

                    <script>
                        $('#ksBtn').click( function() {
                            $.ajax({
                                url: '{% url 'kinship' %}',
                                type: 'post',
                                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                                dataType: 'text',
                                data: $('#ksForm').serialize(),
                                beforeSend: function() {
                                    $('#ksBtn').attr("disabled", true);
                                    $('#ksResults').html('<i class="fa fa-spinner fa-spin" style="font-size:24px;color:#009efb"></i>');
                                    $('#ksResults').removeClass('d-none');
                                },
                                success: function(data) {
                                    try {
                                            var result = JSON.parse(data);
                                        }
                                    catch(err) {
                                              // not returned anything
                                              var result = '';
                                            }
                                    var coi = result.coi.replace('[1] ', '');
                                    $('#ksResults').html('<h4>Kinship results:</h4><p class="text-info">' + coi + '</p>')
                                    $('#ksBtn').attr("disabled", false);
                                 },
                                error: function(jqXHR, textStatus, errorThrown){
                                    $('#ksResults').html('<p class="text-danger">Error! Check the parent fields are correct.</p>')
                                    $('#ksBtn').attr("disabled", false);
                                }
                            });
                        });
                    </script>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Calculations</h4>
                    <p id="coiTimer" class="text-center"></p>
                    <button id="coiBtn" type="button" class="btn btn-block btn-success ml-1" data-toggle="modal" data-target="#add-contact">Run COI</button>
                    <hr>
                    <p id="meanKinshipTimer" class="text-center"></p>
                    <button id="meanKinshipBtn" type="button" class="btn btn-block btn-success ml-1" data-toggle="modal" data-target="#add-contact">Run Mean Kinship</button>
                </div>
            </div>
        </div>
        <script>
        $('#coiBtn').click( function() {
            $.ajax({
                url: '{% url 'run_coi' %}',
                type: 'post',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                dataType: 'text',
                data: [],
                beforeSend: function() {
                    $('#coiTimer').html('<i class="fa fa-spinner fa-spin" style="font-size:24px;color:#009efb"></i>');
                },
                success: function(data) {
                    try {
                            var result = JSON.parse(data);
                            var coi_countDownDate = new Date(result.coi_date).getTime();
                            var coi_countDownInterval = setInterval(function() { coi_countDown(coi_countDownDate); }, 1000);
                        }
                    catch(err) {
                              // not returned anything
                              var result = '';
                            }
                 },
                error: function(jqXHR, textStatus, errorThrown){
                }
            });
        });

        // Set the date we're counting down to and start loop interval
        var coi_countDownDate = new Date("{{ coi_date }}").getTime();
        var coi_countDownInterval = setInterval(function() { coi_countDown(coi_countDownDate); }, 1000);

        // Update the count down every 1 second
        function coi_countDown(coi_countDownDate) {
          // Get today's date and time
          var coi_now = new Date().getTime();

          // Find the distance between now and the count down date
          var coi_distance = coi_countDownDate - coi_now;

          // Time calculations for days, hours, minutes and seconds
          var coi_days = Math.floor(coi_distance / (1000 * 60 * 60 * 24));
          var coi_hours = Math.floor((coi_distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
          var coi_minutes = Math.floor((coi_distance % (1000 * 60 * 60)) / (1000 * 60));
          var coi_seconds = Math.floor((coi_distance % (1000 * 60)) / 1000);

          // Output the result in an element with id="demo"
          document.getElementById("coiTimer").innerHTML = 'Run COI again in:<br/>' + coi_days + "d " + coi_hours + "h "
          + coi_minutes + "m " + coi_seconds + "s ";

          // If the count down is over, write some text
          if (coi_distance < 0) {
            clearInterval(coi_countDownInterval);
            document.getElementById("coiTimer").innerHTML = "COI ready!";
            $('#coiBtn').attr("disabled", false);
          } else {
            $('#coiBtn').attr("disabled", true);
          }
        }
    </script>
        <script>
        $('#meanKinshipBtn').click( function() {
            $.ajax({
                url: '{% url 'run_mean_kinship' %}',
                type: 'post',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                dataType: 'text',
                data: [],
                beforeSend: function() {
                    $('#meanKinshipTimer').html('<i class="fa fa-spinner fa-spin" style="font-size:24px;color:#009efb"></i>');
                },
                success: function(data) {
                    try {
                            var result = JSON.parse(data);
                            var mk_countDownDate = new Date(result.mean_kinship_date).getTime();
                            var mk_countDownInterval = setInterval(function() { mk_countDown(mk_countDownDate); }, 1000);
                        }
                    catch(err) {
                              // not returned anything
                              var result = '';
                            }
                 },
                error: function(jqXHR, textStatus, errorThrown){
                }
            });
        });

        // Set the date we're counting down to and start loop interval
        var mk_countDownDate = new Date("{{ mean_kinship_date }}").getTime();
        var mk_countDownInterval = setInterval(function() { mk_countDown(mk_countDownDate); }, 1000);

        // Update the count down every 1 second
        function mk_countDown(mk_countDownDate) {
          // Get today's date and time
          var mk_now = new Date().getTime();

          // Find the distance between now and the count down date
          var mk_distance = mk_countDownDate - mk_now;

          // Time calculations for days, hours, minutes and seconds
          var mk_days = Math.floor(mk_distance / (1000 * 60 * 60 * 24));
          var mk_hours = Math.floor((mk_distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
          var mk_minutes = Math.floor((mk_distance % (1000 * 60 * 60)) / (1000 * 60));
          var mk_seconds = Math.floor((mk_distance % (1000 * 60)) / 1000);

          // Output the result in an element with id="demo"
          document.getElementById("meanKinshipTimer").innerHTML = 'Run Mean Kinship again in:<br/>' + mk_days + "d " + mk_hours + "h "
          + mk_minutes + "m " + mk_seconds + "s ";

          // If the count down is over, write some text
          if (mk_distance < 0) {
            clearInterval(mk_countDownInterval);
            document.getElementById("meanKinshipTimer").innerHTML = "Mean Kinship ready!";
            $('#meanKinshipBtn').attr("disabled", false);
          } else {
            $('#meanKinshipBtn').attr("disabled", true);
          }
        }
    </script>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Stud Advisor</h4>
                    <p>Select a {{ service.mother_title }} to determine who will be the best matches for mating.</p>
                    <form id="saForm" class="pb-4">
                        <div class="form-row align-items-center">
                            <div class="col-md-3">
                                <div id="mothers-alive">
                                    <input id="sa_mother" class="typeahead form-control" name='mother' type="text" placeholder="{{ service.mother_title }}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button id="saBtn" class="btn btn-info" name='Submit' type="button" >Run Advisor</button>
                            </div>
                            <div class="col-md-3">
                                <div id="motherDetails" class="d-none">
                                    <h3 class="card-title">{{ service.mother_title }} Details</h3>
                                    <ul class="list-icons">
                                        <li id="mdRegID"><i class="ti-angle-right"></i></li>
                                        <li id="mdMeanKinship"><i class="ti-angle-right"></i></li>
                                        <li id="mdBand"><i class="ti-angle-right"></i></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div id="breedDetails" class="d-none">
                                    <h3 class="card-title">Breed Details</h3>
                                    <ul class="list-icons">
                                        <li id="breedMeanCoi"><i class="ti-angle-right"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                    <table id="saTable" class="table table-bordered table-striped" data-show-refresh="true">
                        <thead>
                            <tr>
                                <th scope="col">Reg No.</th>
                                <th scope="col">Name</th>
                                <th scope="col" class="d-none d-sm-table-cell">Kinship Band</th>
                                <th scope="col" class="d-none d-sm-table-cell">Kinship</th>
                            </tr>
                        </thead>
                        <tbody id="saTbody">
<!--                        <tr><td>1</td><td>1</td><td>1</td><td>1</td></tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
            <script>
                $('#saBtn').click( function() {
                    $.ajax({
                        url: '{% url 'stud_advisor' %}',
                        type: 'post',
                        headers: {'X-CSRFToken': '{{ csrf_token }}'},
                        dataType: 'text',
                        data: $('#saForm').serialize(),
                        beforeSend: function() {
                            $.ajax({
                                url: '{% url 'stud_advisor_mother_details' %}',
                                type: 'post',
                                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                                dataType: 'text',
                                data: $('#saForm').serialize(),
                                beforeSend: function() {
                                },
                                success: function(data) {
                                    try {
                                            var result = JSON.parse(data);
                                            console.log(result);
                                            var fade = 1000
                                            $('#motherDetails').removeClass('d-none');
                                            $('#mdRegID').hide().html('<i class="ti-angle-right"></i> {{ service.mother_title }}: ' + result.reg_no).fadeIn(fade);
                                            $('#mdMeanKinship').hide().html('<i class="ti-angle-right"></i> Mean Kinship: ' + result.mk).fadeIn(fade);
                                            $('#mdBand').hide().html('<i class="ti-angle-right"></i> Breed Band: ' + result.band).fadeIn(fade);

                                            $('#breedDetails').removeClass('d-none');
                                            $('#breedMeanCoi').hide().html('<i class="ti-angle-right"></i> Breed Mean COI: ' + result.breed_mean_coi).fadeIn(fade);
                                        }
                                    catch(err) {
                                              // not returned anything
                                            }
                                 },
                                error: function(jqXHR, textStatus, errorThrown){
                                }
                            });

                        },
                        success: function(data) {
                            try {
                                    var result = JSON.parse(data);
                                    $("#saTable tbody").empty();
                                    $.each(result, function(index, element) {
                                        var tr = "<tr><td>" + element.reg_no + "</td><td>" + element.name + "</td><td>" + element.kinship_band + "</td><td>" + element.kinship + "</td></tr>";
                                        $('#saTable tbody').append(tr);
                                    });
                                }
                            catch(err) {
                                      // not returned anything
                                    }
                         },
                        error: function(jqXHR, textStatus, errorThrown){
                        }
                    });
            });
            </script>
        </div>
    </div>

{% endblock %}