{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor m-b-0 m-t-0">Metrics</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item active">Metrics</li>
            </ol>
        </div>
        <div class="col-md-6 col-4 align-self-center">
<!--            <button type="button" class="btn float-right hidden-sm-down btn-success ml-1" data-toggle="modal" data-target="#add-contact">Run COI</button>-->
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->


        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Kinship</h4>
                    <form id="ksForm">
                        <div class="form-row align-items-center">
                            <div class="col-md-4">
                                <div id="mothers-alive">
                                    <input id="id_mother" class="typeahead form-control" name='mother' type="text" placeholder="{{ service.mother_title }}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="fathers-alive">
                                    <input id="id_father" class="typeahead form-control" name='father' type="text" placeholder="{{ service.father_title }}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button id="ksBtn" class="btn btn-info" name='Submit' type="button" >Calculate Kinship</button>
                            </div>
                        </div>
                    </form>
                    <p id="ksResults" class="mt-2 d-none text-center"></p>

                    <script>
                        $('#ksBtn').click( function() {
                            $.ajax({
                                url: '{% url 'kinship' %}',
                                type: 'post',
                                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                                dataType: 'text',
                                data: $('#ksForm').serialize(),
                                beforeSend: function() {
                                    $('#ksBtn').attr("disabled", true);
                                    $('#ksResults').html('<i class="fa fa-spinner fa-spin" style="font-size:24px;color:#009efb"></i>');
                                    $('#ksResults').removeClass('d-none');
                                },
                                success: function(data) {
                                    try {
                                            var result = JSON.parse(data);
                                        }
                                    catch(err) {
                                              // not returned anything
                                              var result = '';
                                            }
                                    var coi = result.coi.replace('[1] ', '');
                                    $('#ksResults').html('<h4>Kinship results:</h4><p class="text-info">' + coi + '</p>')
                                    $('#ksBtn').attr("disabled", false);
                                 },
                                error: function(jqXHR, textStatus, errorThrown){
                                    $('#ksResults').html('<p class="text-danger">Error! Check the parent fields are correct.</p>')
                                    $('#ksBtn').attr("disabled", false);
                                }
                            });
                        });
                    </script>
                </div>
            </div>
        </div>

{% endblock %}